/* SIDEBAR BOX contact box 
========================================== */

#block-myusf-contactbox {
	border-style: none!important;
	background-color: $light_beige;
	padding: 5px 18px!important;

    @include media-breakpoint-only(tablet) {        
        position: relative;
        width: 250px;
        left: 100%; /* was 30% */
        padding: 5px 10px!important;

        h2, p {
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    h2 {
	   font-size: .85rem!important;
	   text-transform: uppercase!important;
	   font-weight: 700;
	   text-shadow: none;
       margin-top: .85rem;
	   color: $text-gray!important;
	   border-bottom: none;
    }

    h3, h3 a {
	   font-size: 1.2rem;
	   line-height: 1.3rem;
	   font-weight: 700;
	   padding-bottom: 10px;
    }

    h3 a {
	   text-decoration: none!important;
	   text-transform: none!important;

        &:hover, 
        &:focus {
	       background: none!important;
	       color: $green!important;
	       text-decoration: underline!important;
        }
    }
    
    p {
        font-size: .8rem;
        font-family: $base-font;
        font-weight: 400;
        position: relative;
        color: $text-gray;
        display: block;
        line-height: 1.2rem;
    }
}

.contact-info {
    margin-bottom: 20px;
}

.contact {
	line-height: 1.3rem!important;
	margin-bottom: 0;
	padding-left: 30px;

    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        margin: 0 0 10px;
        padding: 0 0 0 20px;
        background: url(/themes/custom/myusf/images/site/icons.png) no-repeat;
        background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat;
    }    
}


.tel::before {
    width: 16px;
    height: 16px;
    background-position: -219px -60px!important;
}

.fax::before {
    width: 16px;
    height: 16px;
    background-position: -239px -60px!important;
}

.email::before {
    top: 3px;
    width: 16px;
    height: 16px;
    background-position: -199px -60px!important;
}

.content {
    .contact {
        padding-left: 0px; 
        display: inline-block;

        &::before {
            position:relative;
            display: inline-block;

        }
    }
    .email::before, .tel::before {
        top: 15px;
        margin-right: 5px;
    }
    .contact.tel {
        margin-left: 30px;

        @include media-breakpoint-down(phone) {
             margin-left: 0px;
        }
    }
}


/* SIDEBAR BOX Calendar Events Search Controls 
=============================================== */ 
#block-event-search {
    background-color: $light_beige;
    border: none;
    padding: 0 15px 45px 15px!important;
    margin-top: .5rem;
    width: inherit;

    @include media-breakpoint-only(tablet) {
        position: fixed;
        width: 25%;
        right: 30px;
        top: 190px;
        margin-top: -22px;
    }

    @include media-breakpoint-down(phone) {
        margin-top: 1rem;
    }

    h2 {
        margin: 0;
        border-bottom: none;
        text-shadow: none;
        font-size: inherit;
        line-height: inherit;
        padding-bottom: .5rem;
        padding-top: 10px;
    }
    .button-form {
        padding: 10px 0 0 0;

        .button {
            width: 100%;
            padding: 12px;
            margin-top: 0.5rem;

            &:hover {
                color: $green;
            }
        }
    }
    .search-form {
        padding: 0 0 10px 0;
        border-radius: 0!important;
    }   
    .search-input {
        border-radius: 0;
        height: 2rem;
        margin-bottom: .5rem;
        width: 100%;
        border-color: $light_gray;
    }
    .category-form .event_category {
        width: 100%;
        height: 30px;
        margin-bottom: .5rem;
        border: 0;
        border-radius: 0;
        outline: 1px solid $light_gray;
        outline-offset: -1px;
        font-size: .75rem;
        font-family: $base-font;

    }
    .date-widget {
      padding:10px 0 0 0;

        .ui-datepicker, .ui-widget, .ui-widget-content {
            width: inherit;
            padding: inherit;   
            background-color: inherit;  
        }
        .ui-widget {
            border: 0!important;
        
            .ui-widget-header {
                border: 0;
                background: rgba(0,0,0, .15);
                color: $text_gray!important;
                font-weight: bold;  
                font-family: $base-font;
                border-radius: 0;
            }   
        }
        .ui-datepicker {
            font-size: 0.75rem;

            table {
                display: table;
            }

            thead tr {
                border-bottom: 0;
            }
            table tr th {
                background: rgba(0, 0, 0, .3);
                padding: 3px 3px 3px 5px;
                font-size: .6rem;
                text-transform: uppercase;
            }
            tbody tr  {
                border-bottom: 0!important;

                td {
                    font-size:0.75rem;
                    padding-top: 5px;
                    padding-bottom: 5px;

                    a {
                        background: inherit!important;
                        border: 0 !important;

                        &:hover,
                        &:focus {
                            background-color: $white!important;
                        }
                        &.ui-state-active {
                            color: $black!important;
                            font-weight: 700!important;
                        }
                        &.ui-state-highlight {
                            color: inherit;
                        }
                    }                    
                }

                &:first-of-type {
                    td {
                        padding-top: 15px;
                    }
                }
                &:last-of-type {
                    td {
                        padding-bottom: 15px;
                    }
                }
            }
        }

        .ui-datepicker-calendar {
            padding-bottom: 5px;
        
             tbody a {
                text-align: center !important;
            }
        }
    }
    .ui-widget-header {
        .ui-state-hover {
            background: unset;
            border-radius: 0;
            border: 0;
        }

        .ui-datepicker-prev-hover {
            top: 2px;
            left: 2px;
        }
        .ui-datepicker-next-hover {
            top: 2px;
            right: 2px; 
        }

        .ui-icon {
            background-image: unset;
    
            &.ui-icon-circle-triangle-w::after {
                position: absolute;
                display: block;
                content: "";
                z-index: 1;
                background: url(/themes/custom/myusf/images/site/icons.png) -196px -140px no-repeat;
                background: url(/themes/custom/myusf/images/site/icons.svg) -196px -140px no-repeat;
                width: 30px;
                height: 30px;
                top: -5px;
                margin-left: 5px;
            }
            &.ui-icon-circle-triangle-w:hover::after {
                background: url(/themes/custom/myusf/images/site/icons.png) -196px -160px no-repeat;
                background: url(/themes/custom/myusf/images/site/icons.svg) -196px -160px no-repeat;
            }
 
            &.ui-icon-circle-triangle-e::after {
                position: absolute;
                display: block;
                content: "";
                z-index: 1;
                background: url(/themes/custom/myusf/images/site/icons.png) -218px -140px no-repeat;
                background: url(/themes/custom/myusf/images/site/icons.svg) -218px -140px no-repeat;
                width: 30px;
                height: 30px;
                top: -5px;
            }
 
            &.ui-icon-circle-triangle-e:hover::after {
                background: url(/themes/custom/myusf/images/site/icons.png) -218px -160px no-repeat;
                background: url(/themes/custom/myusf/images/site/icons.svg) -218px -160px no-repeat;
            }
        }
    }
}

/* CAROUSELS 
=============================================== */ 

/* Paragraphs Carousel - Slideshow 
=============================================== */

a.left.carousel-control {
    &:hover,
    &:focus {
        &::before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 15px;
            height: 15px;
            top: calc(45% + 17.5px);
            left: 17px;
            z-index: 1;
            background: url(/themes/custom/myusf/images/site/icons.png) -80px -128px no-repeat;
            background: url(/themes/custom/myusf/images/site/icons.svg) -80px -128px no-repeat;

           /* @include media-breakpoint-only (tablet) {
                top: calc(43.5% + 5px);
            }
            @include media-breakpoint-down(landscape_phone) {
                top: calc(47% + 5px);
            }*/
            @include media-breakpoint-down(phone) {
                top: calc(33% + 12.5px);
                left:14px
            }
        }
        &::after {
            position: absolute;
            content: "";       
            width: 50px;
            height: 50px;
            top: 45%;
            background: transparentize($black, .2);

           /* @include media-breakpoint-only (tablet) {
                top: 41%;
            }
            @include media-breakpoint-down(landscape_phone) {
                top: 45%;
            }*/
            @include media-breakpoint-down(phone) {
               top: 33%;
               width: 40px;
               height: 40px;
            }
        }
    }

    .glyphicon-chevron-left {
        &::before {
            position: absolute;
            content: "";
            width: 50px;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}



a.right.carousel-control {
    &:hover,
    &:focus {
        &::before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 15px;
            height: 15px;
            top: calc(45% + 17.5px);
            right: 12px;
            z-index: 1;
            background: url(/themes/custom/myusf/images/site/icons.png) -100px -128px no-repeat;
            background: url(/themes/custom/myusf/images/site/icons.svg) -100px -128px no-repeat;

            /*@include media-breakpoint-only (tablet) {
                top: calc(43.5% + 5px);
            }
            @include media-breakpoint-down(landscape_phone) {
                top: calc(47% + 5px);
            }*/
            @include media-breakpoint-down(phone) {
                top: calc(33% + 12.5px);
                right:8px;
            }
        }
        &::after {
           position: absolute;
            content: "";
            width: 50px;
            height: 50px;
            top: 45%;
            right: 0;
            background: transparentize($black, .2);

            /*@include media-breakpoint-only (tablet) {
                top: 41%;
            }
            @include media-breakpoint-down(landscape_phone) {
                top: 45%;
            }*/
            @include media-breakpoint-down(phone) {
                top: 33%;
                width: 40px;
                height: 40px;
            }
        }
    }
    .glyphicon-chevron-right {   
        &::after {
            position: absolute;
            content: "";        
            width: 50px;
            height:100%;
            top: 0;
            right: 0;
        }
    }  
}

.paragraph--type--bp-carousel {
        margin-bottom: 40px;

    .field--name-bp-text {
        figure {
            figcaption {
                font-size: .9rem;
                font-style: italic;        
                line-height: 1.3rem;
                color: $white;
                background:$gray;
                width: 100%;
                padding: 15px 5% 15px;        
                margin: -1px auto 0 auto;

                a {
                    color: $white!important;
                    text-decoration: underline;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        background: transparent;
                    }
                }
            }
            
            &.caption-img, p {
                float: unset!important;
                margin-right: 0;
                max-width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    margin: auto;
                }
            }
        }
        img {
            margin-top: 0!important;
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
        }
     }
    .carousel-indicators {
        width:100%;
        top: 100%;
        bottom: unset;
        padding-bottom: 10px;        
        margin-left: 0;

        li {
            width: 12px;
            height: 12px;
            border-radius: 7px;
            background: transparentize($black, .6);
        }

        .active {
            background-color: $black!important;
        }
    }
}

.paragraph.paragraph--width--medium.paragraph--type--bp-carousel>.carousel-inner {
    @include media-breakpoint-up(tablet) {
        float: left;
        width: 66.66666667%;
        margin-left: 16.66666667%;
    }
}
.paragraph.paragraph--width--full.paragraph--type--bp-carousel>.carousel-inner, 
.paragraph.paragraph--width--medium.paragraph--type--bp-carousel>.carousel-inner, 
.paragraph.paragraph--width--narrow.paragraph--type--bp-carousel>.carousel-inner, 
.paragraph.paragraph--width--tiny.paragraph--type--bp-carousel>.carousel-inner, 
.paragraph.paragraph--width--wide.paragraph--type--bp-carousel>.carousel-inner {
    position: relative;
    min-height: 1px;
    padding-left: 0!important;
    padding-right: 0!important;
}


/* EVENTS Carousel
=============================================== */ 
/*h2.carousel-overlay {
    position: absolute;
    font-size: .9rem;
    font-weight: 700;
    color: #fff!important;
    margin: 0;
    padding-left: 30px;
    top: -10px;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}

h2.carousel-overlay:before {
    width: calc(100% + 30px);
    height: 30px;
    top: 17px;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
    display: block;
    position: absolute;
    content: "";
}*/

#carouselControls {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;

    @include media-breakpoint-down(phone) {
        width: 88%;
        @include margin-L-R-auto;
    }
} 

.carousel-inner2 {
    z-index: -2;
}
.carousel-item {
    a {
        text-decoration: none;
    }
    .img-fluid {
        width: 100%;
    }
}
.carousel-control-prev {
    opacity: 1;
    @include diamond_button(-80px, -128px, 45deg, transparent, $yellow, $green);

    &::before {
        width: 10px;
        height: 14px;
        /*top: 236px;*/
        top: calc(50% + 16px);
        left: 41px;
        z-index: 1;
    }
    &::after {
        width: 45px;
        height: 45px;
        /*top: 220px;*/
        top: 50%;
        left: 25px;
        z-index: 0;
    }

    &:hover,
    &:focus {
        opacity: 1;
    } 

    @include media-breakpoint-down(tablet) { 
        margin-top: -50px;

        &::before {
            top: calc(50% + 12.5px);
            left: 26px;
        }
        &::after {
            width: 35px;
            height: 35px;
            left: 15px;
        }
    }
    @include media-breakpoint-only(landscape_phone) {  
        margin-top: 0px;
        left: 8px;
    }

    @include media-breakpoint-down(phone) { 
        margin-top: -42px;

        &::before {
            top: 213px;
            left: -6px;
        }
        &::after {
            width: 45px;
            height: 45px;
            top: 196px;
            left: -23px;
        }
    }
}

.carousel-control-next {
    opacity: 1;
    @include diamond_button( -100px, -128px, 45deg, transparent, $yellow, $green);

    &::before {
        width: 10px;
        height: 14px;
        /*top: 236px;*/
        top: calc(50% + 16px);
        right: 38px;
        z-index: 1;
    } 

    &::after {
        width: 45px;
        height: 45px;
        /*top: 220px;*/
        top: 50%;
        right: 23px;
        z-index: 0;
    }
    
    &:hover,
    &:focus {
        opacity: 1;
    } 

    @include media-breakpoint-down(tablet) { 
        margin-top: -50px;

        &::before {
            top: calc(50% + 12.5px);
            left: 39px;
        }
        &::after {
            width: 35px;
            height: 35px;

            left: 25px;
        }
    }
    @include media-breakpoint-only(landscape_phone) {  
        margin-top: 0px;
         right: -5px;
    }

    @include media-breakpoint-down(phone) { 
        margin-top: -42px;

        &::before {
            top: 213px;
            left: 41px;
        }
        &::after {
            width: 45px;
            height: 45px;
            top: 196px;
            left: 23px;
        }
    } 
}
//Home page Carousel
.page-node-140134 .carousel-control-prev {
    @include media-breakpoint-down(tablet) { 
        margin-top: 50px;
        left: 5px;
    }
    @include media-breakpoint-only(landscape_phone) {  
        margin-top: 0px;
        left: 8px;
    }
    @include media-breakpoint-down(phone) {  
        margin-top: -42px;
        left: 0px;
    }
}
.page-node-140134 .carousel-control-next {
    @include media-breakpoint-down(tablet) { 
        margin-top: 50px;
        right: -25px;
    }
    @include media-breakpoint-only(landscape_phone) {  
        margin-top: 0px;
         right: -5px;
    }
    @include media-breakpoint-down(phone) {  
        margin-top: -42px;
        right: 0px;
    }
}

.page-node-140134 .view-events-featured {
    margin-top: -.8rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}

.carousel-caption {
    background: none;
    height:300px;
    background: linear-gradient(to bottom, transparentize($black, 1) 20%,transparentize( $black, 0) 100%)!important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    left: 0%;
    right: 0%;
    bottom: 0%;

    h3.carousel-event-title {
        font-size: 1.4rem;
        font-weight:700;
        padding-top: 150px;
        padding-left: 55px;
        padding-right: 55px;
        color: $white!important;

         @include media-breakpoint-down(tablet) { 
            font-size: 1.1rem;
            text-transform: capitalize;
            padding-left: 70px;
            padding-right: 70px;
            padding-bottom: 5px;
         }

         @include media-breakpoint-down(phone) {  
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 0px;
         }
    }

    p {
        color: $white;
        margin-top: -10px;

         @include media-breakpoint-down(tablet) { 
            font-size: 0.9rem;
            line-height: 1.2rem;
        }
    }
    p:last-of-type {
        margin-top: -15px;
    }

    @include media-breakpoint-down(phone) { 
        position: relative;
        /*margin-top: -150px;*/
        background:$text_gray!important;
        height:200px;
        padding-left: 20px;
        padding-right: 20px;

        .carousel-event-title { 
            font-size: 1rem;
            line-height: 1.3rem!important;
            padding-top: 15px;
            
        }

        p {
            font-size: 0.8rem;
            line-height: 1.1rem;
        }
    }

}

.carousel-indicators {
    margin-bottom: 12px;

    @include media-breakpoint-down(tablet) {
        bottom: 0px;
        z-index: 1;
    }

    li {
        width: 9px;
        border-radius: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }
}

/* News Carousel 
=============================================== */
.carousel.news-carousel {
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: 45px;

    @include media-breakpoint-down(tablet) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-down(phone) {
       /* margin-left: -17px;
        margin-right: unset;*/
        margin-left: auto;
    margin-right: auto;
    }
    #carouselControls {       
         width:100%;
        @include media-breakpoint-down(phone) {
            width: 82vw;
        }
    }
    .carousel-inner {
        @include media-breakpoint-down(phone) {
            width:101%;
        }
    }
    .carousel-control-next::before {
        @include media-breakpoint-down(phone) {
            left: 98%;
            top: 60%;
        }
    }
    .carousel-control-prev::before {
        @include media-breakpoint-down(phone) {
            left: -6px;
            top: 60%;
        }
    }
    .carousel-control-prev::after, .carousel-control-next::after {
        @include media-breakpoint-down(phone) {
            width: 35px;
            height: 35px;  
            top:55%;          
            /*top: calc(50% + 3px);*/
        }
    }
    .carousel-control-prev::after {
        @include media-breakpoint-down(phone) {
            left: -18px;
        }
    }
    .carousel-control-next::after {
        @include media-breakpoint-down(phone) {
            /*left: 48px; */
            left: 70%;
        }
     }
     .carousel-indicators {
        @include media-breakpoint-up(desktop) {
            margin-bottom: 2px;
        }
    }
    .carousel-indicators-shade {
        @include media-breakpoint-down(phone) {
            width: 101%; 
            margin-left: 0;
            margin-bottom: -2px;
            padding-bottom: 5px;
            background: linear-gradient(to bottom,rgba(42,42,42,0) 0%,$black 100%)!important;
        }
     }
    .carousel-caption {
        
        @include media-breakpoint-down(phone) {
            height:unset;

        }

        h3.carousel-event-title {
            display: none;
        }

        p:last-of-type {
            position: absolute;
            padding: 0 25px 10px;
            bottom: 0!important;

            @include media-breakpoint-down(phone) {
                position: relative;
                padding: 10px 0;
                margin-bottom: -5px;

            }
        }
    }
}


/* HERO IMAGE
================================================ */

/*.region-hero-image {
    display:block;
}*/

/* Hero Image Header - Jumbotron with text
=============================================== */ 
.region-hero-image {
    margin-left: 0;
    margin-right: 0;
    @include media-breakpoint-down(phone) {
        height: 160px;
        
    }
}
.view-content-hero-image {
    position: relative;
    padding-left: 0;
    padding-right: 0;

   &.container-fluid {
        @include media-breakpoint-down(phone) {
            
        }
    }
}
.hero-image-block {
    margin: -25px 0 -50px 0 !important;

    a {
        text-decoration: none;
    }
}
.hero_image {
    position: relative;
    max-height: 500px;
    margin-bottom: 100px;
    margin-top: -1px;
    
    img {
        position: relative;
        z-index: -1;
        margin-top: 0;
    }
}

.hero-image-title-box {  
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    color: $white;

    @include media-breakpoint-down(tablet) {
        bottom: 0px;
        width:96%;
        margin-left: unset;
    }

    .hero_image_title, .hero_image_subtitle, .hero_image_body {
        display: inline-block;         
        padding-left: 2.7rem;
        padding-right: 15px;   
        padding-bottom: 1px; 
        /*text-shadow: 2px 2px 10px rgba(0,0,0,.9); */
        background: transparentize($black, .2);  

        @include media-breakpoint-down(tablet) { 
            margin-left: 0;
            padding-left: 15px;
        }        
    }
    .hero_image_title {    
        font-size: 2rem;
        font-weight: 700;       
        line-height: 1.1rem;
        padding-top: 15px;
        padding-bottom: 20px;


        @include media-breakpoint-down(tablet) {
            font-size: 1.3rem;
            line-height: .9rem;           
            padding-top: 5px;
            padding-bottom: 7px;
        }
        @include media-breakpoint-down(phone) {
            font-size: 1rem;
        }
    }
    .hero_image_subtitle {    
        font-size: 1.1rem;
        text-transform: uppercase;
        width: 35%;

        @include media-breakpoint-down(tablet) {
            font-size: .8rem;
            line-height: 1rem;
        }
        @include media-breakpoint-down(phone) {
            display:none;
        }
    }
    .hero_image_body {
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 35%;
        @include media-breakpoint-down(tablet) {
            font-size: .8rem;
            line-height: 1rem;
        }
        @include media-breakpoint-down(phone) {
            display:none;
        }
    }
}


/* EVENTS Widget
=============================================== */ 
.events-widget-title {
 
}
.events-widget-time {
    font-size: 1rem;
}

.events-widget-location {
    font-size: 1rem;
}
.paragraph--type--bp-columns__2col {

    .view-events-search .views-row { 
        article {
            padding-bottom: 12px;
            padding-top: 3px;
        }

        &:first-child article {
            border-top: 1px solid $light_gray;
        }
    }

    .events-widget-title {
        img {
            width: 67px!important;
            height: 50px!important;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .events-widget-time {
        font-size: .9rem;
        margin-top: -7px;
    }
    .events-widget-location {
        display: none;
    }
    .view-events-search.view-display-id-block_2  {
         ul.pagination li {
            margin-right: 0px;
         }
    }
}

.view-events-search.view-display-id-block_2  {
    margin-top: 7px;

    ul.pagination {
        padding-left: 0;

        li {
            padding-left: 0;
        }
    }
}

/* FACULTY Info
=============================================== */ 

.faculty_main_info {
    font-size:1rem;
    display: inline-block;
    width: 100%;

    @include media-breakpoint-down(phone) {
        margin-left: 0px;
    }

    .faculty_image, .faculty img {
        float: left;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        margin-right: 20px;
        overflow: hidden;

        @include media-breakpoint-down(phone) {
            width: 94px;
            float: right;
            margin: 6px 0 10px 10px;
        }
    }
    h2 {
        padding-top: .5rem;
    }
    .professional_title {
        color: $black;
        text-transform: uppercase;
    }

    .faculty_position {
        font-style: italic;
    }
    .faculty_contact {
        margin-top: -20px;
    }
}

.faculty_content {
    font-size:1rem;
    border-bottom: 1px solid $light_gray;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.view-faculty {
    .pagination {
        -webkit-padding-start: 0px;

        .page-item {
            padding-left: 0px;
        }
        .pager__item--next {
            margin-right: 0px; 
            padding-left: 0px;
        }
    }
}

/* NEWS List
=============================================== */ 
.view-news {
    .views-row {
        &:hover, &:focus {
            background: $light_beige;
        }
        a {
            text-decoration: none;
            &:hover, &:focus {
                background: transparent;
            }
            article {
                width: 100%;
                display:inline-block;
                padding-top: 10px;
                padding-bottom: 20px;
                border-bottom: 1px solid $light_gray;

                 @include media-breakpoint-down(phone) {
                    padding-bottom: 15px;
                 }

                img {
                    width: 107px;
                    float: left;
                    margin-left: 15px;
                    margin-right: 20px;
                    @include media-breakpoint-down(phone) {                        
                        width: 80px;
                        margin-left: 0px;
                        margin-right: 15px;
                    }
                }
                h3.news-list-title{                   
                    color: $green!important;
                    text-transform: capitalize;
                    margin-top: -3px;
                    @include media-breakpoint-down(tablet) {
                        font-size: 1rem;
                        font-weight:700!important;
                        margin-top: -5px;
                    }
                }
                .news-list-date {
                    font-size: 1rem;
                    color: $black;
                    @include media-breakpoint-down(tablet) {
                        margin-top: -5px;
                    }
                }
                .news-list-text {
                    overflow: hidden;
                }
            }
        }
    }
}



 