p {
	border:0px solid red;
}


a {
	border:0px solid orange;
}


div {
	border:0px solid black;
	font-family: $arial-font-stack;
}



article {
	font-family: $arial-font-stack;
}

.thing {
	width:100%;
}

.box {
	margin: 0 0 10 10;
	border: 2px dotted red;

}
