.button {
	background-color: $green;
	padding: 10px 10px 10px 10px;
	width: 100%;
	text-align: center;
}

.button:hover, .button:focus {
	background-color: $white;
	box-shadow: inset 0 0 0 4px $green;
	transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s !important;
	color: $green;
}


.button a {
	font-size: .8rem;
	line-height: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $white;
	font-family: $base-font;
	text-decoration: none;
	display: block !important;
	position: relative;
}

.button a:hover, .button a:focus {
	color: $green;
	text-decoration: none !important;
	background: none;
}


p.instagram, p.facebook, p.twitter, p.youtube, p.vimeo, p.linkedin, p.flickr, p.tumblr, p.pinterest, p.googleplus {
    height: 40px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    margin: 20px auto;
    text-transform: uppercase;
}
.instagram, .facebook, .twitter, .youtube, .vimeo, .linkedin, .flickr, .tumblr, .pinterest, .googleplus {
    background-color: #ffffff;
}

p.facebook {
    border: 3px solid #3b5998;
}
p.instagram {
	border:3px solid #eb821e;

}
p.twitter {
	border:3px solid #1da1f2;
}
p.youtube {
	border:3px solid #bb0000;
}
p.vime {
	border:3px solid #1ab7ea;
}
p.linkedin {
	border:3px solid #007bb6;
}
p.flickr {
	border:3px solid #a8228e;
}
p.tumblr {
	border:3px solid #35465c;
}
p.pinterest {
	border:3px solid #bd081c;
}
p.googleplus {
	border:3px solid #dd5044;
}


.instagram a, .facebook a, .twitter a, .youtube a, .vimeo a, .linkedin a, .flickr a, .tumblr a, .pinterest a, .googleplus a {
    font-size: 0.8rem !important;
    font-family: $base-font;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $gray;
}



.instagram a, .facebook a, .twitter a, .youtube a, .vimeo a, .linkedin a, .flickr a, .tumblr a, .pinterest a, .googleplus a {
    background-color: $white;
    display: block;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-right: 30px;
    padding-left: 4px;
    line-height: 1.3rem;
}

.facebook:after {
    background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat -36px 0;
}
.instagram:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat 2px 0;
}
.twitter:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat -75px 0;
}
.youtube:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat -112px 0;
}
.vimeo:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat -150px 2px;
}
.linkedin:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat 2px -38px;
}
.flickr:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat -36px -38px;
}
.tumblr:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat -75px -37px;
}
.pinterest:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat -113px -38px;
}
.googleplus:after {
	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat -150px -37px;
}


.instagram:after, .facebook:after, .twitter:after, .youtube:after, .vimeo:after, .linkedin:after, .flickr:after, .tumblr:after, .pinterest:after, .googleplus:after {
    vertical-align: middle;
    display: inline-block;
    content: "";
    width: 36px;
    height: 36px;
    float: right;
    position: relative;
    top: -32px;
    right: -2px;
}

.instagram:hover, .facebook:hover, .twitter:hover, .youtube:hover, .vimeo:hover, .linkedin:hover, .flickr:hover, .tumblr:hover, .pinterest:hover, .googleplus:hover,
.instagram:focus, .facebook:focus, .twitter:focus, .youtube:focus, .vimeo:focus, .linkedin:focus, .flickr:focus, .tumblr:focus, .pinterest:focus, .googleplus:focus {
    box-shadow: inset 0 0 0 3px;
    transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s !important;
}

.instagram a:hover, .facebook a:hover, .twitter a:hover, .youtube a:hover, .vimeo a:hover, .linkedin a:hover, .flickr a:hover, .tumblr a:hover, .pinterest a:hover, .googleplus a:hover,
.instagram a:focus, .facebook a:focus, .twitter a:focus, .youtube a:focus, .vimeo a:focus, .linkedin a:focus, .flickr a:focus, .tumblr a:focus, .pinterest a:focus, .googleplus a:focus {
	color: $text_gray !important;
	text-decoration: none !important;
}