span.diamond_link {
    position: relative;
    display: inline-block;
    padding-right: 40px;
}

#sidebar_second .button {
    width: 100%;
}

.button {
    @include button($green);
}
.button.blue {
    @include button($blue);
}
.button.olive {
    @include button($olive);
}
.button.orange {
    @include button($orange);
}
.button.plum {
    @include button($plum);
}
.button.terra_cotta {
    @include button($terra_cotta);
}
.button.turquoise {
    @include button($turquoise);
}
.button.yellow {
    @include button($yellow);
}

// SOCIAL MEDIA BUTTONS with text

.facebook {
    @include social($facebook, -44px, 0);
}
.flickr {
    @include social($flickr, -44px, -42px);
}
.google.plus {
    @include social($googleplus, -171px, -42px);
}
.instagram {
    @include social($instagram, -2px, 0);
}
.linkedin {
    @include social($linkedin, -2px, -42px);
}
.pinterest {
    @include social($pinterest, -128px, -42px);
}
.tumblr{
    @include social($tumblr, -86px, -42px);
}
.tumbler{
    @include social($tumblr, -86px, -42px);
}
.twitter {
    @include social($twitter, -86px, 0);
}
.vimeo {
    @include social($vimeo,-170px, 0);
}
.youtube {
    @include social($youtube,-129px, 0);
}

// SOCIAL MEDIA BUTTONS gray with no text 


.facebook_gray {
    @include social_gray($facebook, -43px, -87px);
}
.flickr_gray {
    @include social_gray($flickr, -43px, -129px);
}
.googleplus_gray {
    @include social_gray($googleplus, -170px, -128px);
}
.instagram_gray {
    @include social_gray($instagram, -1px, -86px);
}
.linkedin_gray {
    @include social_gray($linkedin, -1px, -129px);
}
.pinterest_gray {
    @include social_gray($pinterest, -128px, -129px);
}
.tumblr_gray {
    @include social_gray($tumblr, -86px, -129px);
}
.twitter_gray {
    @include social_gray($twitter, -86px, -86px);
}
.vimeo_gray {
    @include social_gray($vimeo,-170px, -86px);
}
.youtube_gray {
    @include social_gray($youtube,-129px, -86px);
}

.facebook_gray span, .flickr_gray span, .googleplus_gray span, .instagram_gray span, .linkedin_gray span, 
.pinterest_gray span, .tumblr_gray span, .twitter_gray span, .vimeo_gray span, .youtube_gray span {
    display: none;
}


.btn {
	border-radius: 0;
}

.btn-primary {
    background: $green;
    box-shadow: inset 0 0 0 4px $green;
    border-color: $green;

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {
        background: $white;
        color: $black;
        border-color: $green;
    }
}

button.bp-accordion--button {
    font-size: 0.7rem;
    font-weight: 600!important;
    background: transparent;
    color: #00543c;
    text-decoration: underline;
    border: 0;
    box-shadow: unset;
    margin-right: 20px;

    &:hover,
    &:focus {
        color:$black!important;
        text-decoration: none;
        background-color: transparentize( $yellow, 0.8);
    }
}

.diamond_link {
    @include diamond_button(-300px, -129px, 45deg, $yellow, $white, $yellow);

    font-size: 1rem;
    font-weight: 800!important;
    color: $green;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    letter-spacing: .5px;
    padding: 6px 43px 8px 0;   

    &:hover, 
    &:focus {
        text-decoration: underline; 
    }
}
p.diamond_link {
    a {   
        font-weight: 800!important;
        text-decoration: none;

        &:hover,
        &:focus {
            background: transparent;
        }
    }
    img.file-icon {
        display: none;
    }
}

.diamond_link_small {
    @include diamond_button_small(-300px, -130px, 45deg, $yellow, $white, $yellow);

    font-size: .8rem;
    font-weight: 800!important;
    color: $green;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    letter-spacing: .5px;
    padding: 6px 43px 8px 0;  

    &:hover, 
    &:focus {
        text-decoration: underline; 
    } 
}
.diamond_link_white {
    @include diamond_button(-300px, -129px, 45deg, $yellow, $white, $yellow);

    font-size: 1rem;
    font-weight: 800!important;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    letter-spacing: .5px;
    padding: 6px 43px 8px 0; 

    &:hover, 
    &:focus {
        text-decoration: underline; 
    }  
}
.diamond_link_small_white {
    @include diamond_button_small(-300px, -130px, 45deg, $yellow, $white, $yellow);

    font-size: .8rem;
    font-weight: 800!important;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    letter-spacing: .5px;
    padding: 6px 43px 8px 0; 

    &:hover, 
    &:focus {
        text-decoration: underline; 
    }  
}



