/* ACCORDION (card) 
================================================ */

.card.panel {
    border: 0;
    border-radius: 0;
    display: block;
}

.card-header {
	background: transparent;
	padding: .75rem 1.25rem .25rem 0;
	border-bottom: 1px solid $yellow;

	.panel-title a {
		font-family: $base-font;
		font-size: 1.0rem;
		/*font-weight: 700;*/
		color: inherit;
		line-height: 1.3rem;
		/*text-transform: uppercase;*/
		text-decoration: none;
		padding-left: 0!important;
		padding-right: 40px!important;
    	margin: 0 0 .5rem 0;
	}
}

.paragraph--bp-accordion--container {
	padding-top: 0;
	margin-bottom: 30px;

	@include media-breakpoint-down(phone) {
		margin-bottom: 0;
	}
}
.paragraph.paragraph--type--bp-accordion {
	.card {
		height: unset;
	}

	.card-block .paragraph__column {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
			background: $white;
	    	z-index: 2;
	    	margin-left: -15px!important;
	    	margin-right: -15px!important;
	    	padding-left: -15px!important;
	    	padding-right: -15px!important;
		}
	}

	.panel-heading {
		a:hover,
		a:focus {
			background: transparent;
		}
		
	 	a[aria-expanded=false]{	
	 		color:$black; 
	 		opacity: .6;		
			&:after {
				content: "";
				position: relative;   
				width: 20px;
			    height: 20px;
			    top: 3px;
			    right: -30px;
				transform: rotate(90deg);
			    background: url(/themes/custom/myusf/images/site/icons.svg) -60px -126px no-repeat;


			    
				/*width: 12px;
				height: 12px;
				background: url(/themes/custom/myusf/images/site/icons.svg) -239px -142px no-repeat;*/
			}
			&:hover,
			&:focus {
				opacity: 1;
			}
		}

		a[aria-expanded=true]{	
			color:$black; 
	 		opacity: .6;
			&:after {
				content: "";
				position: relative;    
				width: 20px;
			    height: 20px;
			    top: 4px;
			    right: -30px;
				transform: rotate(90deg);
			    background: url(/themes/custom/myusf/images/site/icons.svg) -40px -126px no-repeat;
				/*width: 12px;
				height: 12px;
				background: url(/themes/custom/myusf/images/site/icons.svg) -259px -142px no-repeat;*/
			}
			&:hover,
				&:focus {
				opacity: 1;
			}
		}
		
	}
}

/* Card -- Homepage feeds 
================================================ */
.card-deck {
	margin-left: 0;
	margin-right: 0;

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		display:inline-block;
		column-count: 3;
		column-gap:10px;
	}

	.card {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		  /* IE10+ CSS styles go here */		  
	     	display:inline-block;
	     	width: 100%;
		}
		
	}
}

.view-instagram-tiles {
    margin-top: 10px;
}
.view-usf-news-tiles .card,
.view-twitter-tiles .card,
.view-instagram-tiles .card {
    margin: 10px 10px 10px 10px;

    &:first-of-type {
    	margin-left: 0px;
    	@include media-breakpoint-down(phone) {
    		
    	}
    }
    &:last-of-type {
    	margin-right: 0px;
    }

    @include media-breakpoint-down(phone) {
    	margin: 20px 0 0;
    	
    }
}
.view-usf-news-tiles .card {
	margin-top: 20px;
}
.view-twitter-tiles .card {
	margin-bottom: -10px;

	@include media-breakpoint-down(phone) {
		margin-bottom: 0;
	}
}


.card {
    border: 0;
    border-radius: 0;
    display: inline-block;
    height: 410px;

    &.green {
		background: $green;
	}
	&.blue {
		background: $blue;
	}
	&.olive {
		background: $olive;
	}
	&.orange {
		background: $orange;
	}
	&.plum {
		background: $plum;
	}
	&.terra_cotta {
		background: $terra_cotta;
	}
	&.turquoise {
		background: $turquoise;
	}
    &.twitter-bg{
		background: $twitter;		
	}
}

a.card-rollover {
	text-decoration: none;
    color: $white;

    .card-body {
		height: 230px;
		width: 100%;

		.card-title {
			font-size: .85rem;
		    font-weight: 700;
		    line-height: 1.15rem;
		    color: $white!important;
		    @include media-breakpoint-only(landscape_phone) {
		    	font-size: .8rem;
		    	line-height: 1rem;
		    	margin-bottom: .4rem;
		    }
		}
		.card-text {
		    font-size: .85rem;
		    line-height: 1.15rem;
		    color: $white!important;
			@include media-breakpoint-only(landscape_phone) {
		    	font-size: .80rem;
		    	line-height: 1rem;
		    }
		}
		&.orange {
			.card-text {
		    	font-size: 1rem;
		    	line-height: 1.5rem;
		    	@include media-breakpoint-only(landscape_phone) {
		    		font-size: .85rem;
		    		line-height: 1.2rem;
		    	}
			}
		}
		&.blue {

			.card-text {
				font-size: 1rem;
		    	line-height: 1.5rem;

		    	@include media-breakpoint-only(landscape_phone) {
		    		font-size: .85rem;
		    		line-height: 1.2rem;
		    	}

		    	&.no-twitter-image {
		    		margin-top: 180px;
		    	}
			}
		}
		.diamond_link_small_white {
			position: absolute;
			bottom: 10px;   
		}
	}
   
	.category{		
		position: absolute;
	    display: block;
	    font-size: .8rem;
		color:$white;
		margin: 0;
		padding-left: 30px;
		top: 0px;
		left: 0px;
		z-index: 2;	
		text-shadow: 1px 1px 2px rgba(0,0,0,.9);
	    
	}
	.category-icon {
		&:before { 
			position: absolute;
		    display: block;
			content: "";
			width: 100px;
		    height: 25px;	
			top: 0px;
		    left: 0px;
			z-index: -1;
			background-color: rgba(0,0,0,.5);	
		}
		&:after {
			position: absolute;
		    display: block;
			content: "";
		    width: 15px;
		    height: 15px;
			top: 6px;
		    left: 10px;   
			z-index: -1;      
		}
		
		&.news-icon {
			&:after {
				background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -20px -60px ;
				top: 7px;
			}
		}
		&.instagram-icon {
			&:after {
		  		background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat  -40px -58px ;
		  	}
		} 
		&.twitter-icon {
			&:after {
		  		background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -100px -58px ;
		  	}
		} 	
	}
	
    img.card-img-top {
    	color:$gray;
    	height: 180px; 
    	width: 100%; 
    	display: block; 
    	background:$gray;
    	border-radius: 0;
    	margin-top: 0;
    	object-fit: cover;
    	

    	&:after {
		    background-image: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.3) 100%);
		}
    }

    &:hover,
    &:focus {
	    color: $white!important;
	    background: 0 0!important;
	 
		&:after {
	    	display: block;
		    position: absolute;
		    content: "";
		    width: 100%;
		    height: 70%;
		    top: 0;
		    left: 0;
		    opacity: .6;
		    background-image: linear-gradient(to top,transparent 0,rgba(0,0,0,.6) 100%);
		    transition: opacity .25s,height .25s;
		}

		.diamond_link_small_white {
		    color: $yellow!important;

		    &:after {
		    	background:$yellow;
		    }
		}
	}

}


/* Calendar -- landing list view
================================================ */

.event_search_anchor {
	display: none;

	@include media-breakpoint-down(phone) {
		display: unset;
			    
	    width: 300px;
	    display: block;
	    text-align: center;
	    padding: 8px;
	    margin-top: 30px;
	    margin-left: auto;
	    margin-right: auto;
	    border: 1px solid $light_gray;

	    a {
	    	color: $text_gray;
	    	text-decoration: none;
	    }
	    

		&:after {
			position: relative;
		    display: inline-block;
		    content: "";
		    width: 10px;
		    height: 8px;
		    top: 0px;
		    right: 0px;
		    margin-left: 5px;
		    z-index: 1;
		    background: url(/themes/custom/myusf/images/site/icons.svg) -239px -148px no-repeat;
		    opacity: .7;
		}
	}
}

.view-events-search {
	margin-top: 1rem;

	 .views-row {
	 	margin-bottom: 0;

		a, a:hover, a:focus {
			font-weight: 400 !important;
			text-decoration: none;
			color: $text_gray;
		}
		 h3.event-list-title {  /* was .views-row b */
			font-weight: 800 !important;
			color: $green!important;
			font-size: 1rem;
			text-transform: capitalize;
		}

		&:hover,
		&:focus {
			background-color: $light_beige;
		}

		article {
			padding-left: 10px;
			padding-bottom: 20px;
			padding-top: 15px;
			border-bottom: 1px solid $light_gray;
		}

		img {
			height: 80px;
			width: 107px;
			margin-right: 20px;

			@include media-breakpoint-down(phone) {
				width: 80px;
				height: 60px;
				margin-left: 10px;
				margin-right: 0;
			}
			@include media-breakpoint-down(tablet) {
				margin-right: 0;
			}
		}
	}

	@include media-breakpoint-down(phone) {
        width: 300px;
        @include margin-L-R-auto;

        .views-row article {
            padding-left: 0!important;
        }
    }
}


.pagination {
	margin-top: .8rem;

	.page-item a, .pager__item--next a {
	    font-size: .85rem;
	    font-weight: 300;
	    color: $text_gray;
	    line-height: 1.125;
	    text-decoration: none;	    
	    display: inline-block;	    
	    padding: 10px;
	    border: 0;
	    vertical-align: top;
	}

	.page-item{
		&.active{ 
			a {
				font-size: .85rem;
				font-weight: 700;				
				color: $green;
				line-height: 1rem;
			}
			.page-link {
				z-index: 1;
				color: inherit;
				background-color: inherit;
				border-color: inherit;
				font-weight: 700;
				line-height: 1rem;
				color: $green;
			}
		}
		.page-link {
			border: none;

			&:hover,
			&:focus{
				background-color: transparentize($light_gray, .5);
			}
		}
	}

	.pager__item--next {
		.page-link {
			&:hover,
			&:focus{
				background-color: transparentize($light_gray, .5);
			}
		}
	}
	[role=presentation] {
		line-height: 1.9rem;
		padding-right: 5px;
		padding-left: 5px;
	}
}



a.search_clear{	 
		position: relative;
		float: right;
    	right: 0;
    	margin-top: 10px;
    	text-decoration: none;

	&:before {
		position: absolute;
	    display: inline-block;
	    content: "";
	    bottom: 3px;
	    left: -15px;
	    width: 11px;
	    height: 11px;
		background: url(/themes/custom/myusf/images/site/icons.svg) -300px -113px no-repeat;
	}
}

/* Calendar -- event detail page
================================================ */
h1.js-quickedit-page-title.page-title {
	padding-left: 0;
	padding-bottom: 0;

	@include media-breakpoint-up(tablet) {
	    margin-top: -.35rem;
	    margin-bottom: 1.1rem;
	}
}

.event-date {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: .5rem;
	margin-top: 1rem;
	line-height: 1.2rem;
}

.event-location {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
	line-height: 1.5rem;
	text-transform: uppercase;
}

.event-additional-info {
    padding-left: 18px;
    border-left: 5px solid #fdbb30;

    p, a {
		color: $green;
		font-weight: 600;
		text-decoration: none;
	}

	h2 a, h3 a, h4 a, h5 a {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		line-height: inherit !important;
	}
}

.event-description {
	padding-top: 2rem;
	width: 85%;

	@include media-breakpoint-down(phone) {
		width: 100%;
	}
}


/* ANNOUNCEMENT -- announce detail page
================================================ */

.field--name-field-published-date  {
	text-transform: uppercase;
	font-size: .75rem;
	color: $gray_medium;
	font-weight: 600;

	&:before {
		content: "Created On: ";
	}

}

.field--name-field-announcement-tags {
	font-size: .75rem;
	color: $orange;
	font-weight: 800;
	display: inline-block;
	margin-bottom: 2rem;
	padding-top: 10px;

	&:before {
		content: "TAGS: ";
	}
}

.field--name-field-announcement-tags a {
	color: $green;
	font-size: .9rem;

}

.field--name-field-announcement-audience {
	display: none;
}

.field--name-field-featured-image img {
	max-height: 500px;
	max-width: 775px;
	object-fit: cover;
	float: left;
}

.field--type-text-with-summary {
	clear: both;
	padding-top: 15px;
	max-width: 90%;
}

.field--name-field-announcement-teaser {
	display: none;
}

.field--name-field-subtitle {
	font-size: 1.2rem;
	font-weight: 700 !important;
	font-style: normal !important;
	margin-bottom: 1.5rem;
	padding-top: .6rem;
	line-height: 1.1;
	text-transform: uppercase;
	color: $black !important;
}


/* ANNOUNCEMENT -- announce feeds/lists
================================================ */

/*.views-field.views-field-title a {
	font-size: 1.1rem;
	color: $green;
	font-weight: 700;
	text-decoration: none;
}

.views-field.views-field-field-featured-image {
	float: left;
}

.views-field.views-field-field-announcement-teaser {
	margin-left: 120px;
}

.views-row {
	margin-bottom: 20px;
	border-bottom: .5px;
}
.view-id-dashboard_announements .views-row {
	padding-left: 10px;
    padding-right: 10px;
}*/

/* ANNOUNCEMENT -- tag list teasers
================================================ */

.view-display-id-page_1 {
	margin-left: 15px;

	h2 a {
		font-size: 1.5rem;
		color: $green;
		font-weight: 700;
		text-decoration: none;
		margin-left: unset!important;
	}

	.node--view-mode-teaser {
		margin-bottom: 15px !important;
		width: 850px !important;

	}

	.inline__links a {
		position: fixed;
		margin-left: 600px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .85rem;
	
		&:after {
			content: " »";
		}
	}

}



/* ITS APPLICATIONS SERVICES page
================================================ */
/*Filter by Audience Box */
#block-audience {
    padding-bottom: 20px;
    padding-left:20px;
    background: transparentize($light_gray, .7);

    @include media-breakpoint-down(tablet) {
    	margin-top: 20px;
    	height: 200px;
    }

	h2 {
		font-size: 1rem;
    	width: 20%;
    	@include media-breakpoint-down(tablet) {
    		width: 100%;
    	}
	}
	.facets-widget-dropdown {
	    
	    select.item-list__dropdown.facets-dropdown {
	    	height:41px;
	    	width: 20%;
	    	@include media-breakpoint-down(tablet) {  
	    		border: 1px solid $light_blue_gray;
	    	}
	    	@include media-breakpoint-down(tablet) {
	    		width: 94%;
	    		padding-left: 10px;
	    	}
		}
	}
}


/* Search Box */
.view-id-services.view-display-id-block_1 {
	.view-filters {
	    margin-left: 27.5%;
	    margin-top: -100px;
	    color:$black;
	    width: 72.5%;

	    @include media-breakpoint-down(tablet) {
	    	width: 90%;
    		margin-top: -100px;
    		margin-left: 20px;
    	}

	    fieldset.form-item-search-api-fulltext {
		    width: 60%;

		    @include media-breakpoint-only(tablet) {
	    		width: 63%;
	    	}

		    input#edit-search-api-fulltext {
			    height: 41px;
			    margin-top: 2px;
			}
		}
		div#edit-actions {
			width:35%;
		    input#edit-submit-services {
			    margin-bottom: .625rem;
			    margin-left: 10px;
			    &.button {
			    	width: 100%;
			    }
			}
		}
	}
	.view-content {
		margin-top: 30px;
	}	
}

/*Body area */
.node--type-usf-service.node--view-mode-applications-services {
	margin-bottom: 10px;

	.node__title {
		a {
			color:$green;
			text-decoration:underline;
		    font-size: 1.2rem!important;
		    padding-top: 0;

		    &:hover,
		    &:focus {
		    	font-weight: 700;
		    }
		}
	}
	.node__content {
		margin-top: 0;
	}
}

.node--type-usf-service .field--type-text-with-summary {
	max-width:unset;
} 

.field--name-field-usfcat-howdoi, 
.field--name-field-usfcat-policies, 
.field--name-field-usfcat-audience-ref {
    margin-top: 30px;

    .field__label {
    	font-weight: 700;
    	text-transform: uppercase;
    	margin-bottom: 5px;
    }
    .field__item {
    	margin-bottom: 10px;

    	a {
    		font-size: 1rem;
    		margin-left: 20px;
    	}
	}
}

#block-views-block-services-block-2 {
	.views-field-title {
		h2 {
			font-size: 1.2rem!important;
		}
	}
}


#block-topstudentquestions, #block-topstudentquestions-2,
#block-topfacultystaffquestions, #block-topfacultystaffquestions-2 {
	width:230px;
    border: 5px solid #DDDAD1;

    @include media-breakpoint-down(phone) {
    	width:100%;
    }

    h2 {
    	font-size: 1rem;
    	font-weight: 700;
	    text-align: center;
	    padding-bottom: 15px;
	    background: #DDDAD1;
	}

	a {
		font-size: .8rem;
    	margin: 15px;
    	display: block;
	}
	ul {
		padding-top: 0;

		li {
			padding-bottom: 0;
		}
	}	
}

#block-topfacultystaffquestions, #block-topfacultystaffquestions-2{	
	ul {
		margin-left: -8px;
	}
}

.view-id-services  {
	padding-left: 15px;
    padding-right: 15px;

	li.list-group-item {
    	border: 0;
    	margin-bottom: 10px;	
	}
}


