/* ACCORDION (card) 
================================================ */

.card.panel {
    border: 0;
    border-radius: 0;
    display: block;
}

.card-header {
	background: transparent;
	padding: .75rem 1.25rem .25rem 0;
	border-bottom: 1px solid $yellow;

	.panel-title a {
		font-family: $base-font;
		font-size: 1rem;
		/*font-weight: 700;*/
		color: inherit;
		line-height: 1.3;
		/*text-transform: uppercase;*/
		text-decoration: none;
		padding-left: 0!important;
		padding-right: 2.5rem!important;
    	margin: 0 0 .5rem 0;
	}
}

.paragraph--bp-accordion-container {
	padding-top: 0;
	margin-bottom: 2.5rem;
}

.paragraph.paragraph--type--bp-accordion {
	.card {
		height: unset;
	}
	.card-block .paragraph__column {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
			background: $white;
	    	z-index: 2;
	    	margin-left: -0.9375rem!important;
	    	margin-right: -0.9375rem!important;
	    	padding-left: -0.9375rem!important;
	    	padding-right: -0.9375rem!important;
		}
	}

	.panel-heading {
		a:hover,
		a:focus {
			background: transparent;
		}
		
	 	a[aria-expanded=false]{	
	 		color:$black; 
	 		opacity: 1;		
			&::after {
				content: "";
				position: relative;   
				width: 20px;
			    height: 20px;
			    top: 3px;
			    right: -30px;
				transform: rotate(90deg);
				background: url(/themes/custom/myusf/images/site/icons.png) -60px -126px no-repeat;
			    background: url(/themes/custom/myusf/images/site/icons.svg) -60px -126px no-repeat;


			    
				/*width: 12px;
				height: 12px;
				background: url(/themes/custom/myusf/images/site/icons.svg) -239px -142px no-repeat;*/
			}
			&:hover,
			&:focus {
				opacity: .6;
			}
		}

		a[aria-expanded=true]{	
			color:$black; 
	 		opacity: 1;
			&::after {
				content: "";
				position: relative;    
				width: 20px;
			    height: 20px;
			    top: 4px;
			    right: -30px;
				transform: rotate(90deg);
				background: url(/themes/custom/myusf/images/site/icons.png) -40px -126px no-repeat;
			    background: url(/themes/custom/myusf/images/site/icons.svg) -40px -126px no-repeat;
				/*width: 12px;
				height: 12px;
				background: url(/themes/custom/myusf/images/site/icons.svg) -259px -142px no-repeat;*/
			}
			&:hover,
				&:focus {
				opacity: .6;
			}
		}
		
	}
	.panel-collapse>.paragraph {
		@include media-breakpoint-down(phone) {
		    padding-left: 0.625rem;
			padding-right: 0.625rem;
		}
	}
	.panel-collapse>.paragraph>.paragraph__column {
		padding-top: 2.1875rem;
	}
}

/* Card -- Homepage feeds 
================================================ */
.card-deck {
	margin-left: 0;
	margin-right: 0;

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		display:inline-block;
		column-count: 3;
		column-gap:10px;
	}

	.card {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		  /* IE10+ CSS styles go here */		  
	     	display:inline-block;
	     	width: 100%;
		}
		
	}
}

.view-instagram-tiles {
    margin-top: 0;
}

.view-instagram-tiles .view-content.row, 
.view-twitter-tiles .view-content.row, 
.view-usf-news-tiles .view-content.row {
	@include media-breakpoint-down(phone) {
    	width: 100%!important;
	}
}
.view-usf-news-tiles .card,
.view-twitter-tiles .card,
.view-instagram-tiles .card {
    margin: 0 .625rem 2.5rem 0.625rem;

    &:first-of-type {
    	margin-left: 0;
    	@include media-breakpoint-down(phone) {
    		
    	}
    }
    &:last-of-type {
    	margin-right: 0;
    }

    @include media-breakpoint-down(phone) {
    	margin:  0 0 2.5rem;
    	
    }
}
.view-usf-news-tiles .card {
	margin-top: 1.25rem;
}
.view-twitter-tiles .card {	
	margin-bottom: 2.5rem;
}

.card {
    border: 0;
    border-radius: 0;
    display: inline-block;
    height: 410px;

    &.green {
		background: $green;
	}
	&.blue {
		background: $blue;
	}
	&.olive {
		background: $olive;
	}
	&.orange {
		background: $orange;
	}
	&.plum {
		background: $plum;
	}
	&.terra_cotta {
		background: $terra_cotta;
	}
	&.turquoise {
		background: $turquoise;
	}
    &.twitter-bg{
		background: $twitter;		
	}
}

a.card-rollover {
	text-decoration: none;
    color: $white;

    .card-body {
		height: 230px;
		width: 100%;

		.card-title {
			font-size: .85rem;
		    font-weight: 700;
		    line-height: 1.35;
		    color: $white!important;
		    @include media-breakpoint-only(landscape_phone) {
		    	font-size: .8rem;
		    	line-height: 1.25;
		    	margin-bottom: .4rem;
		    }
		}
		.card-text,
		.card-text-short {
		    font-size: .9rem;
		    line-height: 1.77;
		    color: $white!important;
			@include media-breakpoint-only(landscape_phone) {
		    	line-height: 1.55;
		    }
		    @include media-breakpoint-only(tablet) {
	    		line-height: 1.33;
			}
		}
		&.orange {	
			.diamond_link_small_white {
				background:$orange;	

				&:hover {						
					color: black!important;
				}		
			}
		}
		&.blue {

			.card-text {
		    	&.no-twitter-image {
		    		margin-top: 11.25rem;
		    	}
			}
			
			.diamond_link_small_white {
				background:$blue;	

				&:hover {						
					color: black!important;
				}	
			}
		}
		.diamond_link_small_white {
			position: absolute;
			bottom: 10px; 

			&:hover, 
		    &:focus {
		        text-decoration: none; 
		    } 
		   
	    	bottom:0;
		    width: 86.8%;
		    padding-top: 0.75rem;
		    padding-bottom: 1.125rem;

		    &::before {
		    	top: 20px;
		    	left: 98px; 
		    }
		    &::after {
		    	top: 14px;
		    	left: 90px;
		    }
		}
	}
   
	.category {		
		position: absolute;
	    display: block;
	    font-size: .8rem;
		color:$white;
		margin: 0;
		padding-left: 1.875rem;
		padding-top: 0.3125rem;
		top: 0px;
		left: 0px;
		z-index: 2;	
		text-shadow: 1px 1px 2px rgba(0,0,0,.9);
	    
	}
	.category-icon {
		&::before { 
			position: absolute;
		    display: block;
			content: "";
			width: 100px;
		    height: 30px;	
			top: 0px;
		    left: 0px;
			z-index: -1;
			background-color: rgba(0,0,0,.5);	
		}
		&::after {
			position: absolute;
		    display: block;
			content: "";
		    width: 15px;
		    height: 15px;
			top: 6px;
		    left: 10px;   
			z-index: -1;      
		}
		
		&.news-icon {
			&::after {
				background: url(/themes/custom/myusf/images/site/icons.png) no-repeat -20px -60px ;
				background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -20px -60px ;
				top: 7px;
			}
		}
		&.instagram-icon {
			&::after {
				background: url(/themes/custom/myusf/images/site/icons.png) no-repeat  -40px -58px ;
		  		background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat  -40px -58px ;
		  	}
		} 
		&.twitter-icon {
			&::after {
				background: url(/themes/custom/myusf/images/site/icons.png) no-repeat -100px -58px ;
		  		background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -100px -58px ;
		  	}
		} 	
	}
	
    img.card-img-top {
    	color:$gray;
    	height: 180px; 
    	width: 100%; 
    	display: block; 
    	background:$gray;
    	border-radius: 0;
    	margin-top: 0;
    	object-fit: cover;
    	
    	&::after {
		    background-image: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.3) 100%);
		}
    }

    &:hover,
    &:focus {
	    color: $white!important;
	    background: 0 0!important;
	 
		&::after {
	    	display: block;
		    position: absolute;
		    content: "";
		    width: 100%;
		    height: 48%;
		    top: 0;
		    left: 0;
		    opacity: .6;
		    background-image: linear-gradient(to top,transparent 0,rgba(0,0,0,.6) 100%);
		    transition: opacity .25s,height .25s;
		}

		.diamond_link_small_white {
		    color: $black!important;

		    &::after {
		    	background:$yellow;
		    }
		}
	}
}


/* Calendar -- landing list view
================================================ */

.event_search_anchor {
	display: none;

	@include media-breakpoint-down(phone) {
		display: unset;
			    
	    width: 300px;
	    display: block;
	    text-align: center;
	    padding: 0.5rem;
	    margin-top: 1.875rem;	
	    margin-left: auto;
	    margin-right: auto;
	    border: 1px solid $light_gray;

	    a {
	    	color: $text_gray;
	    	text-decoration: none;
	    }
	    

		&::after {
			position: relative;
		    display: inline-block;
		    content: "";
		    width: 10px;
		    height: 8px;
		    top: 0px;
		    right: 0px;
		    margin-left: 0.3125rem;
		    z-index: 1;
		    background: url(/themes/custom/myusf/images/site/icons.png) -239px -148px no-repeat;
		    background: url(/themes/custom/myusf/images/site/icons.svg) -239px -148px no-repeat;
		    opacity: .7;
		}
	}
}

.view-events-search {
	margin-top: 1rem;

	.views-row {
	 	margin-bottom: 0;

		a, a:hover, a:focus {
			font-weight: 400 !important;
			text-decoration: none;
			color: $text_gray;
		}
		a:hover .event-calendar-list-item,
		a:focus .event-calendar-list-item {
			background-color: $light_beige;			
		}
		.event-calendar-list-item {
			padding-left: 0.625rem;	
			padding-bottom: 1.25rem;
			padding-top: 0.9375rem;
			border-bottom: 1px solid $light_gray;
		}
		 h3.event-list-title {  /* was .views-row b */
			font-weight: 800 !important;
			color: $green!important;
			font-size: 1rem;
			text-transform: capitalize;
		}

		img {
			height: 80px;
			width: 107px;
			margin-right: 1.25rem;
			margin-left: 0.625rem;	

			@include media-breakpoint-down(phone) {
				width: 80px;
				height: 60px;
				margin-bottom: 0.3125rem;		
			}
			@include media-breakpoint-down(tablet) {
				margin-right: 0;
				margin-top: 0.875rem;
			}
		}
	}
	
		


	@include media-breakpoint-down(phone) {
        width: 300px;
        @include margin-L-R-auto;

        .views-row .event-calendar-list-item {
            padding-left: 0!important;
        }
    }
}


.pagination {
	margin-top: .8rem;

	.page-item a, .pager__item--next a {
	    font-size: .85rem;
	    font-weight: 300;
	    color: $text_gray;
	    line-height: 1.125;
	    text-decoration: none;	    
	    display: inline-block;	    
	    padding: 0.625rem;
	    border: 0;
		vertical-align: top;
	}

	.page-item{
		margin-right: 0.75rem;
		
		@include media-breakpoint-down(phone) { 
			margin-right: 0;
		}

		&.active{ 
			margin-top: 0.125rem;

			a {
				font-size: .85rem;
				font-weight: 700;				
				color: $green;
				line-height: 1.1764;
			}
			.page-link {
				font-size: .9rem;
				z-index: 1;
				color: inherit;
				background-color: inherit;
				border-color: inherit;
				font-weight: 700;
				line-height: 1.11;
				color: $green;
			}
		}
		.page-link {
			border: none;

			&:hover,
			&:focus{
				background-color: transparentize($light_gray, .5);
			}
		}
	}

	.pager__item--next {
		margin-right: 1.25rem;
		.page-link {
			&:hover,
			&:focus{
				background-color: transparentize($light_gray, .5);
			}
		}
	}
	[role=presentation] {
		line-height: 1.9rem;
		padding-right: 0.3125rem;
		padding-left: 0.3125rem;
	}
}

.view-news ul li {
	@include media-breakpoint-down(phone) { 
		position:static;
	}
}

.paragraph__column ul li.pager__item--next {
	margin-right: 1.25rem;
	@include media-breakpoint-down(phone) { 
		margin-right: 0;
	}
}

.paragraph__column ul.pagination li::before {
	left: 0;
}

a.search_clear{	 
		position: relative;
		float: right;
    	right: 0;
    	margin-top: 0.625rem;
    	text-decoration: none;

	&::before {
		position: absolute;
	    display: inline-block;
	    content: "";
	    bottom: 3px;
	    left: -15px;
	    width: 11px;
	    height: 11px;
	    background: url(/themes/custom/myusf/images/site/icons.png) -300px -113px no-repeat;
		background: url(/themes/custom/myusf/images/site/icons.svg) -300px -113px no-repeat;
	}
}

/* Calendar -- event detail page
================================================ */
h1.js-quickedit-page-title.page-title {
	padding-left: 0;
	padding-bottom: 0;

	@include media-breakpoint-up(tablet) {
	    margin-top: -0.35rem;
	    margin-bottom: 1.1rem;
	}
}

.event-date {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
	line-height: 1;
	color: $black;

	@include media-breakpoint-down(phone) {
		margin-bottom: 0.25rem;
	}
}

.event-date-day {
	text-transform: uppercase;
	font-weight:700;

	@include media-breakpoint-down(phone) {
		display: block;
		line-height: 1.66;
	}
}

.event-location {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
	line-height: 1.5;
	text-transform: uppercase;
	color: $black;
}

.event-additional-info {
    padding-left: 1.125rem;
    border-left: 5px solid $yellow;

    p, a {
		color: $green;
		font-weight: 600;
		text-decoration: none;
	}

	h2 a, h3 a, h4 a, h5 a {
		padding-top: 0!important;
		padding-bottom: 0!important;
		line-height: inherit !important;
	}
}

.event-description {
	padding-top: 2rem;

	@include media-breakpoint-down(phone) {
		width: 100%;
	}
}

.event-image {
	img.image {
		width: 100%;

		@media (min-width: 1160px) {
			width: 825px;
		}
	}
}

/* ANNOUNCEMENT -- view all page
================================================ */

.announcements-view.views-row {
    display: block;
    overflow: auto;
}

.announcement-page-margin  {
    margin-left: 0!important;
}

form#views-exposed-form-announcements-page-page-1 .form-row {
    margin-left: 0;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

/* ANNOUNCEMENT -- announce detail page
================================================ */

.field--name-field-published-date  {
	text-transform: uppercase;
	font-size: .75rem;
	color: $gray_medium;
	font-weight: 600;

	&:before {
		content: "Created On: ";
	}

}

.field--name-field-announcement-tags {
	font-size: .75rem;
	color: $orange;
	font-weight: 800;
	display: inline-block;
	margin-bottom: 2rem;
	padding-top: 0.625rem;

	&:before {
		content: "TAGS: ";
	}
}

.field--name-field-announcement-tags a {
	color: $green;
	font-size: .9rem;

}

.field--name-field-announcement-tags .field__item {
    display: inline;
     margin-left: 0.3125rem;
} 

.field--name-field-announcement-audience {
	display: none;
}

figure {
	max-height: 500px;
	max-width: 775px;
	object-fit: cover;
	float: left;
	margin: 1rem 0 1.5rem 0;

}

.node--type-announcement .field--type-text-with-summary {
	clear: both;
	padding-top: 1rem;
	//max-width: 90%;
}

.field--name-field-announcement-teaser {
	display: none;
}

.field--name-field-subtitle {
	font-size: 1.2rem;
	font-weight: 700 !important;
	font-style: normal !important;
	margin-bottom: 1.5rem;
	padding-top: 0.6rem;
	line-height: 1.1;
	text-transform: uppercase;
	color: $black !important;
}

/* ANNOUNCEMENT -- tag list teasers
================================================ */

.view-display-id-page_1 {
	margin-left: 0.9375rem;

	h2 a {
		font-size: 1.5rem;
		color: $green;
		font-weight: 700;
		text-decoration: none;
		margin-left: unset!important;
	}

	.node--view-mode-teaser {
		margin-bottom: 0.9375rem!important;
		width: 850px !important;

	}

	.inline__links a {
		position: fixed;
		margin-left: 37.5rem;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .85rem;
	
		&::after {
			content: " »";
		}
	}

}


/* ITS APPLICATIONS SERVICES page
================================================ */
/*Filter by Audience Box */
#block-audience {
	height:110px;
	margin-top: 1.875rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    background: transparentize($light_gray, .7);

    @include media-breakpoint-down(tablet) {
    	margin-top: 1.25rem;
    	height: 200px;
    }

	h2 {
		font-size: .9rem;
		line-height: 1.33;
    	width: 20%;
    	min-width: 136px;
    	@include media-breakpoint-down(tablet) {
    		width: 100%;
    	}
	}
	.facets-widget-dropdown {
	    
	    select.item-list__dropdown.facets-dropdown {
	    	position:absolute;
	    	height:41px;
	    	width: 20%;
	    	min-width: 136px;
	    	z-index:20;
	    	margin-top: 0.1875rem;
	    	@include media-breakpoint-down(tablet) {  
	    		border: 1px solid $light_blue_gray;
	    	}
	    	@include media-breakpoint-down(tablet) {
	    		width: 94%;
	    		padding-left: 0.625rem;
	    	}
		}
	}
}


/* Search Box */
.view-id-services.view-display-id-block_1 {
	padding-left: 0;
	.view-filters {
	    margin-left: 27.5%;
	    margin-top: -6.25rem;
	    color:$black;
	    width: 72.5%;

	    @include media-breakpoint-down(tablet) {
	    	width: 90%;
    		margin-top: -6.25rem;
    		margin-left: 1.25rem;
    	}

	    fieldset.form-item-search-api-fulltext {
		    width: 55%;
		    left: 40px;

		    @include media-breakpoint-only(tablet) {
	    		width: 63%;
	    	}

		    input#edit-search-api-fulltext {
			    height: 41px;
			    margin-top: 0.125rem;
			}
		}
		div#edit-actions {
			width:35%;
		    input#edit-submit-services {
			    margin-bottom: .625rem;
			    margin-left: 0.625rem;
			    &.button {
			    	width: 100%;
			    	max-width: 200px;
				    position: relative;
				    right: -20px;
			    }
			}
		}
		label {
			font-size: .9rem;
			position:relative;
			top:-2px;
		}
	}
	.view-content {
		margin-top: 1.875rem;
	}	
}

/*Body area */
.node--type-usf-service.node--view-mode-applications-services {
	margin-bottom: 0.625rem;

	.node__title {
		a {
			color:$green;
			text-decoration:underline;
		    font-size: 1.2rem!important;
		    padding-top: 0;

		    &:hover,
		    &:focus {
		    	font-weight: 700;
		    }
		}
	}
	.node__content {
		margin-top: 0;
	}
}

.node--type-usf-service .field--type-text-with-summary {
	max-width:unset;
} 

.field--name-field-usfcat-howdoi, 
.field--name-field-usfcat-policies, 
.field--name-field-usfcat-audience-ref {
    margin-top: 1.875rem;	

    .field__label {
    	font-weight: 700;
    	text-transform: uppercase;
    	margin-bottom: 0.3125rem;
    }
    .field__item {
    	margin-bottom: 0.625rem;	

    	a {
    		font-size: 1rem;
    		margin-left: 1.25rem;
    	}
	}
}

#block-views-block-services-block-2 {
	.views-field-title {
		h2 {
			font-size: 1.2rem!important;
		}
	}
}

#block-topstudentquestions, #block-topstudentquestions-2,
#block-topfacultystaffquestions, #block-topfacultystaffquestions-2 {
	width:230px;
    border: 5px solid #DDDAD1;

    @include media-breakpoint-down(phone) {
    	width:100%;
    }

    h2 {
    	font-size: 1rem;
    	font-weight: 700;
	    text-align: center;
	    padding-bottom: 0.9375rem;
	    background: #DDDAD1;
	}

	a {
		font-size: .8rem;
    	margin: 0.9375rem;
    	display: block;
	}
	ul {
		padding-top: 0;

		li {
			padding-bottom: 0;
		}
	}	
}

#block-topfacultystaffquestions, #block-topfacultystaffquestions-2{	
	ul {
		margin-left: -0.5rem;
	}
}

.view-id-services  {
	padding-left: 0.9375rem;
    padding-right: 0.9375rem;

	li.list-group-item {
    	border: 0;
    	margin-bottom: 0.625rem;	
	}
}

.paragraph__column .view-jobs-list ul li:before {
content: "";
}

.paragraph__column .view-events-search ul li:before {
content: "";
}



/* VIDEO Component
================================================ */

.video-component-wrapper {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;

    & a.video-component {
    	display:block;
	    max-width: 825px;
	    background-color: $green;
	    margin: 0 auto;
	    text-decoration: none!important;

	    @include media-breakpoint-down(desktop) {
	    	width: 100%;
	    }
	    @include media-breakpoint-down(tablet) {
	    	/*width: 96%!important;*/
	    }

	    img {
	    	width:100%;
	    	height: 100%;
		}

		.field--type-image img, 
	    .field--name-field-user-picture img {
	   		margin: 0 0 0;
	   	}
    	.field--type-image {
			position: relative;

			&:after {
				width: 100%;
				height: 100%;

				position: absolute;
				top: 0;
				left: 0;

				box-shadow: inset 0 0 0 0 $green;
				content: "";
				transition: box-shadow 0.15s ease;
			}
		}

    	&:hover,
    	&:focus {
    		h2.video-component-heading {
	    		text-decoration: underline;
			}

			.field--type-image:after {
				box-shadow: inset 0 0 0 10px $green;
			}
		}

	    &.terracotta {
		    background: $terra_cotta;

		    .field--type-image:after {
				box-shadow: inset 0 0 0 0 $terra_cotta;
	    	}
	    	&:hover {
				.field--type-image:after {
					box-shadow: inset 0 0 0 10px $terra_cotta;
				}
			}
		}
		&.blue {
		    background: $blue;

		    .field--type-image:after {
				box-shadow: inset 0 0 0 0 $blue;
	    	}
	    	&:hover {
				.field--type-image:after {
					box-shadow: inset 0 0 0 10px $blue;
				}
			}
		}
		&.turquoise {
		    background: $turquoise;

		    .field--type-image:after {
				box-shadow: inset 0 0 0 0 $turquoise;
	    	}
	    	&:hover {
				.field--type-image:after {
					box-shadow: inset 0 0 0 10px $turquoise;
				}
			}
		}
		&.olive {
		    background: $olive;

		    .field--type-image:after {
				box-shadow: inset 0 0 0 0 $olive;
	    	}
	    	&:hover {
				.field--type-image:after {
					box-shadow: inset 0 0 0 10px $olive;
				}
			}
		}
		&.orange {
		    background: $orange;

		    .field--type-image:after {
				box-shadow: inset 0 0 0 0 $orange;
	    	}
	    	&:hover {
				.field--type-image:after {
					box-shadow: inset 0 0 0 10px $orange;
				}
			}
		}
		&.plum {
		    background: $plum;

		    .field--type-image:after {
				box-shadow: inset 0 0 0 0 $plum;
	    	}
	    	&:hover {
				.field--type-image:after {
					box-shadow: inset 0 0 0 10px $plum;
				}
			}
		}
		&.tan {
		    background: $tan;

		    .field--type-image:after {
				box-shadow: inset 0 0 0 0 $tan;
	    	}
	    	&:hover {
				.field--type-image:after {
					box-shadow: inset 0 0 0 10px $tan;
				}
			}
		}
		&.lime {
		    background: $lime;

		    .field--type-image:after {
				box-shadow: inset 0 0 0 0 $lime;
	    	}
	    	&:hover {
				.field--type-image:after {
					box-shadow: inset 0 0 0 10px $lime;
				}
			}
		}		
    }
}

.paragraph--type--bp-columns__2col a.video-component {
	    width: 100%;
}

.video-component-heading {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    color: $white!important;
	margin-top: 5px;
	margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 0px;

	@include media-breakpoint-down(desktop) {
		margin-left: 1.5625rem;
    	margin-right: 1.5625rem;
		font-size:1.1rem;
		line-height: 1.5rem;
	}
}
.video-component-heading-only {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    color: $white!important;
	margin-top: 0.3125rem;
	margin-bottom: 0;
    padding-top: 0.4375rem;
    padding-bottom: 0.75rem;

	@include media-breakpoint-down(desktop) {
		margin-left: 1.5625rem;
    	margin-right: 1.5625rem;
		font-size:1.1rem;
		line-height: 1.36;
	}
}

.video-component-body {
	color: $white!important;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    padding-bottom: 0.9375rem;
    padding-top: 0.4375rem;

    @include media-breakpoint-down(desktop) {
    	margin-left: 1.5625rem;
    	margin-right: 1.5625rem;
	}

    p {
	    color: $white!important;
	    font-size: .9rem;
	    margin-bottom: 0.3125rem;

	    @include media-breakpoint-down(desktop) {
	    	font-size: .85rem;
	    	line-height: 1.41;
	    }
	}
}

.video-component-body-only {
	color: $white!important;
    margin-left: 1.875rem;	
    margin-right: 1.875rem;
    padding-bottom: 0.625rem;	
    padding-top: 0.9375rem;

    @include media-breakpoint-down(desktop) {
    	margin-left: 1.5625rem;
    	margin-right: 1.5625rem;
	}

    p {
	    color: $white!important;
	    font-size: .9rem;
	    margin-bottom: 0.3125rem;

	    @include media-breakpoint-down(desktop) {
	    	font-size: .85rem;
	    	line-height: 1.41;
	    }
	}
}
.video-component_video_icon {    
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    color: $white;
    letter-spacing: .85px;
    line-height: 1.125;
    text-shadow: -1px 2px 3px rgba(0,0,0,.6);
    text-transform: uppercase;
    position: relative;
    top: -70px;
    left: 30px;
	display: block;
    padding-left: 3.875rem;
    border: none;
    height: 0;

    @include media-breakpoint-down(desktop) {
    	left: 25px;
    }


    &:before {
    	width: 50px;
    	height: 50px;
    	background: url(/themes/custom/myusf/images/site/icons.svg) -300px -148px no-repeat;
    	top: 50%;
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    display: block;
	    content: "";
	    position: absolute;
	    left: 0;
	}

    .first_word {
	    font-size: 1rem;
	    font-style: normal;
	    font-weight: 300;
	    color: $white;
	    display: block;
	    letter-spacing: .3px;
	    line-height: 1;
	    position: relative;
    	top: -20px;
	}
	.second_word {
		position: relative;
    	top: -20px;
	}
}


#videoModal {
	.modal-dialog {
    	max-width:75%;

    	@include media-breakpoint-down(landscape_phone) {
				max-width:100%;

				.modal-body {
					padding-right: 0;
					margin-right: -0.625rem;	
				}
			}	
	}
	.modal-content {
    	background-color:transparent;
    	border:none;
	}
}
.fade.show {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.65);
}
button.close {
    padding: 0.625rem 2.1875rem 2.5rem 0.9375rem;
    background-color: black;
    border: 5000px;
    -webkit-appearance: none;

	float: right;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 0.9;
    color: $yellow;
    opacity: 1;
    text-shadow: none;
    height:0;
    width:0;
  
	&:hover,
	&:focus {
    	color: $white!important;
    	opacity: 1;
    }
}
.fluidMedia {
    position: relative !important;
    padding-bottom: 56.25% !important; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    margin-bottom:0;
    padding-top: 1.875rem!important;
    height: 0 !important;
    overflow: hidden !important;
	
	iframe {
	    position: absolute !important;
	    top: 0 !important;
	    left: 0 !important;
	    width: 100% !important;
	    height: 100% !important;
	}
}


/* COMMENCEMENT SOCIAL MEDIA FEED (card) 
================================================ */
.card-columns {
    column-count: 1;
    width: 100%;

    @include media-breakpoint-up(landscape_phone) {
    	column-count: 2;
    }
    @include media-breakpoint-up(large_desktop) {
    	column-count: 3;
    }
    @include media-breakpoint-up(midlarge_desktop) {
    	column-count: 4;
    }

    .card {
	 	border: 1px solid #cccccc;
	 	height: auto !important;

	 	img.card-img-top {
		    border-radius: 0;
		    margin-top: 0;
		}

		.card-body {
			padding: 0 1.25rem 1.25rem;
		}

		.card-title {
			font-size: .8rem;
			color: white!important;
        	text-transform: uppercase;    		
    		padding-left: .25rem;
    		padding-bottom: 0.3125rem;
    		background-color: $text-gray;

			&.Twitter {
				&:before {
					width: 20px;
		            height: 20px;
		            top: 5px;
		            left: -3px;
		            position: relative;
		            display: inline-block;
		            content: "";
		            z-index: 1;
		            background: url(/themes/custom/myusf/images/site/icons.svg) -96px -56px no-repeat;
				}

			}
			&.Instagram {
				&:before {
					width: 20px;
		            height: 20px;
		            top: 5px;
		            left: -3px;
		            right: 5px;
		            position: relative;
		            display: inline-block;
		            content: "";
		            z-index: 1;
		            background: url(/themes/custom/myusf/images/site/icons.svg) -37px -57px no-repeat;
				}
			}
		}
		.card-text {
			font-size: .9rem;
    		line-height: 1.77;
		}
	 }
 }


/* SITEWIDE-ALERT
================================================ */
 
.sitewide-alert {
    background-color: #F8F7F0;
    padding: 1rem 1.8rem 0 2rem;
    margin: 0;

    button.close {
	    position: absolute;
	    top: 0;
	    right: 0px;
	    padding: 0.3125rem 1.5625rem 2.0625rem 0.75rem;

	    background: transparent;
    	color: $black!important;

    	&:hover, &:focus {
    		background: $black;
		    color: $yellow!important;
    	}
	}

	.header {
		font-size: 0.9rem;
		font-weight: 700 !important;
		font-style: normal !important;
		margin-bottom: 0.5rem;
		padding-top:.6rem;
		color: $black;
		text-transform: uppercase;
	    line-height: 1.44;

	    @include media-breakpoint-only(tablet) {
	    	width:98%;
	    	padding-top: 0;
	    }
	    @include media-breakpoint-down(landscape_phone) {
	    	padding-top: 0;
	    }

	    @include media-breakpoint-down(phone) {
			font-size: 0.85rem;
			margin-bottom: -0.625rem;
		    line-height: 1.2941;		    
		    margin-bottom: 0.3125rem;
	    }
	}

	p {
		@include media-breakpoint-only(tablet) {
			margin-bottom: 0.3125rem;
		}
		@include media-breakpoint-down(phone) {
		    font-size: .85rem;
		    line-height: 1.4;
		}
	}
}

.sitewide-alert__message, .sitewide-alert .field--name-message {
    display: block;
}

.alert-primary {
    color: #616161;
}

.alert {
    position: relative;
    border: none;
    border-radius: 0;

    @include media-breakpoint-down(landscape_phone) {
    	padding: 1rem 2.8rem 1rem 2rem;
    }
    @include media-breakpoint-down(phone) {
    	padding: 2.85rem 1.875rem 2.25rem 1.875rem;
    }

    &.sitewide-alert {
	    @include media-breakpoint-down(phone) {
	    	padding: 1.25rem 1.875rem 1.25rem;
	    }
	}
}
.alert-text {
    width: 75%!important;
    display: inline-block;
    
    @include media-breakpoint-only(tablet) {
	    width:65%!important;
	    font-size: .9rem;
	    margin-bottom: 0.5rem;
	}
    @include media-breakpoint-down(landscape_phone) {
    	width:98%!important;
    	margin: 0 0 0.9375rem 0!important;
    	font-size: .9rem;
    }
}
.alert-button {
    margin-right: 1.875rem;
    margin-top: -.3125rem;

    @include media-breakpoint-down(phone) {
    	margin: 0!important;
    }

    @include media-breakpoint-up(landscape_phone) {
    	position: absolute;
    	right: 15px;
    }
    @include media-breakpoint-only(tablet) {
    	margin-top: 0;
    }

    .button {
    	width:100%;
    }

    &.block_right {
		@include media-breakpoint-down(landscape_phone) {
	    	margin: 0 0 -0.3125rem 0!important;
	    	width:100%;
	    	position: relative;
	    }
	}
}

.alert-success, .alert-success p,
.alert-info, .alert-info p {
    color: $white;
}

.alert-wrapper{ 
	button.close {
		height: auto;
	}
	pre {
    	color: white;
    }
}

.alert.alert-dismissible {
	.close {
		padding: .75rem 2rem .75rem .75rem;
		color: $yellow;

		 @include media-breakpoint-down(phone) {
		 	right: 25px;
		 }
	}
	&.fade.show.alert-success,
	&.fade.show.alert-info {
	    background-color: rgba(0,0,0,1);
	}
	&.alert-success a,
	&.alert-info a {
	    color: $yellow;
	    font-style: italic;

	    &:hover,
	    &:focus {
	    	color: $white!important;
	    	text-decoration: underline;
	    	background: transparent;
	    }
	    &.button.yellow {
		    width: auto;
		    padding-left: 0.625rem;
		    padding-right: 0.625rem;
		    margin-left: 0.625rem;
		    margin-right: 0.625rem;
		    background: #fdbb30;
		    color: black!important;

		    &:hover,
		    &:focus {
		    	box-shadow: inset 0 0 0 4px #fdbb30;
		    	font-weight: 700;
		    	background: white!important;
		    	/*text-decoration: underline;*/
		    }
		}
	}	
}





