/* DASHBOARD styles
===================================================*/ 

/* Favorite Apps and Personal Quick Links
===================================================*/ 
.usf_dash, #views-form-favorite-links-my-links {
	@include clearTableFormat;

	table {
	    /*margin-left: 15px;*/
	    margin-right: 15px;  

	     @include media-breakpoint-down(phone) {
	     	margin-right: 0;
	     }  

	    a{
	    	font-size: 1rem!important;
	    }
	}

	.appsLinks {
		margin-left: 0px;
   		margin-right: 0px;
   		margin-bottom: 20px;
		background: transparentize($light_beige, .5);
		height:560px;

		@include media-breakpoint-down(desktop) {
			height: 580px;
		}

		@include media-breakpoint-down(tablet) {
			height: 710px;
		}
		

		div.col-sm{
			&:first-child h2 {
				color: $plum!important;
			}
			&:last-child h2 {
				color: $turquoise!important;
				@include media-breakpoint-down(tablet) {
					margin-top: 20px;
				}
			}
		    #block-dashboardannouncements h2 {
			    color:$black!important;
			}
		}

		.myApps {
			height:360px;
			margin-left: 20px;
			margin-right: 20px;

			@include media-breakpoint-down(phone) {
				margin-left: 0px;
				margin-right: 0px;
			}

			h2 {
				margin-top: 10px;
				@include media-breakpoint-down(phone) {
					margin-left: 20px;
					font-size: 1.3rem;
				}
			}

			#block-views-block-favorite-links-block {

				.view-content {
					height: 195px; 
					overflow-y: auto;
					margin-left: -10px;
					margin-right: -10px; 

					&:-webkit-scrollbar {
					 	-webkit-appearance: none;
					}
					&:-webkit-scrollbar:vertical {
					 	width: 11px;
					}
					&:-webkit-scrollbar:horizontal {
					 	height: 11px;
					}
					&:-webkit-scrollbar-thumb {
					 	border-radius: 8px;
					 	border: 2px solid transparentize($light_beige, .5); /* should match background, can't be transparent */
					 	background-color: rgba(0, 0, 0, .5);
					}

					@include media-breakpoint-down(desktop) {
						margin-right: -15px;
						height: 200px; 
					}				
					
					@include media-breakpoint-down(tablet) {
						height: 340px;
					}

					@include media-breakpoint-down(phone) {
				        width:100%;
				        height: 370px;
				        margin-top: 20px;
				        margin-left: 0px;
						margin-right: 0px; 
				    }	
				}
			
				table {
					position:absolute;
					left: 620px;
					width:200px;
					height:140px;

					@media screen and (min-width: 1060px) {
						width: 200px!important;
					}

					@include media-breakpoint-down(desktop) {
				    	left: 485px;
				    	width: 180px;
					}
				    @include media-breakpoint-down(tablet) {
						left: 320px;
    					width: 300px;
    					margin-top: -10px;
					}
					@include media-breakpoint-down(phone) {
					 	left: 0px;
					    width: 86%;
					    margin-top: 0;
					    margin-left: 20px;
					    border-spacing: 0 10px;
					    border-collapse: separate;
					}

					thead {
						display: none;
					}
					
					tr {
						&:first-child td, &:nth-child(2) td, &:nth-child(3) td, &:nth-child(4) td {
							position: absolute;
						    width: 130px;
						    height: 130px;
						    margin: 0px;
						    top: 0;
						    padding:10px!important;
						    text-align:center!important;
							line-height: 115px;
							margin-left: 0;

							@include media-breakpoint-down(desktop) {
						    	width: 110px;
						    	height: 110px;
						    	line-height: 90px;
							}
						    @include media-breakpoint-down(tablet) {
								width: 130px;
						    	height: 130px;
						    	line-height: 105px;
							}
							@include media-breakpoint-down(phone) {
							 	position: unset;
							 	width: 100%;
						    	height: 50px!important;
						    	line-height: unset;
						    	margin-top: 20px;
							}

						    a {
						    	color:$white;
						    	font-size:.95rem!important;
						    	line-height: 1.2rem!important;
						    	text-transform: uppercase!important;
						    	display: inline-block;
								vertical-align: middle;
								

								@include media-breakpoint-down(desktop) {
				    				font-size:.85rem!important;
								}
								@include media-breakpoint-down(phone) {
									padding: 5px 10px!important;
								}

						    	&:hover,
								&:focus {
									text-decoration: underline;
									color: $white!important;
									background: transparent;
								}
						    }
						}

						&:first-child td {						
						    background: $olive;
						    left:-620px;
						    margin-top:10px;

						    @include media-breakpoint-down(desktop) {
						    	left: -480px!important;
							}
						    @include media-breakpoint-down(tablet) {
						    	left: -320px!important;
						    	margin-top: 20px;
						    }
						    @include media-breakpoint-down(phone) {
								left:0!important;
								top:0;
							}					    
						}

						&:nth-child(2) td {
						    background: $plum;
						    left: -470px;
						    margin-top:10px;
						    @include media-breakpoint-down(desktop) {
						    	left: -360px!important;
							}
						    @include media-breakpoint-down(tablet) {
						    	left: -170px!important;
						    	margin-top: 20px;
						    }
						    @include media-breakpoint-down(phone) {
								left:0!important;
								top:0;
							}	
						}

						&:nth-child(3) td {
						    background: $turquoise;
						    left: -320px;
						    margin-top:10px;
						     @include media-breakpoint-down(desktop) {
						    	left: -240px!important;
							}
						    @include media-breakpoint-down(tablet) {
						    	left: -320px!important;
    							top: 160px;
						    }
						    @include media-breakpoint-down(phone) {
								left:0!important;
								top:0;
							}	
						}
						&:nth-child(4) td {
						    background: $orange;
						    left: -170px;
						    margin-top:10px;
						     @include media-breakpoint-down(desktop) {
						    	left: -120px!important;
							}
						    @include media-breakpoint-down(tablet) {
						    	left: -170px!important;
    							top: 160px;
						    }
						    @include media-breakpoint-down(phone) {
								left:0!important;
								top:0;
							}	
						}
						
						&:nth-child(5) td {
							 @include media-breakpoint-down(phone) {
							    padding-top: 10px!important;
							}
						}
						&:last-child td {
							padding-bottom: 12px!important;
						}

						td {
							line-height: 1rem;
							padding-bottom: 8px;

							 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
							 	padding-bottom: 0px;
							 }

							a {
								font-size: .9rem!important;
								font-weight: 600;
								color: $plum;
							}
						}
					}
				}
				
				.view-footer {
					a.appPref {
						font-size: 0;

						&:before {
							display: inline-block;
						    content: "";
						    position: absolute;
						    width: 25px;
						    height: 25px;
						    top: -27px;
						    right: -20px;
						    opacity: .6;
					    	margin: auto 10px auto auto;
					    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -545px -102px;

					    	@include media-breakpoint-down(phone) {
					    		right: -10px;
					    	}
						}
						&:hover:before,
					    &:focus:before {
					    	opacity:.8;
					    }
					}

					a.seeMyApps {
						text-decoration:none;
						top: -40px;
						margin-left: -10px;

						@include media-breakpoint-down(desktop) {

						}
						@include media-breakpoint-down(tablet) {
					    	top: -40px;
					    }
					    @include media-breakpoint-down(phone) {
					    	top: 10px;
					    	left: 27px;
					    }

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					} 
				}
			}
		}

		.separator {
		    position: absolute;
		    top: 275px;
		    height: 2px;
		    width: calc(100% - 78px);
		    background: $light_gray;
		    margin-left: 24px;

		    @include media-breakpoint-down(desktop) {

			}

		    @include media-breakpoint-down(tablet) {
		    	top: 400px;
		    }
		    @include media-breakpoint-down(phone) {
				top:500px;
			}
		}
		.myLinks {
			position:absolute;
			top:285px;
			left:0;
			height:210px;
			margin-left: 10px;
			margin-right: 20px;
			
			@include media-breakpoint-down(desktop) {

			}

			@include media-breakpoint-down(tablet) {
		    	top: 400px;
		    }
		    @include media-breakpoint-down(phone) {
		    	top: 515px;
		    }

			h2 {
				padding-left:14px;
				@include media-breakpoint-down(phone) {
		    		padding-left:24px;
		    		font-size: 1.3rem;
		    	}
			}

			.table-responsive.col {
			    max-width: 100%!important;
			}

			#block-views-block-quick-links-block {
				.view-content {
					height: 210px; /*was 593px */
					width: 96%;
					overflow-y: auto;
					margin-left: 0;
					margin-right: -10px; /*was 0 */

					&:-webkit-scrollbar {
					 	-webkit-appearance: none;
					}
					&:-webkit-scrollbar:vertical {
					 	width: 11px;
					}
					&:-webkit-scrollbar:horizontal {
					 	height: 11px;
					}
					&:-webkit-scrollbar-thumb {
					 	border-radius: 8px;
					 	border: 2px solid transparentize($light_beige, .5); /* should match background, can't be transparent */
					 	background-color: rgba(0, 0, 0, .5);
					}					

					@include media-breakpoint-down(desktop) {
				        height: 240px;
				    }
					
					@include media-breakpoint-down(phone) {
				        height: 112px;
				    }

				    .views-row {
					    margin-bottom: 10px;
					}
				}

				table {
						position:absolute;
						left: 620px; /*50%!important;*/
						width: 31.5%!important; /*50%*/
						top: -400px; /*-500*/
						@media screen and (min-width: 792px) {
							top: -435px!important;    
						}
						@media screen and (min-width: 908px) {
							top: -415px!important;  
							left: 585px;  
						}
						@media screen and (min-width: 1040px) {
						    
						}
						@media screen and (min-width: 1138px) {
						    top: -415px!important;
						}
						@media screen and (min-width: 1333px) {
						    top: -395px!important;
						}

						@include media-breakpoint-down(desktop) {
						    left: 480px;
						    top: -455px;
				
						}
					    @include media-breakpoint-down(tablet) {
					    	left: 475px;
					    	
					    }
					    @include media-breakpoint-down(phone) {
							width: 100%!important;
							top: 0;
							left: 5px;
							margin-top: -5px;
						}	

						thead {
							display: none;
						}
						tr {
							&:first-child td {
								padding-top: 16px!important;
							}
							&:first-child td, &:nth-child(2) td, &:nth-child(3) td, &:nth-child(4) td, 
							&:nth-child(5) td, &:nth-child(6) td  {
								position:relative;
								left: -625px;
								top:400px;
								
								@media screen and (min-width: 792px) {
						    		top: 420px!important;
								}
								@media screen and (min-width: 908px) {
									top: 400px!important;
									left: -585px
								}
								@media screen and (min-width: 1138px) {
								    top: 400px!important;
								}
								@media screen and (min-width: 1333px) {
									top: 380px!important;
								}

								@include media-breakpoint-down(desktop) {
						    		left: -485px;
						    		top: 440px;
								}
							    @include media-breakpoint-down(tablet) {
							    	left: -485px;
							    }
							    @include media-breakpoint-down(phone) {
									left: 0;
									top: 0px;
								}	
							}
							&:nth-child(7) td, &:nth-child(8) td, &:nth-child(9) td, &:nth-child(10) td, 
							&:nth-child(11) td, &:nth-child(12) td {
							 	position:relative;
								left: -320px;
								top: 180px;

								@media screen and (min-width: 792px) {
						    		top: 180px!important;
								}
								@media screen and (min-width: 908px) {
									left: -270px;
								}

								@include media-breakpoint-down(desktop) {
						    		left: -240px;
						    		top: 200px;
						    		
								}
							    @include media-breakpoint-down(tablet) {

							    }
							    @include media-breakpoint-down(phone) {
									left: 0;
									top: 0px;
								}	
							}

							/*&:first-child td, &:nth-child(2) td, &:nth-child(3) td, &:nth-child(4) td, 
							&:nth-child(5) td, &:nth-child(6) td, &:nth-child(7) td, &:nth-child(8) td {
								position:relative;
								left: -101.5%!important; 
								top:280px; 

								@include media-breakpoint-down(desktop) {
						    		left: -525px;
								}
							    @include media-breakpoint-down(tablet) {
							    	
							    }
							    @include media-breakpoint-down(phone) {
									left: 0;
									top: 0px;
								}	
							}*/
							&:nth-child(4) td {
								
							}
							&:nth-child(5) td {
								
							}

							&:last-child td {
								padding-bottom: 20px!important;
							}
						}

						td {
							padding: 5px 20px!important;

							&:first-of-type { 
								padding-top: 20px;
							}
							&:last-of-type {
								padding-bottom: 20px;
							}

							a {
								font-size: .9rem!important;
								font-weight: 600;
								color: $turquoise;
							}
						}
					}
				
				.view-footer {
					a.addLinks {
						font-size: 0;

						&:before {
							display: inline-block;
						    content: "";
						    position: absolute;
						    width: 25px;
						    height: 25px;
						    top: -27px;
						    right: 35px;
						    opacity: .6;
					    	margin: auto 10px auto auto;
					    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -545px -102px;

					    	@include media-breakpoint-down(phone) {
					    		right: 15px;
					    	}
						}
						&:hover:before,
					    &:focus:before {
					    	opacity:.8;
					    }
					}
					a.manageLinks {
						font-size: 0;

						&:before {
							display: inline-block;
						    content: "";
						    position: absolute;
						    width: 25px;
						    height: 25px;
						    top: -27px;
						    right: 70px;
						    opacity: .6;
					    	margin: auto 10px auto auto;
					    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -575px -102px;

					    	@include media-breakpoint-down(phone) {
					    		right: 55px;
					    	}
						}
						&:hover:before,
					    &:focus:before {
					    	opacity:.8;
					    }
					}				    
				}
			}
		}
	}
}

.sidebar .block {
	border: 0;
	/*margin-top:  97px;*/
}

#sidebar_second img {
	width: 100%;
	margin-top:0;

}
aside.section div:first-child {
    	padding: 0;
	}

/*  My Apps Preferences page
===================================================*/ 

#views-form-favorite-links-my-links {
	table {
			background: transparentize($light_gray, .7);
			margin-top: 10px;
			margin-bottom: 20px;

			thead {
				display: none;
			}
			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}

			td {
				padding: 10px 20px!important;

				a {
					font-size: .9rem!important;
					font-weight: 400;
					color: $plum;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field.views-field-link-flag {
				    width: 40%;

				    a {
				    	font-size: .75rem!important;
				    	font-style: italic;
				    }
				}
			}
		}

	.form-actions.js-form-wrapper.form-group button {
	    margin-left: 15px;
	    margin-top: 20px;
	}

	button.link.tabledrag-toggle-weight {
		font-size: .85rem;
		color: $green;
		font-weight: 600;
		text-decoration: underline;
		border: 0;

		&:hover,
		&:focus {
			color:$black!important;
			text-decoration: none;
			background-color: transparentize( $yellow, 0.8);
		}
	}
}



/*  Quick Links Manage page
===================================================*/ 
div.view-quick-links.view-id-quick_links {
	.views-form {
    	width: 100%;
	}

	button.link.tabledrag-toggle-weight, 
	a.btn.btn-default {
		font-size: .85rem;
		color: $green;
		font-weight: 600;
		text-decoration: underline;
		border: 0;

		&:hover,
		&:focus {
			color:$black!important;
			text-decoration: none;
			background-color: transparentize( $yellow, 0.8);
		}
	}

	#views-form-quick-links-all-apps {
		@include clearTableFormat;
		
		table{
			
			border: 5px solid $light_gray;
			color: $turquoise;
			margin-top: 10px;
			margin-bottom: 4
			0px;

			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}
			th {
				font-size: .75rem;
				color: $white;
				background:$turquoise;
				border: 1px solid $white;
				padding-left: 20px;
				padding-right: 20px;
			}
			td {
				padding: 10px 20px!important;
				border: 1px solid $gray_medium;

				a {
					font-size: .9rem!important;
					font-weight: 600;
					color: $turquoise;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field-link-flag {
					width: 20%;

					@include media-breakpoint-down(phone) { 
					 	.flag.flag-favorite a {
						    width: 90px;
						}
					}

					a {
			    		font-size: .75rem!important;
			    		font-style: italic;
	    			}
				}			
			}
		}
		#edit-actions {
			margin-left: 15px;
		}
	}

	#views-form-quick-links-my-links {		
		width: 80%;
		@include clearTableFormat;

		table{
			
			border: 5px solid $light_gray;
			color: $turquoise;
			margin-top: 10px;
			margin-bottom: 20px;

			thead {
				display: none;
			}
			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}

			td {
				padding: 10px 20px!important;

				a {
					font-size: .9rem!important;
					font-weight: 600;
					color: $turquoise;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field-link-flag {
					width: 35%;

					a {
			    		font-size: .75rem!important;
			    		font-style: italic;
	    			}
				}			
			}
		}

		/*button.link.tabledrag-toggle-weight{
			font-size: .85rem;
			color: $green;
			font-weight: 600;
			text-decoration: underline;
			border: 0;

			&:hover,
			&:focus {
				color:$black!important;
				text-decoration: none;
				background-color: transparentize( $yellow, 0.8);
			}
		}*/

		.form-group {
	    	padding-left: 15px;
	    }
	}

	#views-exposed-form-quick-links-all-apps {
		input#edit-combine {
		    height: 41px;
		}
		input#edit-submit-quick-links {
		    margin-bottom: 10px;
		}
		@include media-breakpoint-only(tablet) {
			.form-row {
			    width: 150%;
			}
		}
	}
}





/*  Events
===================================================*/ 

.usf_dash {
	.eventsLink {
		display:block;

		a {
			float: right;
    		margin-top: 20px;
    		margin-right: -5px;
    		text-decoration: none;

    		@include media-breakpoint-down(phone) { 
    		 	margin-right: 0;
    		}
		}
	}
}



/*  Announcements
===================================================*/ 

.usf_dash {

.view-dashboard-announements {
		margin-top: 1.5rem;
	}

	.views-field-title {
	    margin-left: 130px;
	    @include media-breakpoint-down(phone) { 
	     	margin-left: 120px;
	     }
	
		a {
		    font-size: 1.2rem;
		    color: $green;
		    font-weight: 700;
		    text-decoration: none;
		    margin-left: unset!important;
		}
	}

	.views-field-field-published-date {	    
	    margin-left: 130px;
	    text-transform: uppercase;
	    font-size: .75rem;
	    color: $gray_medium;
	    font-weight: 600;
	}

	.views-field-field-featured-image {
		float: left;
		margin-left: 15px;
	    margin-right: 15px;

	     @include media-breakpoint-down(phone) { 
	     	margin-left: 3px;
	     }
	}

	.views-field-field-announcement-teaser {
		margin-left: 130px;
		margin-bottom: 30px;		
	}
	.views-field-title, .views-field-field-announcement-teaser , .views-field-field-published-date {
		@include media-breakpoint-down(phone) { 
	     	margin-left: 120px;
	    }
	}
}





