/* DASHBOARD styles
===================================================*/ 

/* Favorite Apps and Personal Quick Links
===================================================*/ 
.usf_dash, #views-form-favorite-links-my-links {
	@include clearTableFormat;

	table {
	    /*margin-left: 15px;*/
	    margin-right: 15px;  

	     @include media-breakpoint-down(phone) {
	     	margin-right: 0;
	     }  

	    a {
	    	font-size: 1rem!important;
	    }
	}

	.appsLinks {
		margin-left: 0px;
   		margin-right: 0px;
   		margin-bottom: 20px;
		background: transparentize($light_beige, .5);
		height:560px;

		@include media-breakpoint-down(desktop) {
			height: 580px;
		}

		@include media-breakpoint-down(tablet) {
			height: 700px;
		}

		@include media-breakpoint-down(phone) {
			height: 850px;
		}
		

		div.col-sm{
			&:first-child h2 {
				color: $plum!important;
				@include media-breakpoint-up(desktop) {
					margin-left: 5px;
				}
			}
			&:last-child h2 {
				color: $turquoise!important;
				@include media-breakpoint-down(tablet) {
					margin-top: 20px;
				}
				@include media-breakpoint-down(phone) {
					margin-top: 0px;
				}
			}
		    #block-dashboardannouncements h2 {
			    color:$black!important;
			}
		}

		.myApps {
			height:360px;
			margin-left: 20px;
			margin-right: 20px;

			@include media-breakpoint-down(phone) {
				margin-left: 0px;
				margin-right: 0px;
			}

			h2 {
				margin-top: 10px;
				@include media-breakpoint-down(phone) {
					margin-left: 20px;
					font-size: 1.3rem;
				}
			}

			#block-views-block-favorite-links-block {

				.view-content {
					height: 200px;
				    overflow: auto;	
				    margin-left: 2px;
					margin-right: -10px; 
					width:100%;


					@include media-breakpoint-down(desktop) {
				        height: 200px;
				    }
					
					@include media-breakpoint-down(phone) {
				        height: 112px;
				        margin-top: -11px;
				        width: 283px;
				    }

				    .views-row {
					    margin-bottom: 10px;
					}
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
						width:50%!important;
					}
					/* Microsoft Edge Browser 12+ (All) - @supports method */
					@supports (-ms-ime-align: auto){ 
						width:50%!important;
					}

				}
				-webkit-overflow-scrolling: auto;
				
				::-webkit-scrollbar {
				    -webkit-appearance: none;
				    width: 7px;
    				height: 7px;
				}

				::-webkit-scrollbar-thumb {
				    border-radius: 4px;
				    background-color: rgba(0,0,0,.5);
				    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
				}
				.table-responsive.col {
					padding-left: 0px;
					max-width: 100%;
				}
			
				table {
					display:table;
					position:absolute;
					/*left: 620px;
					width:200px;*/
					width:33%;
					left:66.3%;
					height:140px;

					@media screen and (min-width: 1060px) {
						/*width: 200px!important;*/
					}

					@include media-breakpoint-down(desktop) {
				    	/*left: 485px;
				    	width: 180px;*/
					}
				    @include media-breakpoint-down(tablet) {
						left: 320px;
    					/*width: 300px;*/
    					width:50%;
    					margin-top: 10px;
					}
					@include media-breakpoint-down(phone) {
					 	left: 0px;
					    width: 86%;
					    margin-top: 0;
					    margin-left: 20px;
					    border-spacing: 0 10px;
					    border-collapse: separate;
					}

					thead {
						display: none;
					}
					
					tr {
						&:first-child td, &:nth-child(2) td, &:nth-child(3) td, &:nth-child(4) td {
							position: absolute;
						    width: 130px;
						    height: 130px;
						    margin: 0px;
						    top: 0;
						    padding:10px!important;
						    text-align:center!important;
							line-height: 115px;
							margin-left: 0;

							@media screen and (min-width: 1090px) {
								width: 120px!important;
						    	height: 120px!important;
						    	line-height: 100px;
							}
							@media screen and (min-width: 1300px) {
								width: 140px!important;
    							height: 140px!important;
    							line-height: 125px!important;
							}
							
							@include media-breakpoint-up(desktop) {
						    	width: 110px;
						    	height: 110px;
						    	line-height: 90px;
							}
						    @include media-breakpoint-down(tablet) {
								width: 130px;
						    	height: 130px;
						    	line-height: 105px;
							}
							@include media-breakpoint-down(phone) {
							 	position: unset;
							 	width: 100%;
						    	height: 50px!important;
						    	line-height: unset;
						    	margin-top: 20px;
							}

						    a {
						    	color:$white;
						    	font-size:.85rem!important;
						    	line-height: 1.2rem!important;
						    	text-transform: uppercase!important;
						    	display: inline-block;
								vertical-align: middle;
								

								@include media-breakpoint-down(desktop) {
				    				font-size:.85rem!important;
								}
								@include media-breakpoint-down(phone) {
									padding: 5px 10px!important;
								}

						    	&:hover,
								&:focus {
									text-decoration: underline;
									color: $white!important;
									background: transparent;
								}
						    }
						}

						&:first-child td {						
						    background: $olive;
						    left: -201%;
						    margin-top:0px;

						    @include media-breakpoint-up(large_desktop) {
						    	left: -201%!important;
							}
						    @include media-breakpoint-down(desktop) {
						    	/*left: -480px!important;*/
							}
						    @include media-breakpoint-down(tablet) {
						    	left: -320px!important;
						    	/*left: -201%!important;*/
						    	margin-top: 0px;
						    }
						    @include media-breakpoint-down(phone) {
								left:0!important;
								top:0;
							}					    
						}

						&:nth-child(2) td {
						    background: $plum;
						    /*left: -470px;*/
						    left: -150%;
						    margin-top:0px;

						    @include media-breakpoint-down(large_desktop) {
						    	left: -150%!important;
							}
						    @include media-breakpoint-down(desktop) {
						    	/*left: -360px!important;*/
							}
						    @include media-breakpoint-down(tablet) {
						    	left: -170px!important;
						    	margin-top: 0px;
						    }
						    @include media-breakpoint-down(phone) {
								left:0!important;
								top:0;
							}	
						}

						&:nth-child(3) td {
						    background: $turquoise;
						    /*left: -320px;*/
						    left: -99%;
						    margin-top:0px;

						    @include media-breakpoint-down(large_desktop) {
						    	left: -99%!important;
							}
						    @include media-breakpoint-down(desktop) {
						    	/*left: -240px!important;*/
							}
						    @include media-breakpoint-down(tablet) {
						    	left: -320px!important;
						    	/*left: -201%!important;*/
    							top: 150px;
						    }
						    @include media-breakpoint-down(phone) {
								left:0!important;
								top:0;
							}	
						}
						&:nth-child(4) td {
						    background: $orange;
						    /*left: -170px;*/
						    left: -48%;
						    margin-top:0px;

						    @include media-breakpoint-down(large_desktop) {
						    	left: -48%!important;
							}
						    @include media-breakpoint-down(desktop) {
						    	/*left: -120px!important;*/
							}

						    @include media-breakpoint-down(tablet) {
						    	left: -170px!important;
    							top: 150px;
						    }
						    @include media-breakpoint-down(phone) {
								left:0!important;
								top:0;
							}	
						}
						
						&:nth-child(5) td {
							@include media-breakpoint-down(phone) {
							    padding-top: 10px!important;    
							}
						}
						&:last-child td {
							padding-bottom: 12px!important;
						}

						td {
							line-height: 1rem;
							padding: 5px 20px!important;

							@include media-breakpoint-down(phone) {  
							    padding-left: 0px!important; 
							}

							 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
							 	padding-bottom: 0px;
							 }

							a {
								font-size: .9rem!important;
								font-weight: 600;
								color: $plum;
							}
						}
					}
				} 
				
				.view-footer {
					a.appPref {

						font-size: 0;

						&::before {
							display: inline-block;
						    content: "";
						    position: absolute;
						    width: 25px;
						    height: 25px;
						    top: -27px;
						    right: -20px;
						    opacity: .6;
					    	margin: auto 10px auto auto;
					    	background: url(/themes/custom/myusf/images/site/icons.png) no-repeat -545px -102px;
					    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -545px -102px;

					    	@include media-breakpoint-down(phone) {
					    		right: -10px;
					    	}
						}
						&:hover::before,
					    &:focus::before {
					    	opacity:.8;
					    }

					    /* IE10+ CSS styles go here */
						@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
							font-size:.8rem; 
							position:absolute;
							top: -37px;
							right: 25px;
							color: $green;
							text-decoration: underline;

							&::before {
								display:none;
							}
							&:hover::before,
						    &:focus::before {
						    	text-decoration:none;
						    }
						}
					}

					a.seeMyApps {
						text-decoration:none;
						top: -40px;
						margin-left: 2px;

						@include media-breakpoint-down(desktop) {

						}
						@include media-breakpoint-down(tablet) {
					    	top: -40px;
					    }
					    @include media-breakpoint-down(phone) {
					    	top: 10px;
					    	left: 15px;
					    }

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					} 
				}
			}
		}

		.separator {
		    position: absolute;
		    top: 275px;
		    height: 2px;
		    width: calc(100% - 78px);
		    background: $light_gray;
		    margin-left: 24px;

		    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
		    	left:0;
		    }

		    @include media-breakpoint-down(desktop) {

			}

		    @include media-breakpoint-down(tablet) {
		    	top: 415px;
		    }
		    @include media-breakpoint-down(phone) {
				top: 490px;
			}
		}
		.defaultQuickLinks {
			position:absolute;
			top:285px;
			left:0;
			height:180px;
			margin-left: 10px;
			margin-right: 20px;
			
			@include media-breakpoint-down(desktop) {

			}

			@include media-breakpoint-down(tablet) {
		    	top: 420px;
		    }
		    @include media-breakpoint-down(phone) {
		    	top: 500px;
		    }

			h2 {
				padding-left:25px;
				color: $turquoise!important; 

				@include media-breakpoint-down(phone) {
		    		padding-left:24px;
		    		font-size: 1.3rem;
		    	}
			}

			.table-responsive.col {
			    max-width: 100%!important;
			}

			#block-views-block-default-quick-links-block {
				.view-content {
					height: 200px;
				    overflow: auto;	
				    margin-left: 2px;
					margin-right: -10px; 
					width:100%;


					@include media-breakpoint-down(desktop) {
				        height: 200px;
				    }
					
					@include media-breakpoint-down(phone) {
				        height: 112px;
				        margin-top: -11px;
				        width: 283px;
				    }

				    .views-row {
					    margin-bottom: 10px;
					}
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
						width:50%!important;
					}
					/* Microsoft Edge Browser 12+ (All) - @supports method */
					@supports (-ms-ime-align: auto){ 
						width:50%!important;
					}

				}
				-webkit-overflow-scrolling: auto;
				
				::-webkit-scrollbar {
				    -webkit-appearance: none;
				    width: 7px;
    				height: 7px;
				}

				::-webkit-scrollbar-thumb {
				    border-radius: 4px;
				    background-color: rgba(0,0,0,.5);
				    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
				}

				.table-responsive {
					padding-left: 0px;
					@include media-breakpoint-down(tablet) {
						margin-left: 0px;
					}

					@include media-breakpoint-down(phone) {
						margin-left: -10px;
					}
				}

				table {
					display: table;
					position:absolute;
					left: 0%;
					top: -370px; 

					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
						left: 0;
						width: 100%!important; 
						top: 0; 
					}
					@supports (-ms-ime-align: auto){ 
						left: 0;
						width: 100%!important; 
						top: 0;
					}

				    @include media-breakpoint-down(phone) {
						width: 270px!important;
						left: 5px;
						margin-top: -5px;
					}	

					thead {
						display: none;
					}
					tr {

						td {
							max-width: 95px;
						    overflow: hidden;
						    text-overflow: ellipsis;
						}
						&:first-child td {
							padding-top: 16px!important;
						}

						&:last-child td {
							padding-bottom: 20px!important;
						}
					}

					td {
						position: relative;
						top: 359px;

						padding: 5px 20px!important;

						&:first-of-type { 
							padding-top: 20px;
						}
						&:last-of-type {
							padding-bottom: 20px;
						}

						a {
							font-size: .9rem!important;
							font-weight: 600;
							color: $turquoise;

							 @include media-breakpoint-down(phone) {
							 	white-space: normal;
							 }

						}
					}
				}
				
				.view-footer {
					a.addLinks {
						font-size: 0;

						&::before {
							display: inline-block;
						    content: "";
						    position: absolute;
						    width: 25px;
						    height: 25px;
						    top: -34px;
						    right: -30px;
						    opacity: .6;
					    	margin: auto 10px auto auto;
					    	background: url(/themes/custom/myusf/images/src/icons.png) no-repeat -545px -102px;
					    	background: url(/themes/custom/myusf/images/src/icons.svg) no-repeat -545px -102px;

					    	@include media-breakpoint-down(phone) {
					    		right: 15px;
					    	}
						}
						&:hover::before,
					    &:focus::before {
					    	opacity:.8;
					    }
					}
					a.manageLinks {
						font-size: 0;

						&::before {
							display: inline-block;
						    content: "";
						    position: absolute;
						    width: 25px;
						    height: 25px;
						    top: -35px;
						    right: 0px;
						    opacity: .6;
					    	margin: auto 10px auto auto;
					    	background: url(/themes/custom/myusf/images/src/icons.png) no-repeat -575px -102px;
					    	background: url(/themes/custom/myusf/images/src/icons.svg) no-repeat -575px -102px;

					    	@include media-breakpoint-down(phone) {
					    		right: 55px;
					    	}
						}
						&:hover::before,
					    &:focus::before {
					    	opacity:.8;
					    }
					}				    
				}
			}
		}
		.myQuickLinks {
			position:absolute;
			top:285px;
			left:31%;
			height:210px;
			margin-left: 10px;
			margin-right: 20px;
			width: 66%;
			
			@include media-breakpoint-down(desktop) {

			}

			@include media-breakpoint-down(tablet) {
		    	top: 400px;
		    }
		    @include media-breakpoint-down(phone) {
		    	top: 665px;
		    	left: 0;
    			width: 300px;

		    }

			h2 {
				padding-left:21px;
				@include media-breakpoint-down(phone) {
		    		padding-left:24px;
		    		font-size: 1.3rem;
		    	}
			}

			.table-responsive.col {
			    max-width: 100%!important;
			    overflow-x: initial;
			}

			#block-views-block-quick-links-block {
				.view-content {
					height: 200px;
				    overflow: auto;	
				    margin-left: 2px;
					margin-right: -10px; 
					width:100%;


					@include media-breakpoint-down(desktop) {
				        height: 200px;
				    }
					
					@include media-breakpoint-down(phone) {
				        height: 112px;
				        margin-top: -11px;
				        width: 283px;
				    }

				    .views-row {
					    margin-bottom: 10px;
					}
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
						width:50%!important;
					}
					/* Microsoft Edge Browser 12+ (All) - @supports method */
					@supports (-ms-ime-align: auto){ 
						width:50%!important;
					}

				}
				-webkit-overflow-scrolling: auto;
				
				::-webkit-scrollbar {
				    -webkit-appearance: none;
				    width: 7px;
    				height: 7px;
				}

				::-webkit-scrollbar-thumb {
				    border-radius: 4px;
				    background-color: rgba(0,0,0,.5);
				    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
				}

				.table-responsive {
					padding-left: 0px;
					@include media-breakpoint-down(tablet) {
						margin-left: 0px;
					}

					@include media-breakpoint-down(phone) {
						margin-left: -10px;
					}
				}

				table {
					display: table;
					position:absolute;					
					width: 45%; 
					left: 35%;
					top: -360px;


					/* IE10+ CSS styles go here */
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
						left: 0;						
						top: 0; 
						width:70%!important;
					}
					/* Microsoft Edge Browser 12+ (All) - @supports method */
					@supports (-ms-ime-align: auto){ 
						left: 0;
						top: 0;
						width:70%!important;
					}

					@media screen and (min-width: 792px) {
						
					}
					@media screen and (min-width: 908px) {					
						/*left: 585px; */ 
					}
					@media screen and (min-width: 1040px) {
					    
					}
					@media screen and (min-width: 1138px) {
					   
					}
					@media screen and (min-width: 1333px) {
					    
					}

					@include media-breakpoint-down(desktop) {
					    /*left: 460px;*/						   
			
					}
				    @include media-breakpoint-down(tablet) {
				    	/*left: 475px;*/					    	
				    }
				    @include media-breakpoint-down(phone) {
						width: 270px!important;
						top: 0;
						left: 12px;
						margin-top: -5px;
					}	

					thead {
						display: none;
					}
					tr {

						td {
							max-width: 95px;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    white-space: nowrap;
						}
						&:first-child td {
							padding-top: 5px!important;
						}

						&:last-child td {
							padding-bottom: 20px!important;
						}
						&:first-child td , &:nth-child(2) td , &:nth-child(3) td , &:nth-child(4) td , 
						&:nth-child(5) td , &:nth-child(6) td  {
							position:relative;
							left: -78%;
							top: 360px;
							
							@media screen and (min-width: 792px) {
					    		/*top: 420px!important;*/
							}
							@media screen and (min-width: 908px) {
								
								/*left: -585px*/
							}
							@media screen and (min-width: 1138px) {
							   /* top: 360px!important;*/
							}
							@media screen and (min-width: 1333px) {
								/*top: 380px!important;*/
							}

							@include media-breakpoint-down(desktop) {
					    		/*left: -485px;*/
					    	
							}
						    @include media-breakpoint-down(tablet) {
						    	/*left: -485px;*/
						    	
						    }
						    @include media-breakpoint-down(phone) {
								left: 0;
								top: 0px;
							}	
						}


						td {
						 	position:relative;
							left: 34%;
							top: 179px;

							@media screen and (min-width: 792px) {
					    		/*top: 200px!important;*/
							}
							@media screen and (min-width: 908px) {
								/*left: -270px;*/
							}

							@include media-breakpoint-down(desktop) {
					    		/*left: -240px;
					    		top: 200px;*/
					    		
							}
						    @include media-breakpoint-down(tablet) {

						    }
						    @include media-breakpoint-down(phone) {
								left: 0;
								top: 0px;
							}	
						}


						@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
							td {
								max-width: 95px;
							    overflow: hidden;
							    text-overflow: ellipsis;
							    white-space: nowrap;
							}
							&:first-child td {
								padding-top: 5px!important;
							}

							&:last-child td {
								padding-bottom: 20px!important;
							}

							td {
							 	position:relative;
								left: 34%;
								top: 179px;

							    @include media-breakpoint-down(phone) {
									left: 0;
									top: 0px;
								}	
							}
						}
						@supports (-ms-ime-align: auto){ 
							td {
								max-width: 95px;
							    overflow: hidden;
							    text-overflow: ellipsis;
							    white-space: nowrap;
							}
							&:first-child td {
								padding-top: 5px!important;
							}

							&:last-child td {
								padding-bottom: 20px!important;
							}

							td {
							 	position:relative;
								left: 34%;
								top: 179px;

							    @include media-breakpoint-down(phone) {
									left: 0;
									top: 0px;
								}	
							}
						}
					}

					td {
						padding: 5px 20px!important;

						&:first-of-type { 
							padding-top: 20px;
						}
						&:last-of-type {
							padding-bottom: 20px;
						}

						a {
							font-size: .9rem!important;
							font-weight: 600;
							color: $turquoise;

							@include media-breakpoint-down(phone) {
							 	white-space: normal;
							 }
						}
					}
				}				
			}
			.view-footer {
				a.addLinks {
					font-size: 0;

					&::before {
						display: inline-block;
					    content: "";
					    position: absolute;
					    width: 25px;
					    height: 25px;
					    top: 26px;
					    right: 0px;
					    opacity: .6;
				    	margin: auto 10px auto auto;
				    	background: url(/themes/custom/myusf/images/src/icons.png) no-repeat -545px -102px;
				    	background: url(/themes/custom/myusf/images/src/icons.svg) no-repeat -545px -102px;

				    	@include media-breakpoint-down(phone) {
				    		right: -20px!important;
				    	}
					}
					&:hover::before,
				    &:focus::before {
				    	opacity:.8;
				    }

				    /* IE10+ CSS styles go here */
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
						font-size:.8rem; 
						position:absolute;
						top: 22px;
						right: 25px;

						&::before {
							display:none;
						}
					}
				}
				a.manageLinks {
					font-size: 0;

					&::before {
						display: inline-block;
					    content: "";
					    position: absolute;
					    width: 25px;
					    height: 25px;
					    top: 25px;
					    right: 30px;
					    opacity: .6;
				    	margin: auto 10px auto auto;
				    	background: url(/themes/custom/myusf/images/src/icons.png) no-repeat -575px -102px;
				    	background: url(/themes/custom/myusf/images/src/icons.svg) no-repeat -575px -102px;

				    	@include media-breakpoint-down(phone) {
				    		right: 25px!important;
				    	}
					}
					&:hover::before,
				    &:focus::before {
				    	opacity:.8;
				    }

				    /* IE10+ CSS styles go here */
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
						font-size:.8rem; 
						position:absolute;
						top: 52px;
						right: 25px;

						&::before {
							display:none;
						}
					}
				}				    
			}
		}
	}
}

.sidebar .block {
	border: 0;
	/*margin-top:  97px;*/
}

#sidebar_second img {
	width: 100%;
	margin-top:0;

}
aside.section div:first-child {
    	padding: 0;
	}

/*  My Apps Preferences page
===================================================*/ 

#views-form-favorite-links-my-links {
	table {
			background: transparentize($light_gray, .7);
			margin-top: 10px;
			margin-bottom: 20px;

			thead {
				display: none;
			}
			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}

			td {
				padding: 10px 20px!important;

				a {
					font-size: .9rem!important;
					font-weight: 400;
					color: $plum;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field.views-field-link-flag {
				    width: 40%;

				    a {
				    	font-size: .75rem!important;
				    	font-style: italic;
				    }
				}
			}
		}

	.form-actions.js-form-wrapper.form-group button {
	    margin-left: 15px;
	    margin-top: 20px;
	}

	button.link.tabledrag-toggle-weight {
		font-size: .85rem;
		color: $green;
		font-weight: 600;
		text-decoration: underline;
		border: 0;

		&:hover,
		&:focus {
			color:$black!important;
			text-decoration: none;
			background-color: transparentize( $yellow, 0.8);
		}
	}
}



/*  Quick Links Manage page
===================================================*/ 
div.view-quick-links.view-id-quick_links {
	.views-form {
    	width: 100%;
	}

	button.link.tabledrag-toggle-weight, 
	a.btn.btn-default {
		font-size: .85rem;
		color: $green;
		font-weight: 600;
		text-decoration: underline;
		border: 0;

		&:hover,
		&:focus {
			color:$black!important;
			text-decoration: none;
			background-color: transparentize( $yellow, 0.8);
		}
	}

	#views-form-quick-links-all-apps {
		@include clearTableFormat;
		
		table{
			
			border: 5px solid $light_gray;
			color: $turquoise;
			margin-top: 10px;
			margin-bottom: 4
			0px;

			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}
			th {
				font-size: .75rem;
				color: $white;
				background:$turquoise;
				border: 1px solid $white;
				padding-left: 20px;
				padding-right: 20px;
			}
			td {
				padding: 10px 20px!important;
				border: 1px solid $gray_medium;

				a {
					font-size: .9rem!important;
					font-weight: 600;
					color: $turquoise;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field-link-flag {
					width: 20%;

					@include media-breakpoint-down(phone) { 
					 	.flag.flag-favorite a {
						    width: 90px;
						}
					}

					a {
			    		font-size: .75rem!important;
			    		font-style: italic;
	    			}
				}			
			}
		}
		#edit-actions {
			margin-left: 15px;
		}
	}

	#views-form-quick-links-my-links {		
		width: 80%;
		@include clearTableFormat;

		table{
			
			border: 5px solid $light_gray;
			color: $turquoise;
			margin-top: 10px;
			margin-bottom: 20px;

			thead {
				display: none;
			}
			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}

			td {
				padding: 10px 20px!important;

				a {
					font-size: .9rem!important;
					font-weight: 600;
					color: $turquoise;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field-link-flag {
					width: 35%;

					a {
			    		font-size: .75rem!important;
			    		font-style: italic;
	    			}
				}			
			}
		}

		/*button.link.tabledrag-toggle-weight{
			font-size: .85rem;
			color: $green;
			font-weight: 600;
			text-decoration: underline;
			border: 0;

			&:hover,
			&:focus {
				color:$black!important;
				text-decoration: none;
				background-color: transparentize( $yellow, 0.8);
			}
		}*/

		.form-group {
	    	padding-left: 15px;
	    }
	}

	#views-exposed-form-quick-links-all-apps {
		input#edit-combine {
		    height: 41px;
		}
		input#edit-submit-quick-links {
		    margin-bottom: 10px;
		}
		@include media-breakpoint-only(tablet) {
			.form-row {
			    width: 150%;
			}
		}
	}
}





/*  Events
===================================================*/ 

.usf_dash {
	.eventsLink {
		display:block;
		margin-top: 20px;

		.views-element-container {
			display: inline;

			&:first-of-type a {
				    margin-right: -5px;
			}

			a {
				float: right;
	    		margin-left: 30px;
	    		/*text-decoration: none;*/

	    		@include media-breakpoint-down(phone) { 
	    		 	margin-right: 0;
	    		 	margin-left: 20px;
	    		}
			}
		}

		
	}
}



/*  Announcements
===================================================*/ 

.usf_dash {

	.view-dashboard-announements {
		margin-top: 1.5rem;
	}

	.views-field-title {
	    margin-left: 255px;
	    @include media-breakpoint-down(phone) { 
	     	margin-left: 90px;
	     }
	
		a {
		    font-size: 1.2rem;
		    color: $green;
		    font-weight: 700;
		    text-decoration: none;
		    margin-left: unset!important;
		}
	}

	.views-field-field-published-date {	    
	    margin-left: 255px;
	    text-transform: uppercase;
	    font-size: .75rem;
	    color: $gray_medium;
	    font-weight: 600;
	}

	.views-field-field-featured-image {
		float: left;
		margin-left: 15px;
	    margin-right: 20px;
	    margin-bottom: 10px;

    	img {
		    margin-top: 0px !important;
		}


	     @include media-breakpoint-down(phone) { 
	     	margin-left: 5px;
	     	margin-right: 10px;

	     	img {
	     		width: 120px!important;
	     		height: inherit;
	     	}
	     }
	}


	.views-field-field-announcement-teaser {
		margin-left: 255px;
		margin-bottom: 30px;		
	}

	.views-field-title, .views-field-field-announcement-teaser , .views-field-field-published-date {
		@include media-breakpoint-down(phone) { 
	     	margin-left: 15px;
	    }
	}
}


