/* DASHBOARD styles
===================================================*/ 

/* Favorite Apps and Personal Quick Links
===================================================*/ 
.usf_dash, #views-form-favorite-links-my-links {
	@include clearTableFormat;

	table {
	    /*margin-left: 15px;*/
	    margin-right: 15px;  

	     @include media-breakpoint-down(phone) {
	     	margin-right: 0;
	     }  

	    a{
	    	font-size: 1rem!important;
	    }
	}

	div.col-sm{
		&:first-child h2 {
			color: $plum!important;
		}
		&:last-child h2 {
			color: $turquoise!important;
		}
	    #block-dashboardannouncements h2 {
		    color:$black!important;
		}
	}

	#block-views-block-favorite-links-block {

		table {
			background: transparentize($light_gray, .7);

			thead {
				display: none;
			}
			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}

			td {
				padding: 5px 20px 5px 35px!important;

				a {
					font-size: .9rem!important;
					font-weight: 600;
					color: $plum;

					/*&:before {
				    	position: absolute;
					    content: "";
					    width: 15px;
					    height: 20px;
					    left: 15px;
					    background: url(/themes/custom/myusf/images/site/icons.svg) -459px -128px no-repeat;
					}*/
				}
			}
		}
		
		.view-footer a {
		    font-size: 0.75rem;
		    font-weight: 700;
		    line-height: 1.2rem;
		    color: $white;      
		    text-align: center;
		    text-decoration: none;
		    text-transform:uppercase;
		    display: inline-block;
		    width: 150px;
		    width: 47%;
		    min-height:40px;
		    padding: 10px 8px;
		    background:$plum;
		    margin-bottom: 20px;
		    margin-top: 20px;

		    &:first-child {
		    	margin-right: 20px;
		    	
		    	@include media-breakpoint-down(phone) {
		    		margin-bottom: 0;
		    	}
		    }

		    &:hover,
		    &:focus {
		        color: $black;
		        background-color: $white;
		        transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s !important;
		        box-shadow: inset 0 0 0 4px $plum;
		    }

		    @include media-breakpoint-down(phone) {
		        width:100%;
		    }

		    @include media-breakpoint-only (tablet) {
		    	width: 207px;
		    }
		}
	}

	#block-views-block-quick-links-block {
		.view-content {
			height: 593px;
			overflow-y: auto;
			border: 5px solid $light_gray;
			margin-left: 0;
			margin-right: 0;

			@include media-breakpoint-down(phone) {
		        width:100%;
		    }
		}
		 .view-content::-webkit-scrollbar {
		 	-webkit-appearance: none;
		}
		 .view-content::-webkit-scrollbar:vertical {
		 	width: 11px;
		}
		 .view-content::-webkit-scrollbar:horizontal {
		 	height: 11px;
		}
		 .view-content::-webkit-scrollbar-thumb {
		 	border-radius: 8px;
		 	border: 2px solid white; /* should match background, can't be transparent */
		 	background-color: rgba(0, 0, 0, .5);
		}

		table {
			
			thead {
				display: none;
			}
			tr:first-child td {
				padding-top: 20px!important;
			}
			tr:last-child td {
				padding-bottom: 20px!important;
			}
			td {

				padding: 5px 20px!important;

				&:first-of-type { 
					padding-top: 20px;
				}
				&:last-of-type {
					padding-bottom: 20px;
				}

				a {
					font-size: .9rem!important;
					font-weight: 600;
					color: $turquoise;
				}
			}
		}

		.view-footer a {
			font-size: 0.75rem;
		    font-weight: 700;
		    line-height: 1.2rem;
		    color: $white;      
		    text-align: center;
		    text-decoration: none;
		    text-transform:uppercase;
		    display: inline-block;
		    width: 150px;
		    width: 47%;
		    min-height:40px;
		    padding: 10px 8px;
		    background:$turquoise;
		    margin-bottom: 20px;
		    margin-top: 20px;

		    &:first-child {
		    	margin-right: 20px;

		    	@include media-breakpoint-down(phone) {
		    		margin-bottom: 0;
		    	}
		    }

		    &:hover,
		    &:focus {
		        color: $black;
		        background-color: $white;
		        transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s !important;
		        box-shadow: inset 0 0 0 4px $turquoise;
		    }

		    @include media-breakpoint-down(phone) {
		        width:100%;
		    }

		    @include media-breakpoint-only (tablet) {
		    	width: 207px;
		    }
		}
	}
}

.sidebar .block {
	border: 0;
	/*margin-top:  97px;*/
}

#sidebar_second img {
	width: 100%;
	margin-top:0;

}
aside.section div:first-child {
    	padding: 0;
	}

/*  Favorite Apps Preferences page
===================================================*/ 

#views-form-favorite-links-my-links {
	table {
			background: transparentize($light_gray, .7);
			margin-top: 10px;
			margin-bottom: 20px;

			thead {
				display: none;
			}
			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}

			td {
				padding: 10px 20px!important;

				a {
					font-size: .9rem!important;
					font-weight: 400;
					color: $plum;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field.views-field-link-flag {
				    width: 40%;

				    a {
				    	font-size: .75rem!important;
				    	font-style: italic;
				    }
				}
			}
		}

	.form-actions.js-form-wrapper.form-group button {
	    margin-left: 15px;
	    margin-top: 20px;
	}

	button.link.tabledrag-toggle-weight {
		font-size: .85rem;
		color: $green;
		font-weight: 600;
		text-decoration: underline;
		border: 0;

		&:hover,
		&:focus {
			color:$black!important;
			text-decoration: none;
			background-color: transparentize( $yellow, 0.8);
		}
	}
}



/*  Quick Links Manage page
===================================================*/ 
div.view-quick-links.view-id-quick_links {
	.views-form {
    	width: 100%;
	}

	button.link.tabledrag-toggle-weight, 
	a.btn.btn-default {
		font-size: .85rem;
		color: $green;
		font-weight: 600;
		text-decoration: underline;
		border: 0;

		&:hover,
		&:focus {
			color:$black!important;
			text-decoration: none;
			background-color: transparentize( $yellow, 0.8);
		}
	}

	#views-form-quick-links-all-apps {
		@include clearTableFormat;
		
		table{
			
			border: 5px solid $light_gray;
			color: $turquoise;
			margin-top: 10px;
			margin-bottom: 4
			0px;

			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}
			th {
				font-size: .75rem;
				color: $white;
				background:$turquoise;
				border: 1px solid $white;
				padding-left: 20px;
				padding-right: 20px;
			}
			td {
				padding: 10px 20px!important;
				border: 1px solid $gray_medium;

				a {
					font-size: .9rem!important;
					font-weight: 600;
					color: $turquoise;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field-link-flag {
					width: 20%;

					a {
			    		font-size: .75rem!important;
			    		font-style: italic;
	    			}
				}			
			}
		}
		#edit-actions {
			margin-left: 15px;
		}
	}

	#views-form-quick-links-my-links {		
		width: 80%;
		@include clearTableFormat;

		table{
			
			border: 5px solid $light_gray;
			color: $turquoise;
			margin-top: 10px;
			margin-bottom: 20px;

			thead {
				display: none;
			}
			tr:first-child td {
				padding-top: 21px!important;
			}
			tr:last-child td {
				padding-bottom: 12px!important;
			}
			tr:nth-child(2n+1) {
				background: transparentize($light_gray, .7);
			}

			td {
				padding: 10px 20px!important;

				a {
					font-size: .9rem!important;
					font-weight: 600;
					color: $turquoise;

					&.tabledrag-handle {
						margin-right: 10px;
						.handle {
							width:24px;
							height:24px;
						}
					}
				}
				&.views-field-link-flag {
					width: 35%;

					a {
			    		font-size: .75rem!important;
			    		font-style: italic;
	    			}
				}			
			}
		}

		/*button.link.tabledrag-toggle-weight{
			font-size: .85rem;
			color: $green;
			font-weight: 600;
			text-decoration: underline;
			border: 0;

			&:hover,
			&:focus {
				color:$black!important;
				text-decoration: none;
				background-color: transparentize( $yellow, 0.8);
			}
		}*/

		.form-group {
	    	padding-left: 15px;
	    }
	}

	#views-exposed-form-quick-links-all-apps {
		input#edit-combine {
		    height: 41px;
		}
		input#edit-submit-quick-links {
		    margin-bottom: 10px;
		}
		@include media-breakpoint-only(tablet) {
			.form-row {
			    width: 150%;
			}
		}
	}
}


/*  Announcements
===================================================*/ 

.usf_dash {

.view-dashboard-announements {
		margin-top: 1.5rem;
	}

	.views-field-title {
	    margin-left: 130px;
	    @include media-breakpoint-down(phone) { 
	     	margin-left: 120px;
	     }
	
		a {
		    font-size: 1.2rem;
		    color: $green;
		    font-weight: 700;
		    text-decoration: none;
		    margin-left: unset!important;
		}
	}

	.views-field-field-published-date {	    
	    margin-left: 130px;
	    text-transform: uppercase;
	    font-size: .75rem;
	    color: $gray_medium;
	    font-weight: 600;
	}

	.views-field-field-featured-image {
		float: left;
		margin-left: 15px;
	    margin-right: 15px;

	     @include media-breakpoint-down(phone) { 
	     	margin-left: 3px;
	     }
	}

	.views-field-field-announcement-teaser {
		margin-left: 130px;
		margin-bottom: 30px;		
	}
	.views-field-title, .views-field-field-announcement-teaser , .views-field-field-published-date {
		@include media-breakpoint-down(phone) { 
	     	margin-left: 120px;
	    }
	}
}





