
/* Webforms
================================================ */
form {
	font-size: 1rem;

	label {
    	font-weight: 700;
	}

	legend {
    	font-size: 1.3rem;
    	margin-bottom: 1rem;
	}
	.form-control {
		font-size: .9rem;
	    border-radius: 0;
	}

	.form-group {
	    padding-left: 0;
	    padding-right: 0;
	}
	.form-select {
	    border: 0;
	    border-radius: 0;
	    outline: $light_blue_gray solid 1px;
	    outline-offset: -1px;
	}
	.checkbox {
    	padding-left: 20px;
	}
	.radio {
    	padding-left: 10px;
	}
	#edit-radio-buttons--wrapper {
   		margin-top: 30px!important;
	}
	#edit-date-time fieldset.form-item-date-time-date {
	    width: 25%;
	}
	.button.form-submit {
	    /*width: 25%;*/
	    @include media-breakpoint-down(phone) {
	    	width: 100%;
	    }
	}

	label.ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget.ui-checkboxradio-radio-label {
	    border-radius: 0;
	}

	.ui-button {
	    border: 1px solid $gray_medium!important;
	    background: $light_beige;
	    color: $black;

	    &:hover, &:focus, &:active,
	    &.ui-state-active, &.ui-state-active:hover {
	    	border: 1px solid $gray_medium!important;
		    background: $beige;
		    color: $black;
	    }
	}
	#edit-actions-submit {
	    margin-top: 2rem;
	}
	.radio label.option {
	    width: 86%;
	}
	label.form-check-label {
		width: 100%;
	}
}


.progress-step.is-active {
	.progress-marker {
    	background: $green;
	}
	&:hover {
		.progress-marker {
    		background: $yellow!important;
    		color: $black;
		}
	}
}


.webform-signature-pad {
	.button {
	    top: unset;
	    right: 0;
	    border: 0;

	    &.form-submit {
	    		width: 25%!important;
		}
	}
}


.chosen-container-single {
	.chosen-single,
	&.chosen-with-drop .chosen-single {
		height: 30px;
	    border: 0;
	    border-radius: 0;
	    background: none;
	    box-shadow: none;

	    span {
	    	font-size: 1rem;
    		font-weight: 400;
	    }
	}

	a.chosen-single {
		padding-left: 4px;
	}

	.chosen-drop {
		border-radius: 0;
		border-color: $light_blue_gray;
		margin-top: -8px;
		margin-left: -12px;

	}
}


/* QUICK LINKS  Form elements
================================================ */
#views-form-quick-links-my-links .form-group,
#views-form-quick-links-all-apps .form-group{
	margin-bottom: 0px;
}

.view-quick-links {
	.form-submit {
	   /* width: 20%!important;*/
	}
}

.views-field.views-field-field-sso,
.views-field.views-field-edit-node,
.views-field.views-field-delete-node {
    text-align: center;
}

@include media-breakpoint-down(landscape_phone) {
	#views-form-quick-links-my-links {
	    width: 100%!important;

	    a.tabledrag-handle .handle {
	    	margin: 0 0 0 5px;
	    	background-size: 80%;
	    	width: 34px!important;
    		height: 45px!important ;
	    }
	}
}

.webform-type-hidden {
  display: none;
}
