// ICON SPRITE //

@mixin sprite ($bgX, $bgY) {
    background: url("/themes/custom/myusf/images/site/icons.svg") no-repeat $bgX $bgY;
}

//FOCUS

@mixin focus-styles {
    box-shadow: 0 0 0 3px $color-focus-light;
    // Add support for Windows High Contrast Mode (WHCM)
    // The transparent color only shows when WHCM is triggered
    outline: 3px solid $color-focus-dark;
    outline-offset: 3px;
    background-color: transparent;
    position: relative;
    z-index: 200;
}

// BUTTONS //

@mixin button ($btn_color) {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2rem;
    color: $white;      
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    display: inline-block;
    width: 210px;
    min-height:40px;
    padding: 10px 8px;
    background:$btn_color!important;

    &:hover {
        color: $black;
        background-color: $white!important;
        transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s !important;
        box-shadow: inset 0 0 0 4px $btn_color;
        font-weight: 700;
    }

    svg.ext {
        display: none;
    }

    @include media-breakpoint-down(phone) {
        width:100%;
    }

     @include media-breakpoint-only (tablet) {
        width: 100%;
     }
}

@mixin diamond_button ($bgX, $bgY, $degree, $borderColor, $bgColor, $bgColorHover) {
    &::before {
        position: absolute;
        display: inline-block;
        content: "";
        width: 6px;
        height: 9px;
        top: 12px;
        right: 13px;
        z-index: 1;
        background: url(/themes/custom/myusf/images/site/icons.png) no-repeat $bgX $bgY;
        background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat $bgX $bgY ;
    }

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 25px;
        height: 25px;
        top: 4px;
        right: 5px;
        -ms-transform: rotate($degree);
        transform: rotate($degree);
        border: 1px solid $borderColor;
        background: $bgColor;
        transition: box-shadow .25s,transform .25s;
    }

    &:hover::after,
    &:focus::after {
            background: $bgColorHover;
        }
    
    &:hover,
    &:focus {
        background: transparent;
    }
}
@mixin diamond_button_small ($bgX, $bgY, $degree, $borderColor, $bgColor, $bgColorHover) {
    &::before{
        position: absolute;
        display: inline-block;
        content: "";
        width: 6px;
        height: 9px;
        top: 11px;
        right: 15px;
        z-index: 1;
        background: url(/themes/custom/myusf/images/site/icons.png) $bgX $bgY no-repeat;
        background: url(/themes/custom/myusf/images/site/icons.svg) $bgX $bgY no-repeat;
    }

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 20px;
        height: 20px;
        top: 5px;
        right: 10px;
        -ms-transform: rotate($degree);
        transform: rotate($degree);
        border: 1px solid $borderColor;
        background: $bgColor;
        transition: box-shadow .25s,transform .25s;
    }

    &:hover::after,
    &:focus::after {
            background: $bgColorHover;
        }
    
    &:hover,
    &:focus {
        background: transparent;
    }
}

@mixin social($social_media, $x, $y) {
	font-size: 0.8rem;
    font-weight: 700;
    color: $text_gray;  
    background: $white;
    text-align: center; 
    text-transform: uppercase;
    text-decoration: none;    
    white-space: nowrap;   
    display: block;
    width: calc(100% - 32px);/* 166px was 180px */
    height: 40px;  
    border: 3px solid $social_media;
    padding: 8px 6px 5px 6px;

    &:hover,
    &:focus {
        font-weight: 700;
    	color: $text_gray!important;
    	background: $white;
    	box-shadow: inset 0 0 0 2px $social_media;
    	transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s !important;
    }

    &::after {
    	vertical-align: middle;
    	display: inline-block;
    	content: "";
    	width: 36px;
    	height: 40px;
    	position: absolute;
    	top: 0px;
    	right: -1px;
        background: url(/themes/custom/myusf/images/site/myusf-icons.png) no-repeat $x $y;
    	background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat $x $y;
    }
    @include media-breakpoint-only(tablet) {
        /* width: 248px;*/
    }
    
    @include media-breakpoint-down(phone) {
        width:90%;
    }
}

@mixin social_gray($social_media, $x, $y) {
    &::before {
        position: relative;
        display: inline-block;
        content: "";
        width: 40px;
        height: 40px;
        top: 11px;
        background: url(/themes/custom/myusf/images/site/myusf-icons.png) no-repeat $x $y;
        background: url(/themes/custom/myusf/images/site/myusf-icons.svg) no-repeat $x $y;
    }

    &:hover::before,
    &:focus::before {
        opacity: 0.5;
    }

    &:hover, &:focus {
        background-color:transparent;
    }

}



// MENU

@mixin mobilenav-dropdown($amount) {
    ul.dropdown-menu {
        width: 100vw;
        border:0!important;
        border-radius:0;
        background: $beige!important; 
        /*margin-top: 3px;*/

        position:absolute;
        left:$amount; 
        top:26px;

        li.dropdown-item {
        border:0!important;
        height: unset!important;
        padding: 0px 5px 5px 12px!important;
        border-bottom: 1px solid $white!important;
        width: 100vw;

        @include media-breakpoint-down(tablet) {
            padding: 3px 5px 7px 12px!important;
        }
        

            &:hover,
            &:focus {
                background: $light_beige;
            }
        }           
    }
}

@mixin margin-L-R-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin clearTableFormat {
    table, caption, tbody, tfoot, thead, tr, th, td, tr:nth-child(2n+1), tr:nth-child(2n) {
       margin: unset;
        padding: unset;
        border: unset;
        outline: unset;
        font-size: unset;
        vertical-align: unset;
        background: unset;
        color: $black; 
        
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin: none;
            padding: none;
            border: none;
            outline: none;
            font-size: none;
            vertical-align: none;
            background: none;
            color: $black;
        }
    }
}


// COLUMNS

@mixin columns($count, $gap) {
    column-count: $count;
    column-gap: $gap;

    & > * {
        // autoprefixer does not prefix this one correctly just yet
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid;
    }
}



