
/* MAIN NAV 
===================================================*/ 
.navbar-menu-wrapper {  //centers menu
	display: table;
  	margin: 0 auto;

  	@include media-breakpoint-only(tablet) {
  		margin-top: -9px;
  	}

  	@include media-breakpoint-down(landscape_phone) {
  		width:100%;
  		margin-top: 30px;
  	}
}

nav {
	padding-top:0!important;
	padding-bottom:0!important;

}

.bg-dark {
    background-color: $green!important;
}

nav.navbar {
	margin-bottom: 2rem;
	a.nav-link {
    	color: $white!important;
    	text-decoration:none;
    	padding-bottom: .87rem;
    	padding-top: .75rem;
    	font-weight: 700;

    	@include media-breakpoint-up(desktop) {
    		font-size: .8rem!important;
    		padding-left: 1.1rem!important;
    		padding-right: 1.1rem!important;
    	}

		@include media-breakpoint-only(tablet) {
			font-size: .7rem;
    		padding-left: 7px;
    		padding-right: 7px;
    	}
    	@include media-breakpoint-down(landscape_phone) {
    		padding-bottom: 1.2rem;
    		margin-top: .25rem;
    	}
	}
	li {
		font-size: .9rem;
		padding-bottom: 0;

		&.nav-item :hover,
		&.nav-item :focus {
			color: $green!important;
	    	background-color: $beige;
		}
	}
	@include media-breakpoint-down(landscape_phone) {
		padding:0;
		height:98px;
		z-index: 1;
	}
	@include media-breakpoint-up(tablet) {
		padding-right: 2.4rem;
		height: 50px;
	}
}

.navbar-brand {
    color: $green!important;

    &:hover,
    &:focus {
    	color: $green!important;
    	background: transparent;
	}

	&:before {
    	display: inline-block;
    	content: "";
    	position: absolute;
    	width: 160px;
    	height: 50px;
    	margin-top: 2px;
    	top: 0px;
   		bottom: 0;   	
    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -350px -315px ; 	
	}
	@include media-breakpoint-down(landscape_phone) {
		&:before {
			margin-top: 3px;
		}
	}
	@include media-breakpoint-down(tablet) {
		&:before {
			left: -5px;
			margin-top: 3px;
		}
	}
}

.navbar-nav {
	border:0;
	margin-left: 120px;
	padding-top: 0px;

	@include media-breakpoint-down(tablet) {
		flex-direction: row;
		margin-left: 15px;
	}

	@include media-breakpoint-down(landscape_phone) {		
		margin-left: 15px;
		width:100vw;

		li {
			flex-direction: row!important;
			width: 20%;
			height: 50px;
			margin-top: 5px;
			padding: 0 5px!important;			

			a {
				font-size: .6rem;
			    line-height: .8rem;
			    text-align: center;
			    letter-spacing: .025rem;
			}
		}
		.menu-item--expanded.dropdown {
    		padding-left: unset!important;
    		padding-right: unset!important;

    		&:first-child {
    			@include mobilenav-dropdown(0);
    		}
    		&:nth-child(2) {
    			@include mobilenav-dropdown(-20vw);
			}
			&:nth-child(3) {
    			@include mobilenav-dropdown(-40vw);
			}
			&:nth-child(4) {
    			@include mobilenav-dropdown(-60vw);
			}
			&:nth-child(5) {
    			@include mobilenav-dropdown(-80vw);
			}	
		}			
	}
}

.navbar-dark .navbar-toggler {
	@include media-breakpoint-down(landscape_phone) {
    	display: none;
	}
}
#CollapsingNavbar {
	flex-grow: 1;
}
.navbar-expand-lg .navbar-nav .nav-link {
	@include media-breakpoint-up(desktop) {
    	padding-right: 1rem;
    	padding-left: 1rem;
	}
}
// ----MAIN NAV DROPDOWN --- //

.navbar-nav .dropdown-menu {
	padding: 0;
	margin-top: 0;

	@include media-breakpoint-only(tablet) {
		position: absolute;
		margin-top: -1px;
	}

	.dropdown-item {
		border-bottom:1px solid $white;

		@include media-breakpoint-down(tablet) {
			padding: .5rem 1rem!important;
			line-height: 1.2rem!important;
		}

		a {
			font-size: .85rem;
			font-weight: 500;
			text-decoration: none;
			text-transform: capitalize;
			color: $black!important;
						
		
			@include media-breakpoint-down(landscape_phone) {
				font-size: .7rem;
				padding-left: 5px;
			}

			&:hover,
			&:focus {
				color: $black!important;
				background: transparent;
			}
		}
		&.active,
		&:active {
			background: transparent;
		}
	}

	@include media-breakpoint-up(tablet) {
		background: $beige;
		border-radius: 0;
		border: 0;
		
		&:hover, &:focus {
			background: $beige;
		}
	}
	.dropdown-item {	
		padding: .25rem 1rem;

		&:hover,
		&:focus {
			background: $light_beige;
		}
	}
}

.navbar-nav .dropdown.show a.nav-link.active {
    color: $green!important;
}

.navbar-nav {
	@include media-breakpoint-only(tablet) {
		li.nav-item.menu-item--expanded.dropdown:last-of-type {

			ul {
				width:233px;

				li a {
				    white-space: normal;
				}
			}

		}
	}
}

// end main nav dropdown //

button.header_search {
    background: transparent;
    border: 0;

 	&:before {
 		display: inline-block;
 		content: "";
 		position: absolute;
    	width: 24px;
    	height: 25px;   	
    	top: 0;
    	right: 130px;
    	bottom: 0;
    	margin: auto 10px auto auto;
    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -190px -96px;

    	@include media-breakpoint-only(tablet) {
    		right: 115px;
    	}

    	@include media-breakpoint-down(landscape_phone) {
			right: 115px;
    		top: 13px;
    		bottom: unset;
    	}
	}
	&:hover:before,
	&:focus:before {
		width: 23px;
    	height: 25px;
    	top: 0;
    	right: 138px;
    	margin: auto;
    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat -214px -96px;

    	@include media-breakpoint-only(tablet) {
    		right: 123px;
    	}

    	@include media-breakpoint-down(landscape_phone) {
    		top: 13px;
    		right: 123px;
    	}
	}
	
}

.btn-outline-success {
	font-size: .8rem;
    color: $white;
    text-transform: uppercase;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    border: 2px solid $white;   
    padding: 3px 15px;
    margin-left: 20px;
    margin-top: -2px;
	
	&:hover, 
	&:focus,
	&:not(:disabled):not(.disabled):active {
		color: $yellow;
		border-color: $yellow;
		background-color: transparent;
	}
	
	&.focus,
	&:focus {
		box-shadow: none;
	}
	@include media-breakpoint-down(landscape_phone) {
		font-size: .7rem;
	    position: absolute;
    	right: 10px;
    	top: 10px;
    }

    @include media-breakpoint-down(tablet) {
	    position: absolute;
	    top: 15px;
	    right: 20px;    
	    margin-top: -5px;	
    }
}


nav input.form-control[type="search"] {
    display: none!important;
    border-radius: 0;

    @include media-breakpoint-down(tablet) {
    	position: absolute;
    	top: 15px;
    	width: 250px;
    	right: 150px;
    	height: 30px;
	}

    @include media-breakpoint-down(landscape_phone) {
    	position: absolute;
    	top: 12px;
    	width: 200px;
    	left: 20px;
    	height: 30px;
	}
}

form.form-inline.my-2.my-lg-0 {
	@include media-breakpoint-down(landscape_phone) {
    	/*position: absolute;*/
   	 	top: -8px;
    	height:30px;
    }
}
nav#block-bootstrap-barrio-subtheme-account-menu a {
    font-weight: 400;
    color: $green!important;
    text-transform: initial;
    margin-left:5px;
    margin-right:5px;   
}

 //--- TOOLBAR MENU for Content Editors ---//

.toolbar-tab {

	a:hover {
    	background: transparent!important;
    	color: $white!important;
	}
	.toolbar-menu-administration {
		a:hover, a:focus {
    	color: $black!important;
		}
	}
	@include media-breakpoint-only(landscape_phone) {
		margin-left: -2px;
    	margin-right: -3px;
	}
}

//--- Navtabs --//
nav.tabs {
	margin-left: 17px;
	@include media-breakpoint-down(landscape_phone) {
		@include margin-L-R-auto;
	}
}
.nav-tabs {
	.nav-item {
 		padding-bottom: 0;
	}

	 a.nav-link {
    	font-size: 0.8rem;

    	&:hover,
    	&:focus{
    		background-color: transparentize( $black, 0.95);
    	}

    	@include media-breakpoint-down(landscape_phone) {
    		padding: .4rem 0.8rem;
		}
	}
}

/* BREADCRUMBS 
===================================================*/ 

.breadcrumb-item {
	font-size: .6rem;
	text-transform: uppercase;
	padding-bottom: 0;
}

.breadcrumb-item a {
	font-weight: 600;	
	color: $text_gray;
	text-decoration: none;

	&:hover, 
	&:focus {
		background-color: $white;
		color: $green;
		text-decoration: underline;
	}
}

.breadcrumb {
	padding: .75rem 1rem 0 0px;
	margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: .25rem;

	@include media-breakpoint-down(tablet) {
		display: none;
	}    
}




/* SUB NAVIGATION left column 
=================================================*/
#sidebar_first.sidebar .block {
    padding: 0!important;

    @include media-breakpoint-up(tablet) { 
        margin-bottom: 40px;
    }
}
#sidebar_first nav {
	margin-left: 0px;
	border: 0;
	border-top: 4px solid $yellow;
	border-bottom: 4px solid $yellow;
	width: 230px;

	@include media-breakpoint-down(tablet) { 
		width: 190px;
	}

	@include media-breakpoint-down(landscape_phone) { 
		width: 100%;
	}
}

#sidebar_first nav {

	ul.nav {
		padding-top:0;

		li {
			width: 230px;
			list-style-type: none;
			border-bottom: 1px solid #DDDAD1;
			padding-bottom: 0;
			
			@include media-breakpoint-down(tablet) { 
				width: 190px;
			}

			@include media-breakpoint-down(landscape_phone) { 
				width: 100%;
			}

			&:last-of-type {
				border: 0;
			}

			&.menu-item--expanded a {
				color: $green;
			}
			&.menu-item--active-trail {
				background:$light_beige;
			}

			a {
		    	font-size: 0.9rem;
		    	font-weight: 700;
		    	color: $black;
		    	line-height: 1.2rem;
		    	text-decoration: none;
		    	text-transform: uppercase; 
		    	padding: 1rem 0 1rem 10px;

		    	&:hover,
		    	&:focus {
		    		color: $green!important;
		    		background: $light_beige;
		    	}

		    	@include media-breakpoint-down(tablet) { 
					font-size: 0.8rem;
					line-height: 1.1rem;
				}

				@include media-breakpoint-down(phone) { 
					padding: 1rem 10px;
				}
			}

			//Second-level menu
			ul.menu  { 
				padding-top: 0;
				padding-left: 10px;

				
				li {
					border-bottom: 0;
					padding-left: 0;
					width:220px;

					@include media-breakpoint-down(tablet) { 
						width: 170px;
					}
					@include media-breakpoint-down(landscape_phone) { 
						width: 100%;
					}

					&:first-of-type {
						margin-top:-10px;
					}
					&:last-of-type {
						padding-bottom: 0.75rem;
					}

					a {
						text-transform:capitalize;
						font-weight:600;
						margin-left: 18px;
						padding: 0.5rem 0;

						&:hover,
						&:focus {
							background: transparent;
							color:$black!important;
							text-decoration: underline;
						}

						&.active {

							padding-top: 0.25rem!important;
							padding-bottom: 0.25rem;

							&:before {
								display: block;
								position: relative;
								content: "";
								width: 8px;
								height: 8px;
								top:13px;
								left: -18px;
								background: $yellow;
								-webkit-transform: rotate(45deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
						      	transform: rotate(45deg); /* IE 10, Fx 16+, Op 12.1+ */
					      	}
						}
					}
				}

				// Third-level	menu
				ul.menu {	

					li {
						margin: 0 0 -10px;
					    width: 210px;

					    @include media-breakpoint-down(tablet) { 
					    	width: 170px;
					    }
					    @include media-breakpoint-down(landscape_phone) { 
					    	width: 100%;					    	
					    }

					    &:last-of-type {
					    	padding-bottom: 0;
					    }
					}

					a {
						font-weight:400;
						color:$black;
						padding: 5px;
    					margin-top: 0.5rem!important;
    					margin-bottom: 1rem;  /* margin-bottom: 0.5rem;
    					display: inline-block!important;*/
    					margin-left: 9px;
    					padding-left: 13px;				
					
						&.active:before {
							display: none;
				      	}

				      	&.active {
				      		background-color: transparentize( $green, 0.2);	
				      		color:$white;	

				      		&:hover,
				      		&:focus {
				      			color:$white!important;
				      		}		      		
				      	}				      	
					}
				}
			}
		}
	}
}

#sidebar_first .sidebar h2 {
	@include media-breakpoint-down(landscape_phone) { 
    	font-weight: 600;
    	color: #6b6b6b!important;
    	text-align: center;
    	text-shadow: unset;
    	margin-top: -45px;
		padding-bottom: 0px;
		border: 0;

		
	}
}
.navbar-toggler-icon:focus, button.navbar-toggler.navbar-toggler-right:focus {
    outline-color: $white;
}

button.navbar-toggler.navbar-toggler-right {


	    border: 1px solid $light_gray;
	    border-radius: 0;
	    width: 100%;
	    padding-right: 10px;

	    &:after {
			position: relative;
		    display: inline-block;
		    content: "";
		    width: 10px;
		    height: 8px;
		    top: 2px;
	    	right: -20px;
		    margin-left: 5px;
		    z-index: 1;
		    background: url(/themes/custom/myusf/images/site/icons.svg) -260px -148px no-repeat;
		    opacity: .7;
		}
	
}
button.navbar-toggler.navbar-toggler-right.collapsed{
	&:after {
		position: relative;
	    display: inline-block;
	    content: "";
	    width: 10px;
	    height: 8px;
	    top: 2px;
    	right: -20px;
	    margin-left: 5px;
	    z-index: 1;
		background: url(/themes/custom/myusf/images/site/icons.svg) -239px -148px no-repeat;
	}
}
.navbar-toggler-icon {
    padding-top: 10px;
    font-size: .9rem;
    height: 30px;
}
#CollapsingNavbar {
	@include media-breakpoint-down(landscape_phone) { 
    	margin-top: -30px;
	}
}

#submenuButton.hideButton {
  display:none;
}

.submenu {
    margin-top: 30px;
}
/* QUICK LINKS right column 
=================================================*/


.quicklinks {
	border: 5px solid $green;
	float: right;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;

	p {
		font-size: 1.1rem;
		font-weight: 700;
		color: $green !important;
		text-transform: uppercase;
	}

	ul {
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;
	}

	li {
		font-size: .85rem;
		font-weight: 600;
		color: $green !important;
	
		a:hover, 
		a:focus {
			text-decoration: underline;
		}
	}
	
}


/* FOOTER
=================================================*/
nav#block-myusf-footer {
    position: relative;
}

.site-footer {
	background:$green;
	padding: 0;
	/*position: absolute;
    bottom: 0;
    width: 100%; - to be used when we apply sticky footer */

	@include media-breakpoint-down(landscape_phone) {	/* only */	
		padding: 10px 0 0;
	}

	.block {
    	border: 0;
    	padding: 5px;
    	width:100vw;

    	@include media-breakpoint-up(large_desktop) {
    		/*margin-left: calc(( 100% - 924px) / 2 ); /*links+logo+padding*/
    		/*margin-right: calc(( 100% - 924px) / 2 );*/
    	}

    	@include media-breakpoint-down(tablet) {   		
    		margin: 10px auto;
    	}
	}
}

.footer-link {
	font-size:0.7rem;
	color:$white!important;
	text-decoration:none;
	display: block;
	padding: .15rem 1rem;

	&:hover,
	&:focus {
		color:$yellow!important;
		background: transparent;
	}

	@include media-breakpoint-down(desktop) {
		padding: .15rem 0!important;
	}	
}

.footer-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	list-style: none;

	display: inherit;
    margin: -5% 1% 5% -7%!important;
    column-count: 3;
    column-gap: 10px;
    text-align: center;
    padding-top: 25px;

	@include media-breakpoint-up(tablet) { 
		display: flex;
    	margin: 0 auto!important;
    	columns: unset;
    	padding-top: 0;
	}
	@include media-breakpoint-only(tablet) {
		justify-content: center;
	}
	@include media-breakpoint-only(desktop) {
		padding-left:2px;
	}

	@include media-breakpoint-up(large_desktop) {
		justify-content: flex-start;
	}
}

a.logo {
    position: absolute;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 325px;
    margin: 10px auto;

    @include media-breakpoint-down(tablet) {
    	position: relative;
    	margin: 5px auto;
    }

    &:hover, 
    &:focus  {
    	background: transparent;
    }

    &:before {
    	display: inline-block;
    	content: "";
		width: 438px;
    	height: 34px;
    	position: relative;
    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat;    	    
    	background-size: 90%;	

    	@include media-breakpoint-up(large_desktop) {
    		position: absolute;
    		margin-left: -15px;   		
    		right: -12.5%;
		}
    }

    @include media-breakpoint-up(desktop) {
    	width: 390px;
    	height: 38px;
    	margin-top: -38px; 
    	float: right;
    	right: -53px;
    }
}


.footer-expand-lg .footer-nav {
	@include media-breakpoint-up(tablet) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
	
	.footer-link {
		@include media-breakpoint-up(tablet) {
			padding-right: .5rem!important;
    		padding-left: .5rem!important;
    	}
	}
}
