
/* MAIN NAV
===================================================*/
.navbar-menu-wrapper {  //centers menu
	margin: 0 auto;

	@include media-breakpoint-only(tablet) {
		margin-top: -0.5625rem;
	}

	@include media-breakpoint-down(landscape_phone) {
		width:100%;
		margin-top: 1.875rem;
	}
}

nav {
	padding-top:0!important;
	padding-bottom:0!important;

	@include media-breakpoint-up(tablet) {
		li.nav-item:first-child {
			margin-top: 0;
		}
	}

	// li a svg.ext { //turning off external link icon in quick-links
	// 	display: none;
	// }
}

.bg-dark {
	background-color: $green!important;
}
nav.navbar .navbar-wrapper {
	@include media-breakpoint-up(desktop) {
		position: relative;
		margin: 0 auto;
		width: 100%;
	}
	@include media-breakpoint-down(desktop) {
		form.form-inline.my-2.my-lg-0 {
			height: unset;
    		margin-bottom: unset;
		}
	}

	.navbar-menu-wrapper .contextual .trigger {
		display: none;
	}
}
nav.navbar {
	margin-bottom: 2.59rem;

	button.nav-link {
		color: $white!important;
		text-decoration:none;
		padding-bottom: 1.15rem;
		padding-top: 1.1rem;
		font-weight: 700;

		@include media-breakpoint-up(desktop) {
			font-size: .75rem!important;
			padding-left: .9rem!important;
			padding-right: .9rem!important;
		}

		@include media-breakpoint-only(tablet) {
			font-size: .7rem;
			padding-left: 0.4375rem;
			padding-right: 0.4375rem;
			padding-bottom: .55rem;
			line-height: 1.4285;
			text-align: center;
		}
		@include media-breakpoint-down(landscape_phone) {
			padding-bottom: 1.2rem;
			margin-top: .6rem;
		}
	}
	li {
		font-size: .9rem;
		padding-bottom: 0;
		line-height: 2;

		&.nav-item :hover {
			color: $green!important;
			background-color: $beige;
		}
	}
	li.nav-item.menu-item--expanded.dropdown:hover button {
		color: $green!important;
		background-color: $beige;;
	}
	@include media-breakpoint-down(landscape_phone) {
		padding:0;
		height: 98px;
		z-index: 2;
	}
	@include media-breakpoint-up(desktop) {
		padding-right: 0;
		height: 97px;
	}
}

.navbar-brand {
	color: $green!important;
	margin-left: 0.5625rem;
	position: relative;
    top: 0px;

	&:hover,
	&:focus {
		color: $green!important;
		background: transparent;
	}

	@include media-breakpoint-up(1920xl_desktop) {
		margin-left: calc(((100% - 1920px)/ 2) + 40px);
	}

	img {
		margin-left: 0.3125rem;

		@include media-breakpoint-only(tablet) {
			margin-left: 3px;
		}
		@include media-breakpoint-down(landscape_phone) {
			margin-left: 1.4375rem;
		}
		@include media-breakpoint-up(midlarge_desktop) {
			margin-left: 0.3125rem;
		}
		@include media-breakpoint-up(xl_desktop) {
			margin-left: 1.25rem;
		}
	}
}
.navbar-collapse {
	position: relative;
	top: 2px;
	margin-left: -16px;
}

ul.navbar-nav button {
	display: flex;
	background: none;
	color: #fff;
	width: 100%;
    justify-content: center;
	padding-left: 5px;
    padding-right: 5px;

	@include media-breakpoint-down(landscape_phone) {
		height: 40px;
	}
	@include media-breakpoint-up(tablet) {
		height: 100%;
	}

	&:hover {
		color: $green!important;
    	background-color: $beige;
	}
}

.navbar-nav {
	border:0;
	padding-top: 0;

	.menu-item--expanded.dropdown  {
		a {
			transition:unset!important;
		}

		&:hover {
			a, a:hover{
				color: $green!important;
			}
		}

		@include media-breakpoint-only(tablet) {
			width:80px;
			margin-left: 0.3125rem;
			margin-right: 0.3125rem;
		}
	}


	@include media-breakpoint-down(tablet) {
		flex-direction: row;
		position: relative;
		top: -24px;
	}

	@include media-breakpoint-down(landscape_phone) {
		margin-left: 0;
		top:-13px;

		li {
			flex-direction: row!important;
			margin-top: 0.3125rem;
			padding: 0 0.3125rem!important;
			text-align: center;

			&:last-of-type {
				button {
					border-right: none;
				}
			}

			button {
				font-size: .75rem;
				line-height: 1.2;
				letter-spacing: .025rem;
				padding-top: 0.3125rem!important;
				padding-bottom: 0.3125rem!important;
				margin-top: 0!important;
				margin-bottom: 0!important;
				border-right: 1px solid #fff;
			}
		}
		.menu-item--expanded.dropdown {
			padding-left: unset!important;
			padding-right: unset!important;

			$shiftSecond: calc( -1 * ( 58px + (( 100vw - 299px) / 6) + (( 100vw - 303px) / 12)));
			$shiftThird:  calc( -1 * ( 72px + 58px + 2 * ((( 100vw - 299px) / 6)) + (( 100vw - 303px) / 12)));
			$shiftFourth: calc( -1 * ( 72px + 58px + 53px + 3 * ((( 100vw - 299px) / 6)) + (( 100vw - 303px) / 12)));
			$shiftFifth: calc( -1 * ( 72px + 58px + 53px + 66px + 4 * ((( 100vw - 299px) / 6)) + (( 100vw - 303px) / 12)));

			&:first-child {
				width: calc( 58px + (( 100vw - 299px) / 6) + (( 100vw - 303px) / 12));
				@include mobilenav-dropdown(0);
			}
			&:nth-child(2) {
				width: calc( 72px + (( 100vw - 299px) / 6));
				@include mobilenav-dropdown($shiftSecond);
			}
			&:nth-child(3) {
				width: calc( 53px + (( 100vw - 299px) / 6));
				@include mobilenav-dropdown($shiftThird);
			}
			&:nth-child(4) {
				width: calc( 66px + (( 100vw - 299px) / 6));
				@include mobilenav-dropdown($shiftFourth);
			}
			&:nth-child(5) {
				width: calc( 50px + (( 100vw - 299px) / 6) + calc(( 100vw - 480px) / 12));

				@include mobilenav-dropdown($shiftFifth);
			}

			.dropdown {
				margin-top: -0.0625rem;
			}
		}
	}
}

li.menu-item--expanded:hover ul.dropdown-menu {
	@include media-breakpoint-up(desktop) {
		display: block;
	}
}

.navbar-dark .navbar-toggler {
	@include media-breakpoint-down(landscape_phone) {
		display: none;
	}
}
.navbar-dark .nav-link {
	color: white;
}
#CollapsingNavbar {
	flex-grow: 1;
}
.navbar-expand-lg .navbar-nav .nav-link {
	@include media-breakpoint-up(desktop) {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.navbar a[href^="/user/login"], .navbar a[href^="/user/logout"] {
	&:hover {
		background: transparent!important;
	}
}
// ----MAIN NAV DROPDOWN --- //

.navbar-nav .dropdown-menu {
	padding: 0;
	margin-top: 0;

	@include media-breakpoint-only(tablet) {
		position: absolute;
		margin-top: 0;
		top: 34px;
	}

	.dropdown-item {
		border-bottom:1px solid $white;
		padding: .25rem 1rem;
		white-space: normal!important;


		@include media-breakpoint-down(tablet) {
			padding: .5rem 1rem!important;
			line-height: 1.33!important;  /* font-size .9rem inherited from 'nav.navbar li' */
		}
		@include media-breakpoint-down(phone) {
			white-space: nowrap;
		}

		a {
			font-size: .85rem;
			font-weight: 500;
			text-decoration: none;
			text-transform: initial;
			color: $black!important;
			display: block;
			width: 200px!important;
			padding-top: 0.1875rem;
			padding-bottom: 0.1875rem;
			line-height: 1.294;

			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				font-size: .75rem;
			}


			@include media-breakpoint-down(landscape_phone) {
				font-size: .8rem;
				padding-left: 0.3125rem;
				text-align: left;
				width: 93vw!important;
			}

			&:hover,
			&:focus {
				color: $black!important;
				background: transparent;
			}
		}
		&.active,
		&:active {
			background: transparent;
		}
		&:hover,
		&:focus {
			background: $light_beige;
		}

	}

	@include media-breakpoint-up(tablet) {
		background: $beige;
		border-radius: 0;
		border: 0;

		&:hover, &:focus {
			background: $beige;
		}
	}
}

.navbar-nav .dropdown.show a.nav-link.active {
	color: $green!important;
	background: $beige;
}

.navbar-nav {
	@include media-breakpoint-only(tablet) {
		li.nav-item.menu-item--expanded.dropdown:last-of-type {

			ul {
				width: 233px;

				li a {
					white-space: normal;
				}
			}

		}
	}
}
// end main nav dropdown //


button.header_search {
	background: transparent;
	border: 0;
	z-index: 10;
	cursor:pointer;
	right: 170px;
	position: absolute;
	top: 18px;
	width:20px;
	height:20px;

	&:hover .search-icon-main img ,
	&:focus .search-icon-main img  {
		opacity:0;
	}

	@include media-breakpoint-down(phone) {
		right: 155px;
	}
	@include media-breakpoint-only(tablet) {
		right: 160px;
	}

	@include media-breakpoint-up(xl_desktop) {
		margin-right: 1.25rem;
	}

	@include media-breakpoint-up(1920xl_desktop) {
		margin-right: calc(((100% - 1920px)/ 2) + 170px);
		right: 20px;
	}
	@include media-breakpoint-up(2560xl_desktop) {
		margin-right: calc(((100% - 1920px)/ 2) + 230px);

	}
}
div.search-icon-main {
	width: 20px;
	height: 20px;
	z-index: 6;
	img {
		position: absolute;
		top: -6px;
		right: -1px;
		margin-right: 1px;
	}
}
div.search-icon-rollover {
	width: 20px;
	height: 20px;
	z-index: 5;

	img {
		position: absolute;
		top: 3px;
		right: -1px;
		margin-top: -0.125rem;
		margin-right: 0.0625rem;
	}
}

#search-options {
	font-size: .55rem;
	text-transform: unset;
	position: absolute;
	height: 80px;
	top: -28px;
	right: 157px;
	padding-top: 0.625rem!important;
	padding-left: 1.25rem!important;
	padding-right: 0.625rem!important;
	z-index: 1;
	color: $white;
	margin: 1.875rem 0 0 0;

	&:focus, &:focus-within {
		z-index: 3;
	}

	@include media-breakpoint-down(tablet) {
		right: 147px;
	}
	@include media-breakpoint-down(phone) {
		top:14px;
		right: 4px;
	}
	@include media-breakpoint-up(midlarge_desktop) {
		/*right: 233px;*/
		margin-right: calc(((100% - 1530px)/ 2) - 5px);
	}
	@include media-breakpoint-up(xl_desktop) {
		margin-right: calc(((100% - 1700px)/ 2) + 15px);
	}
	@include media-breakpoint-up(1920xl_desktop) {
		margin-right: calc(((100% - 1920px)/ 2) + 23px);
	}
	@include media-breakpoint-up(2560xl_desktop) {
		margin-right: calc(((100% - 1920px)/ 2) + 83px);
	}

	input[type="search"] {
		font-size: 1rem;
		height: 29px;
		padding-left: 0.625rem;
		padding-top: 0;
		border: 0;
		border-radius: 0!important;

		&:focus-visible,
		&:focus-visible::placeholder {
			color: white;
		}
		@include media-breakpoint-down(phone) {
			&:focus {
				margin-right: 0.625rem!important;
			}
		}
	}
	input[type=checkbox] {
		margin-top: 15px;
	}
	
	.mr-sm-2 {
		margin-right: unset;
		font-size: .85rem!important;
	}

	span {
		margin-top: 15px;
		margin-left: 5px;
		position: absolute;
	}
}
.search-options {
	input[type=checkbox],
		span {
			display: none;
		}
	&:focus, &:focus-within {
		background: $black;

		input[type=checkbox],
		span {
			display: inline-block;
		}
	}
}
a.login-btn {
	@include media-breakpoint-up(desktop) {
		margin-right:  -0.5rem;
		position: absolute!important;
    	top: 14px;
    	right: 38px;
	}

	@include media-breakpoint-only(midlarge_desktop) {
		margin-right: calc(((100% - 1530px)/ 2) - 30px);
	}

	@include media-breakpoint-up(xl_desktop) {
		padding-right: 0.3125rem;
		margin-right:0px;
	}
	@include media-breakpoint-up(2560xl_desktop) {
		margin-right: calc(((100% - 1920px)/ 2) + 40px);
	}

	@include media-breakpoint-down(landscape_phone) {
		font-size: .7rem;
		position: absolute!important;
		right: 10px;
		top: 10px;
	}

	@include media-breakpoint-down(tablet) {
		position: absolute!important;
		top: 21px;
		right: 30px;
		margin-top: -0.3125rem;
	}
}

a.login-btn:hover {
	background:transparent!important;
}

.btn-outline-success {
	font-size: .8rem;
	color: $white;
	text-transform: uppercase;
	background-color: transparent;
	background-image: none;
	border-radius: 0px;
	border: 2px solid $white;
	padding: 0.1875rem 0.9375rem;
	margin-top: -0.125rem;

	&:hover,
	&:not(:disabled):not(.disabled):active {
		color: $yellow;
		border-color: $yellow;
		background-color: transparent;
	}

	&.focus,
	&:focus {
		box-shadow: none;
	}
/*	@include media-breakpoint-down(landscape_phone) {
		font-size: .7rem;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	@include media-breakpoint-down(tablet) {
		position: absolute;
		top: 15px;
		right: 26px;
		margin-top: -0.3125rem;
	}*/
}


nav input.form-control[type="search"] {
	display: none!important;
	border-radius: 0;

	@include media-breakpoint-down(tablet) {
		position: absolute;
		top: 15px;
		width: 250px;
		right: 150px;
		height: 30px;
	}

	@include media-breakpoint-down(landscape_phone) {
		position: absolute;
		top: 12px;
		width: 200px;
		left: 20px;
		height: 30px;
	}
}

form.form-inline.my-2.my-lg-0 {
	@include media-breakpoint-down(landscape_phone) {
		/*position: absolute;*/
		top: -8px;
		height:30px;
	}
}
nav#block-bootstrap-barrio-subtheme-account-menu a {
	font-weight: 400;
	color: $green!important;
	text-transform: initial;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
}

//----- DASHBOARD BUTTON ----//

a.dashboard-button{
	font-size: 0;
	content: "";
	z-index: 1;
	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat;
	width: 31px;
	height: 22px;
	background-position: -349px -266px!important; /*was 267*/
	display:block;
	position: absolute!important;
	right: 115px; //15px;
	top: 16px;

	@include media-breakpoint-down(phone) {
		//right: 30px;
	}

	@include media-breakpoint-down(landscape_phone) {
		top: 17px;
	}
	/* IE */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
		top: 15px!important;
	}

	@include media-breakpoint-up(midlarge_desktop) {
		/*right: calc(((100% - 1440px) / 2) - 16px);*/
		//right: 30px;
	}
	@include media-breakpoint-up(xl_desktop) {
		margin-right: 20px;
		//right:23px;
	}
	@include media-breakpoint-up(1920xl_desktop) {
		//right: calc(((100% - 1920px)/ 2) + 25px);
	}

	@include media-breakpoint-up(2560xl_desktop) {
		margin-right: calc(((100% - 1920px) / 2) + 90px); /*margin-right: calc(((100% - 1920px) / 2) + 40px);*/
		padding-right: 1.5625rem;
		//right: 15px;
	}

	/*  @include media-breakpoint-down(landscape_phone) {
              margin-left: 10px;
      }
      @include media-breakpoint-up(midlarge_desktop) {
          margin-left: 5px;
      }
      @include media-breakpoint-up(xl_desktop) {
          margin-left: 20px;
      } */

	&:hover,
	&:focus {
		background-position: -349px -296.5px!important;
	}

}

//----- LOGIN BUTTON ----//

.login {
	position: absolute;
	top:48px;
	right: 20px;
	margin-top: 0.375rem;
	margin-left: 0.3125rem;
	border-radius: 0;
	list-style-type: none;
	min-width: 90px;

	@include media-breakpoint-down(landscape_phone) {
		top: 120px;
		right: 10px;
		position: absolute;
		margin-top: -4.375rem;
		//margin-right: 3.125rem;

		&:hover,
		&:focus {
			margin-top: -4.375rem!important;
		}
	}

	@include media-breakpoint-only(tablet) {
		position: absolute;
		top: 45px;
		//right: 60px;
	}

	@include media-breakpoint-up(midlarge_desktop) {
		/*right: calc(((100% - 1440px)/ 2) + 15px);*/
		right: 30px;
	}
	@include media-breakpoint-up(xl_desktop) {
		right: 50px;
	}

	@include media-breakpoint-up(1920xl_desktop) {
		//right: calc(((100% - 1920px)/ 2) + 75px);
	}

	@include media-breakpoint-up(2560xl_desktop) {
		margin-right: calc(((100% - 1920px)/ 2) + 50px); /*margin-right: calc(((100% - 1920px)/ 2) + 100px);*/
		//right: 10px;
	}


	a#navbarDropdownMenuLink::after {
		display: inline-block;
		position: relative;
		/*top: -27px;  was -26px */
		right: 3px;
		/*color: $white;*/
		width: 0;
		height: 0;
		margin-left: .255em;
		vertical-align: .255em;
		content: "";
		border-top: .3em solid;
		border-right: .3em solid transparent;
		border-bottom: 0;
		border-left: .3em solid transparent;

		/*@include media-breakpoint-only(tablet) {
			top:-29px;
		}
		@include media-breakpoint-down(phone) {
			top:-27px;
		}*/
	}

	&:hover,
	&:focus {
		color:#fdc95c!important;
	}
	&.dropdown:hover::after {
		color: $yellow;
	}

	&.dropdown.show {
		min-width:90px;
		height: 150px;
		top: 3px;
		background-color: $black;
		z-index: 10;

		@include media-breakpoint-only(tablet) {
			top: 1px!important;
		}
		@include media-breakpoint-down(landscape_phone) {
			top: 78px!important;
			right: 10px;
		}

		a#navbarDropdownMenuLink {
			color:#fdc95c!important;
			margin-top: -2px;

			@include media-breakpoint-down(tablet) {
				margin-top: -3px;
			}
			@include media-breakpoint-down(phone) {
				margin-top: -5px;
			}
		}
		&:after {
			color:#fdc95c!important;
			margin-top: 45px;

			@include media-breakpoint-down(tablet) {
				margin-top: 44px;
			}
			@include media-breakpoint-down(phone) {
				margin-top: 42px;
			}
		}
	}

	.truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 105px;

		@include media-breakpoint-only(tablet) {
			max-width: 90px;
		}
	}


	a#navbarDropdownMenuLink {
		font-weight: 400;
		font-size:0.75rem;
		padding-top: 12px;
		text-align: right;
		text-transform: lowercase;
		margin-top: -2.9375rem;
		background: transparent;
		padding-left: 10px;
		padding-right: 0!important;
		right: 0px;
    	position: relative;

		@include media-breakpoint-down(tablet) {
			//font-size: .7rem!important;
			right: 10px;
		}
		@include media-breakpoint-down(phone) {
			font-size: .75rem!important;
		}

		&:hover,
		&:focus {
			color:#fdc95c!important;
			margin-top: -2.9375rem;
			background: transparent;
		}
	}
	.dropdown-menu {
		min-width: unset;
		border: 0;
	}
	.dropdown-menu.loggedin {
		background-color: transparent!important;
		margin-top: -6.875rem;
		background-clip: unset;
		border-radius: 0;
		padding-top:0;
		width: 100%;

		a.dropdown-item {
			font-size: .75rem;
			color: $white;
			font-weight: 400;
			text-decoration: none;
			text-transform: capitalize;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			text-align: right;
			margin-bottom: 0.5rem;

			/* IE10+ CSS styles go here */
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
				margin-left: -4.375rem;
			}

			svg {
				display: none;
			}

			&:hover,
			&:focus {
				color:#fdc95c!important;
				background: transparent;
			}
		}
	}
}

nav.navbar .row {
	@include media-breakpoint-down(phone) {
		margin-right: 0;
	}
}


a.login-btn:hover {
	background:transparent!important;
}


//--- TOOLBAR TRAY for ADMIN Login ---//

#toolbar-item-workbench-tray,
#toolbar-item-devel-tray,
#toolbar-item-shortcuts-tray,
#toolbar-item-administration-tray,
#toolbar-item-user-tray {
	ul.toolbar-menu a {
		&:hover,
		&:focus {
			color: #565656!important;
		}
	}
}



//--- TOOLBAR MENU for Content Editors ---//

.toolbar-tab {
	@include media-breakpoint-down(landscape_phone) {
		margin-left: -0.125rem;;
		margin-right: -0.1875rem;
	}

	a:hover {
		background: transparent!important;
		color: $white!important;
	}
	.toolbar-menu-administration {
		a:hover, a:focus {
			color: $black!important;
		}
	}
}

//--- Navtabs --//
nav.tabs {
	@include media-breakpoint-down(landscape_phone) {
		@include margin-L-R-auto;
	}
}
.nav-tabs {
	.nav-item {
		padding-bottom: 0;
	}

	a.nav-link {
		font-size: 0.8rem;

		&:hover,
		&:focus{
			background-color: transparentize( $black, 0.95);
		}

		@include media-breakpoint-down(landscape_phone) {
			padding: .4rem 0.8rem;
		}
	}
}

/* BREADCRUMBS
===================================================*/

.breadcrumb-item {
	font-size: .6rem;
	text-transform: uppercase;
	padding-bottom: 0;
}

.breadcrumb-item a {
	font-weight: 600;
	color: $text_gray;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: $white;
		color: $green;
		text-decoration: underline;
	}
}

.breadcrumb {
	padding: 0.125rem 1rem 0 1.3125rem;
	margin-bottom: 1rem;
	list-style: none;
	background-color: transparent;
	border-radius: .25rem;

	&::before {
		padding-right: 0.1875rem;
		display: inline-block;
		content: "";
		position: inherit;
		width: 24px;
		height: 25px;
		top: 0;
		right: 130px;
		bottom: 6px;
		margin: 0.1875rem 0 auto 0;
		background: url("/themes/custom/myusf/images/site/icons.png") no-repeat -56px -77px;
		background: url("/themes/custom/myusf/images/site/icons.svg") no-repeat -56px -77px;

	}

	@include media-breakpoint-down(tablet) {
		display: none;
	}
}




/* SUB NAVIGATION left column
=================================================*/
#sidebar_first.sidebar {
	.block {
		padding: 0!important;

		@include media-breakpoint-up(tablet) {
			margin-bottom: 2.5rem;
		}
	}

	@include media-breakpoint-only(tablet) {
		margin-bottom: 1.875rem;
	}
}
#sidebar_first nav {
	margin-left: 0;
	border: 0;
	border-top: 4px solid $yellow;
	border-bottom: 4px solid $yellow;
	width: 230px;

	@include media-breakpoint-down(desktop) {
		width: 190px;
	}

	@include media-breakpoint-down(tablet) {
		width: 100%;
	}

	ul.nav {
		padding-top:0;
		margin: 0.75rem 0;

		li {
			width: 230px;
			list-style-type: none;
			padding-bottom: 0;

			@include media-breakpoint-down(desktop) {
				width: 190px;
			}

			@include media-breakpoint-down(tablet) {
				width: 100%;
			}

			&:last-of-type {
				border: 0;
			}
			&.menu-item--collapsed a:after {
				left: 5px;
				position: relative;
				content: ' »';
			}
			&.menu-item--expanded a {
				&:hover {
					svg.ext {
						fill: $true_black;
						path {
							stroke:  $true_black;
						}
					}
				}
			}
			&:first-of-type {
				a {
					font-size: 1.1rem;
					text-transform: uppercase;
					line-height: 1.1;
					&:before,
					&.nav-link.active.is-active:before {
						top:-1px; //4px
					}
				}
			}

			a {
				font-size: 0.9rem;
				font-weight: 700;
				color: $black;
				line-height: 1.33;
				text-decoration: none;
				margin: 0.5rem 0.625rem;
				padding: 0; 
				position: relative;

				&:before {
					content: '';
					position: relative;
					display: inline-block;
					top: -2px; //5px;
					left: -10px;
					background: url(/themes/custom/myusf/images/site/inactive-nav-link.svg) no-repeat;
					width: 6px;
					height: 22px;
					margin-right: 0.5rem;
					position: absolute;
				}

				&:hover,
				&:focus {
					background: transparent;
					text-decoration: underline;
				}

				@include media-breakpoint-down(desktop) {
					font-size: 0.8rem;
					line-height: 1.375;
				}

				@include media-breakpoint-down(landscape_phone) {
					padding: 1rem 0.625rem;
				}
				&.nav-link.active.is-active:before {
					content: '';
					position: relative;
					display: inline-block;
					left: -10px;
					background: url(/themes/custom/myusf/images/site/active-nav-link.svg) no-repeat;
					width: 6px;
					height: 22px;
					position: absolute;
				}
			}

			//Second-level menu
			ul.menu  {
				padding-top: 0;
				padding-left: 0.625rem;
				margin-top: 1.625rem;
				margin-bottom: -1.25rem;//-0.625rem;

				li {
					border-bottom: 0;
					padding-left: 0;
					width: 220px;

					@include media-breakpoint-down(desktop) {
						width: 170px;
					}
					@include media-breakpoint-down(tablet) {
						width: 100%;
					}

					&:first-of-type {
						margin-top: -0.625rem;

						a {
							font-size: .8rem;
							&:before,
							&.nav-link.active.is-active:before {
								top:-2px;//3px;
							}
						}
					}
					&:last-of-type {
						padding-bottom: 0.75rem;
					}

					a {
						font-size: .8rem;
						text-transform: uppercase;
						font-weight: 400;
						margin: 1rem 0.625rem;
						position: relative;

						&:hover,
						&:focus {
							background: transparent;
						}
					}
				}

				// Third-level	menu
				ul.menu {
					margin-top: -5px;
					margin-bottom: 20px;

					li {
						margin: 0 0 -0.625rem;
						width: 210px;

						@include media-breakpoint-down(desktop) {
							width: 170px;
						}
						@include media-breakpoint-down(landscape_phone) {
							width: 100%;
						}

						&:last-of-type {
							padding-bottom: 0;
						}
					}

					a {
						font-weight:400;
						color:$black;
						padding: 0.3125rem 0.625rem 0.3125rem 0rem;
						margin-top: 0.5rem!important;
						margin-bottom: 1rem;
						text-transform: capitalize;
						position: relative;

						&:before,
						&.nav-link.active.is-active:before {
							top:2px;
						}
					}
				}
			}
		}
	}
}

#sidebar_first .sidebar {
	h2 {
		@include media-breakpoint-down(landscape_phone) {
			font-weight: 600;
			color: #6b6b6b!important;
			text-align: center;
			text-shadow: unset;
			margin-top: -2.8125rem;
			padding-bottom: 0;
			border: 0;
		}
	}
}

#sidebar_first .sidebar {
	h2 {
		font-size: 1.025rem;
		font-weight: 700;
		color: #6B6B6B!important;
		text-transform: uppercase!important;
		border: 0;
	}
}
.sidebar nav ul.nav {
	@include media-breakpoint-down(tablet) {
		margin: 0;
	}
}

.navbar-toggler-icon:focus, button.navbar-toggler.navbar-toggler-right:focus {
	outline-color: $white;
}

button.navbar-toggler.navbar-toggler-right {
	border: 1px solid $light_gray;
	border-radius: 0;
	width: 100%;
	padding-right: 0.625rem;

	@include media-breakpoint-only(tablet) {
		width: 50%;
		left: 25%;
		position: relative;
	}

	&::after {
		position: relative;
		display: inline-block;
		content: "";
		width: 10px;
		height: 8px;
		top: 2px;
		right: -20px;
		margin-left: 0.3125rem;
		z-index: 0;
		background: url(/themes/custom/myusf/images/site/icons.png) -260px -148px no-repeat;
		background: url(/themes/custom/myusf/images/site/icons.svg) -260px -148px no-repeat;
		opacity: .7;
	}
}
button.navbar-toggler.navbar-toggler-right.collapsed{
	&::after {
		position: relative;
		display: inline-block;
		content: "";
		width: 10px;
		height: 8px;
		top: 2px;
		right: -20px;
		margin-left: 0.3125rem;
		z-index: 0;
		background: url(/themes/custom/myusf/images/site/icons.png) -239px -148px no-repeat;
		background: url(/themes/custom/myusf/images/site/icons.svg) -239px -148px no-repeat;
	}
}
.navbar-toggler-icon {
	padding-top: 0.625rem;
	font-size: .9rem;
	height: 30px;
	background-image:none;
}


#submenuButton.hideButton {
	display:none;
}

.submenu {
	h2 {
		font-size: 0.8rem;
		font-weight: 300;
		line-height: 1.375;
		padding: 0.625rem;


		@include media-breakpoint-down(desktop) {
			font-size: 0.8rem;
			line-height: 1.375;
		}
	}

	@include media-breakpoint-only(tablet) {
		width: 50%;
		left: 25%;
		position: relative;
		border: 1px solid $light_gray;
		border-top: 0;
	}
	li.nav-item a{
		&:focus-visible {
			position: relative;
		}
		svg.ext {
			//display: none;
			fill: $true_black;
			path {
				stroke:  $true_black;
			}
		}
		&:hover {
			svg.ext {
				fill: $green;
				path {
					stroke:  $green;
				}
			}
		}
	}
}

/* SIDEBAR SECOND right column
=================================================*/
#sidebar_second {
	margin-left: 15px!important;
    margin-right: 15px!important;

	@include media-breakpoint-only(tablet) {
		width: 100%; 
	}
	@include media-breakpoint-down(phone) {
		width: calc(100% - 30px)!important;
		margin-left: auto!important;
		margin-right: auto!important;
	}

	.block {
		margin-bottom: 2.5rem;
	}
	.custom-block2 {
		max-width: 240px;

		@include media-breakpoint-only(tablet) {
			max-width: 50%; 
		}
		@include media-breakpoint-only(landscape_phone) {
			width:50%;
		}
		@include media-breakpoint-down(phone) {
	        max-width: unset;
	    }

		.callout {
			margin-bottom: 0;
			margin-top: 0;
			width: 100%;
			padding-bottom: 0.625rem;
		}
		h2 {
			border: 0;
		}

		form legend {
			font-size: 1rem;
			font-weight: 700;
		}

		form .checkbox {
			padding-left: 0.5625rem;
		}

		.form-check-input {
			position: absolute;
			margin-top: .3rem;
			margin-left: -1rem;
		}

		form label {
			font-weight: inherit;
			padding-right: 0.625rem;
			line-height: 1.3rem;
			font-size: .85rem;
		}
		.form-row {
			display:block!important;
		}

		.form-row>fieldset, .form-row>div {
			padding-right: 0.3125rem;
			padding-left: 0.3125rem;
			flex: 0 0 auto;
			width: auto;
			max-width: 245px;

			@include media-breakpoint-down(tablet) {
				max-width: 100%;
			}
		}
		label {
			display: inline-block;
			/* margin-bottom: .5rem; */
		}

		.form-group {
			margin-bottom: .5rem;
		}
		input {
			margin-top: -0.3125rem;
			margin-bottom: -0.625rem;
		}
		input#edit-field-end-date, input#edit-field-end-date--2 {
			margin-bottom: 0;
		}
		input#edit-submit-events-search, input#edit-submit-events-search--2 {
			margin-bottom: 1.875rem!important;
		}

		#views-exposed-form-events-search-page-1 #edit-field-category--2--wrapper ul,
		#views-exposed-form-events-search-page-1 #edit-field-category--wrapper ul {
			list-style-type: none;
			padding: 0px;
			margin-bottom: 0px;
		}
		#views-exposed-form-events-search-page-1 #edit-field-category--2--wrapper li,
		#views-exposed-form-events-search-page-1 #edit-field-category--wrapper li {
			line-height: initial;
			padding-bottom:0px;
		}
		#views-exposed-form-events-search-page-1 #edit-field-category--2--wrapper label.form-check-label,
		#views-exposed-form-events-search-page-1 #edit-field-category--wrapper label.form-check-label {
			padding-left: .5625rem;
		}
	}

	#block-exposedformevents-searchpage-1 fieldset#edit-field-category--wrapper, #block-exposedformevents-searchpage-1 fieldset#edit-field-category--2--wrapper {
		margin-bottom: 0.9375rem;

		legend {
			margin-bottom: 0.3125rem;
		}
	}
	#block-exposedformevents-searchpage-1 fieldset#edit-field-target--wrapper {
		margin-bottom: 1.5625rem;

		legend {
			margin-bottom: 0.3125rem;
		}
	}

	.block-views-blockannouncements-most-recent-list-block-1 .custom-block2 {
		@include media-breakpoint-only(landscape_phone) {
			width: 100%!important;
		}
	}
	.form-row:after {
		right: 30px;
		background: url(/themes/custom/myusf/images/src/search-gray.svg) 0 0 no-repeat;
		width: 20px;
		height: 29px;
		position: absolute;
		display: inline-block;
		content: "";
		top: 50px;

		@include media-breakpoint-only(landscape_phone) {
			left: 45%;
		}

	}
	input#edit-search-api-fulltext::placeholder, input#edit-search-api-fulltext--2::placeholder {
		text-transform: uppercase;
		font-size: .8em;
	}
}

.page-node-140134 #sidebar_second {
	
	@include media-breakpoint-down(tablet) {
		width: 50%;
		.custom-block2 {
			max-width: unset;
		}
	}
	@include media-breakpoint-down(tablet) {
		margin-top: 0;
	}
}

.path-dashboard #sidebar_second {
	
	@include media-breakpoint-only(tablet) {
		width: 50%;

		.custom-block2 {
			max-width: unset!important;
		}
	}
}

/* QUICK LINKS right column
=================================================*/
#sidebar_second {
	.quick-links-container {
		max-width: 240px;
		
		@include media-breakpoint-only(tablet) {
			max-width: 50%; 
		}
		@include media-breakpoint-down(phone) {
			max-width: unset;
		}
	}
}

.myApps {
	.quick-links-container {
		border: 0!important;

		nav.quick-links-nav { 
			padding-left: 0;

			li {
				font-size: .9rem;
				padding-bottom: 0;
				line-height: 1.8;
				
				a {
					text-decoration: underline;

					&:hover {
						color:$black!important;
						text-decoration: none;
						background-color: transparentize( $yellow, 0.8);
					}
				}
			}
		}
	}
}
.quick-links-container{
	border: 5px solid $green!important;
	padding: 0.9375rem!important;
	
	@include media-breakpoint-only(landscape_phone) {
		width:50%;
	}
	@include media-breakpoint-down(phone) {
		width:100%;
	}

	h2 {
		font-size: 1.025rem;
		font-weight: 700;
		color: $green !important;
		text-transform: uppercase!important;
		border: 0;
		padding: 1.25rem 0.9375rem 0 0.9375rem;
	}
	nav.quick-links-nav {
		padding-left: 0.9375rem;
		padding-right: 1.5625rem;

		ul {
			margin: 0;
			padding-left: 0;
			list-style-type: none;
		}

		li {
			font-size: .85rem;
			font-weight: 600;
			color: $green !important;
			line-height: 1.2867;
			margin-bottom: 0.5rem;

			a {
				text-decoration:none;
				font-weight:600;

				&:hover,
				&:focus {
					text-decoration: underline;
					background:transparent;
				}
			}
			&:last-of-type {
				padding-bottom: 1rem;
			}
		}
	}
}

.noroleRole .quick-links-container{
	@include media-breakpoint-only(landscape_phone) {
		width:100%;
	}
}

/* RECENT ANNOUNCEMENTS right column
=================================================*/
.block-views-blockannouncements-most-recent-list-block-1 {
	border: 5px solid $plum!important;
	padding: 0.9375rem!important;

	h2 {
		font-size: 1.025rem;
		font-weight: 700;
		color: $plum !important;
		text-transform: uppercase!important;
		border: 0;
		padding: 1.25rem 0.9375rem 0 0.9375rem;

		@include media-breakpoint-down(phone) {
			padding-left: 1.25rem;
		}
	}
	.item-list {
		padding-left: 0.9375rem!important;
		padding-right: 1.5625rem!important;
		ul {
			margin: 0;
			padding-left: 0;
			list-style-type: none;
		}

		li {
			font-size: .85rem;
			font-weight: 600;
			color: $text_gray !important;
			line-height: 1.1rem;
    		margin: 0 0.3125rem 0.5rem 0;

    		&:last-of-type {
    			padding-bottom: 0.625rem;
    		}

			a {
				color: $text_gray;
				text-decoration:none;
				font-weight:600;

				&:after {
				    /*position: absolute;*/
				    content: "»";
				    padding-left: 0.1875rem;
				}

				&:hover,
				&:focus {
					text-decoration: underline;
					background:transparent;
				}
			}
		}
	}
}
.block-views-blockannouncements-most-recent-list-block-1 .paragraph__column ul li {
    padding-left: 0;
}
.block-views-blockannouncements-most-recent-list-block-1 .paragraph>.paragraph__column {
	 padding-top: 0!important;
}
.new-announcement-sidebar {
	font-size: .5625rem;
    font-weight: 900;
    color: #ffffff;
    background: #b30000;
    padding: 0px 1px 0px 4px;
    margin-right: 3px;
    text-transform: uppercase;
    position: relative;
    top: -1px;
}
.new-announcement-main {
	font-size: .65rem;
    font-weight: 900;
    color: #ffffff;
    background: #b30000;
    padding: 1px 1px 1px 4px;
    margin-right: 5px;
    text-transform: uppercase;
    position: relative;
    top: -2px;
}

.new-announcement {
	color:#000000!important;
}
/* FOOTER
=================================================*/
.site-footer {
	background:$green;
	padding: 2.5rem 0 1.5rem!important;
	position: absolute;
	right: 0;
	left: 0;

	.block {
		border: 0;
		padding: 0.3125rem;
		width:100vw;

		@include media-breakpoint-down(tablet) {
			margin: 0.625rem auto;
		}
	}
}

.footer-link {
	font-size:0.7rem;
	color:$white!important;
	text-decoration:none;
	display: block;
	padding: .15rem 1rem;

	&:hover,
	&:focus {
		color:$yellow!important;
		background: transparent;
		text-decoration: underline;
	}

	@include media-breakpoint-down(phone) {
		line-height: 1.6;
	}

	@include media-breakpoint-down(desktop) {
		padding: .15rem 0!important;
	}

	svg.ext {
		fill: $white;
		margin-top: -6px;
		padding-top: 7px;
		margin-left: 4px;
		width: 17px;

		path {
			stroke: $white;
		}
	}
}

.footer-nav {
	padding-left: 0;
	list-style: none;
	margin: 0 9% 3% 16%!important;
	column-count: 2;
	column-gap: 10px;
	text-align: center;

	@include media-breakpoint-down(landscape_phone) {
		margin: -2% 5% 5% 14%!important;
		text-align: left;
	}

	@include media-breakpoint-down(phone) {
		margin: -2% 5% 5% 5%!important;
		text-align: left;
	}

	li.footer-item {
		@include media-breakpoint-down(landscape_phone) {
			display: inline-block;
			width: 100%;
		}
		&:first-child {
			margin-top: 0;
		}
	}
	@include media-breakpoint-up(tablet) {
		display: flex;
		columns: unset;
		padding-bottom: 0.5rem;
		margin: 0 auto 0 0.9375rem!important;
	}

	@include media-breakpoint-only(tablet) {
		justify-content: center;
		margin: 0 auto!important;
	}
	@include media-breakpoint-up(desktop) {
		padding-top: 0;
	}

	@include media-breakpoint-up(large_desktop) {
		justify-content: flex-start;
	}
}

a.logo {
	position: relative;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	/*width: 325px;*/
	/*margin: 10px auto;*/

	@include media-breakpoint-down(tablet) {
		position: relative;
		margin: 0.3125rem auto;
		width: 325px;
	}
	@include media-breakpoint-up(tablet) {
		width: 289px;
	}
	@include media-breakpoint-up(large_desktop) {
		width: 330px;
		height: 38px;
		margin-top: 0;/*was -38px*/
		float: right;
		right: 23px;
	}

	&:hover,
	&:focus  {
		background: transparent;
		color: transparent!important;
	}

	&::before {
		display: inline-block;
		content: "";
		width: 330px;
		height: 34px;
		position: relative;
		background: url(/themes/custom/myusf/images/site/icons.png) no-repeat;
		background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat;
		background-size: 120%;

		@include media-breakpoint-up(tablet) {
			width: 289px;
			height: 31px;
		}

		@include media-breakpoint-up(large_desktop) {
			position: absolute;
			margin-left: -0.9375rem;
			right: -2.5%;
		}
	}

}


.footer-expand-lg .footer-nav {
	@include media-breakpoint-up(tablet) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}

	.footer-link {
		@include media-breakpoint-up(tablet) {
			padding-right: .5rem!important;
			padding-left: .5rem!important;
		}
	}
}
/*NAV MENU EDIT
=================================================*/
.menu-enabled.draggable svg.ext, .menu-disabled.draggable svg.ext {
    margin-left: 5px;
}
