
/* MAIN NAV 
===================================================*/ 
.navbar-menu-wrapper {  //centers menu
	display: table;
  	margin: 0 auto;

  	@include media-breakpoint-only(tablet) {
  		margin-top: -9px;
  	}

  	@include media-breakpoint-down(landscape_phone) {
  		width:100%;
  		margin-top: 30px;
  	}
}

nav {
	padding-top:0!important;
	padding-bottom:0!important;
}

.bg-dark {
    background-color: $green!important;
}
/*nav.navbar a:hover {
    background: transparent!important;
}*/
nav.navbar {
	margin-bottom: 1.59rem;

	a.nav-link {
    	color: $white!important;
    	text-decoration:none;
    	padding-bottom: .87rem;
    	padding-top: .75rem;
    	font-weight: 700;

    	@include media-breakpoint-up(desktop) {
    		font-size: .75rem!important;
    		padding-left: .9rem!important;
    		padding-right: .9rem!important;
    	}

		@include media-breakpoint-only(tablet) {
			font-size: .7rem;
    		padding-left: 7px;
    		padding-right: 7px;
    		padding-bottom: .55rem;
    		line-height: 1rem;
    		text-align: center;
    	}
    	@include media-breakpoint-down(landscape_phone) {
    		padding-bottom: 1.2rem;
    		margin-top: .6rem;
    	}
	}
	li {
		font-size: .9rem;
		padding-bottom: 0;

		&.nav-item :hover,
		&.nav-item :focus {
			color: $green!important;
	    	background-color: $beige;
		}
	}
	@include media-breakpoint-down(landscape_phone) {
		padding:0;
		height: 98px;
		z-index: 2;
	}
	@include media-breakpoint-up(tablet) {
		padding-right: 2.4rem;
		height: 50px;
	}
}

.navbar-brand {
    color: $green!important;
    margin-left: 9px;

    &:hover,
    &:focus {
    	color: $green!important;
    	background: transparent;
	}

	@include media-breakpoint-up(xl_desktop) {
        margin-left: calc((100% - 1500px) / 2);
        padding-left: 8px;
    }

	img {
		margin-left: 20px;
		@include media-breakpoint-only(tablet) {
			margin-left: 0px;
		}
		@include media-breakpoint-down(landscape_phone) {
			margin-left: 10px;
		}
	}

}

.navbar-nav {
	border:0;
	/*margin-left: 120px;*/
	padding-top: 0px;

	.menu-item--expanded.dropdown  {
		a {
			transition:unset!important;
		}

		&:hover {
			background: $beige;

			a, a:hover{
				color: $green!important;
			}
		}

		@include media-breakpoint-only(tablet) {
			width:80px;
			margin-left: 5px;
    		margin-right: 5px;
		}	
	}


	@include media-breakpoint-down(tablet) {
		flex-direction: row;
		/*margin-left: 35px;
		margin-top: -50px;*/
		position: relative;
		top: -42px;   
	}

	@include media-breakpoint-down(landscape_phone) {		
		margin-left: 0;
		top:-23px;
		width:100vw;

		li {
			flex-direction: row!important;
			margin-top: 5px;
			padding: 0 5px!important;			

			a {
				font-size: .75rem;
			    line-height: .9rem;
			    text-align: center;
			    letter-spacing: .025rem;
			    padding-top: 5px!important;
    			padding-bottom: 5px!important;
			    margin-top: 0!important;
			    margin-bottom: 0!important;
			}
		}
		.menu-item--expanded.dropdown {
    		padding-left: unset!important;
    		padding-right: unset!important;

    		$shiftSecond: calc( -1 * ( 58px + (( 100vw - 299px) / 6) + (( 100vw - 303px) / 12)));
    		$shiftThird:  calc( -1 * ( 72px + 58px + 2 * ((( 100vw - 299px) / 6)) + (( 100vw - 303px) / 12))); 
    		$shiftFourth: calc( -1 * ( 72px + 58px + 53px + 3 * ((( 100vw - 299px) / 6)) + (( 100vw - 303px) / 12))); 
    		$shiftFifth: calc( -1 * ( 72px + 58px + 53px + 66px + 4 * ((( 100vw - 299px) / 6)) + (( 100vw - 303px) / 12))); 
    			
    		&:first-child {
    			width: calc( 58px + (( 100vw - 299px) / 6) + (( 100vw - 303px) / 12));
    			border-right: 1px solid $white;
    			@include mobilenav-dropdown(0);
    		}
    		&:nth-child(2) {    
    			width: calc( 72px + (( 100vw - 299px) / 6));
    			border-right: 1px solid $white;
    			@include mobilenav-dropdown($shiftSecond);
			}
			&:nth-child(3) {				
				width: calc( 53px + (( 100vw - 299px) / 6));
    			border-right: 1px solid $white;
    			@include mobilenav-dropdown($shiftThird);    					
			}
			&:nth-child(4) {				
				width: calc( 66px + (( 100vw - 299px) / 6));
    			border-right: 1px solid $white;
    			@include mobilenav-dropdown($shiftFourth);
			}
			&:nth-child(5) {				
				width: calc( 50px + (( 100vw - 299px) / 6) + calc(( 100vw - 300px) / 12));
    			@include mobilenav-dropdown($shiftFifth);
			}

			.dropdown {
				margin-top: -1px;
			}
		}					
	}
}

li.menu-item--expanded:hover ul.dropdown-menu {
	@include media-breakpoint-up(desktop) {
	    display: block;
	}
}

.navbar-dark .navbar-toggler {
	@include media-breakpoint-down(landscape_phone) {
    	display: none;
	}
}
#CollapsingNavbar {
	flex-grow: 1;
}
.navbar-expand-lg .navbar-nav .nav-link {
	@include media-breakpoint-up(desktop) {
    	padding-right: 1rem;
    	padding-left: 1rem;
	}
}

.navbar a[href^="/user/login"], .navbar a[href^="/user/logout"] {
	&:hover {
		background: transparent!important;
	}
}
// ----MAIN NAV DROPDOWN --- //

.navbar-nav .dropdown-menu {
	padding: 0;
	margin-top: 0;

	@include media-breakpoint-only(tablet) {
		position: absolute;
		margin-top: 0px;
	}

	.dropdown-item {
		border-bottom:1px solid $white;
		padding: .25rem 1rem;
		white-space: normal!important;


		@include media-breakpoint-down(tablet) {
			padding: .5rem 1rem!important;
			line-height: 1.2rem!important;
		}
		@include media-breakpoint-down(phone) {
		    white-space: nowrap;
		}

		a {
			font-size: .85rem;
			font-weight: 500;
			text-decoration: none;
			text-transform: initial;
			color: $black!important;
			display: block;
			width: 200px!important;
    		padding-top: 3px;
    		padding-bottom: 3px;
    		line-height: 1.1rem;

    		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    			font-size: .75rem;
    		}
						
		
			@include media-breakpoint-down(landscape_phone) {
				font-size: .8rem;
				padding-left: 5px;
				text-align: left;
				width: 93vw!important;
			}

			&:hover,
			&:focus {
				color: $black!important;
				background: transparent;
			}
		}
		&.active,
		&:active {
			background: transparent;
		}
		&:hover,
		&:focus {
			background: $light_beige;
		}
		
	}

	@include media-breakpoint-up(tablet) {
		background: $beige;
		border-radius: 0;
		border: 0;
		
		&:hover, &:focus {
			background: $beige;
		}
	}
}

.navbar-nav .dropdown.show a.nav-link.active {
    color: $green!important;
}

.navbar-nav {
	@include media-breakpoint-only(tablet) {
		li.nav-item.menu-item--expanded.dropdown:last-of-type {

			ul {
				width: 233px;

				li a {
				    white-space: normal;
				}
			}

		}
	}
}
// end main nav dropdown //


button.header_search {
    background: transparent;
    border: 0;
    z-index: 10;
	cursor:pointer;
	right: 155px;
	position: absolute;
	top: 15px;
	width:20px;
	height:20px;

	&:hover .search-icon-main img ,
	&:focus .search-icon-main img  {
		opacity:0;
	}

	@include media-breakpoint-up(xl_desktop) {
        margin-right: calc(((100% - 1500px) / 2) + 25px);
    }
}
div.search-icon-main {    	
	width: 20px;
	height: 20px;
	z-index: 6;
	img {
		position: absolute;
		top: -6px;
		right: -1px;
		margin-right: 1px;
	}
} 
div.search-icon-rollover {
    width: 20px;
	height: 20px;
	z-index: 5;	

	img {				
		position: absolute;
		top: 3px;
		right: -1px;
		margin-top: -2px;
		margin-right: 1px;
	}	
} 
	 
#search-options {
	font-size: .75rem;
	text-transform: unset;
	position: absolute;
    height: 80px;
    top: -29px;
    right: 143px;    
    padding-top: 10px!important;
    padding-left: 20px!important;
    padding-right: 35px!important;
    background: $black;
    z-index: 1;
    color: $white;
    margin:30px 0 0 0;

    @include media-breakpoint-only(tablet) {
    	right: 140px;
    	top: -29px;
    }
    @include media-breakpoint-down(phone) {
    	right: 145px;
    	top: -29px;
    }
     @include media-breakpoint-up(xl_desktop) {
        margin-right: calc(((100% - 1500px) / 2) + 25px);   
    }
    
    input[type="search"] {
    	font-size: 1rem;
    	height: 29px;
    	padding-left: 10px;
    	padding-top: 0;
    	border: 0;
    }
    input[type=checkbox] {
    	margin-top: 15px;
    }

    .mr-sm-2 {
    	margin-right: unset;
    	font-size: .85rem!important;
    }
}

.btn-outline-success {
	font-size: .8rem;
    color: $white;
    text-transform: uppercase;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    border: 2px solid $white;   
    padding: 3px 15px;
    margin-top: -2px;
	
	&:hover, 
	&:focus,
	&:not(:disabled):not(.disabled):active {
		color: $yellow;
		border-color: $yellow;
		background-color: transparent;
	}
	
	&.focus,
	&:focus {
		box-shadow: none;
	}
	@include media-breakpoint-down(landscape_phone) {
		font-size: .7rem;
	    position: absolute;
    	right: 10px;
    	top: 10px;
    }

    @include media-breakpoint-down(tablet) {
	    position: absolute;
	    top: 15px;
	    right: 26px;   /* was 20 */ 
	    margin-top: -5px;	
    }
}


nav input.form-control[type="search"] {
    display: none!important;
    border-radius: 0;

    @include media-breakpoint-down(tablet) {
    	position: absolute;
    	top: 15px;
    	width: 250px;
    	right: 150px;
    	height: 30px;
	}

    @include media-breakpoint-down(landscape_phone) {
    	position: absolute;
    	top: 12px;
    	width: 200px;
    	left: 20px;
    	height: 30px;
	}
}

form.form-inline.my-2.my-lg-0 {
	@include media-breakpoint-down(landscape_phone) {
    	/*position: absolute;*/
   	 	top: -8px;
    	height:30px;
    }
}
nav#block-bootstrap-barrio-subtheme-account-menu a {
    font-weight: 400;
    color: $green!important;
    text-transform: initial;
    margin-left:5px;
    margin-right:5px;   
}

//----- DASHBOARD BUTTON ----//

a.dashboard-button{
	content: "";
    z-index: 1;
	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat;
	width: 31px;
    height: 22px;
    background-position: -349px -266px!important; /*was 267*/
    display:block;
	position: absolute;
	right: 15px; 

	@include media-breakpoint-down(landscape_phone) {
		top: 17px;
	}
	/* IE */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
		top: 15px!important;
	}

	 @include media-breakpoint-up(xl_desktop) {
        margin-right: calc((100% - 1500px) / 2);
        padding-right: 25px;
    }

    &:hover,
	&:focus {
		 background-position: -349px -297.5px!important;			
	}
		
}

//----- LOGIN BUTTON ----//

.login {
	top:21px;
	right: 10px;
	margin-top: 6px;	
	margin-left:5px;
	border-radius: 0;
	list-style-type: none;
	min-width:90px;

	@include media-breakpoint-down(landscape_phone) {
	   	top: 120px;
    	right: -5px;
    	position: absolute;
	}

	@include media-breakpoint-only(tablet) {
		position: absolute;
    	top: 45px;
    	right: 50px;

	 	&:hover,
		&:focus {
			
		}
	}

	@include media-breakpoint-down(landscape_phone) {
		margin-top: -70px;
		margin-right: 50px;

	 	&:hover,
		&:focus {
			margin-top: -70px!important;
		}
	}
	@include media-breakpoint-up(xl_desktop) {
        margin-right: calc(((100% - 1500px) / 2) + 35px);
    }


	&::after {
		display: inline-block;
		position: absolute;
	    top: -25px;  /*was -26px */
	    right: 5px;
	    color: $white;
	    width: 0;
	    height: 0;
	    margin-left: .255em;
	    vertical-align: .255em;
	    content: "";
	    border-top: .3em solid;
	    border-right: .3em solid transparent;
	    border-bottom: 0;
	    border-left: .3em solid transparent;

	    @include media-breakpoint-only(tablet) {
			top:-29px;
		}
	}
	&:hover,
	&:focus {
		color:$yellow!important;
	}
	&.dropdown:hover::after {
		color: $yellow;
	}

	&.dropdown.show {
	    min-width:90px;
	    height: 150px;
	    top: 51px;
	    background-color: $black;
	    z-index: 10;

	   	 @include media-breakpoint-only(tablet) {
	   	 	top: 1px!important;
	   	 }
	   	 @include media-breakpoint-down(landscape_phone) {
	   	 	top: 78px!important;
	   	 }

	    a#navbarDropdownMenuLink {
	    	color:$yellow!important;
	    	margin-top: -3px;

	    	@include media-breakpoint-down(landscape_phone) {
	    		margin-top: -5px;
	    	}
	    }
	    &:after {
	    	color:$yellow!important;
	    	margin-top: 44px;

	    	@include media-breakpoint-down(landscape_phone) {
	    		margin-top: 42px;
	    	}
	    }
	}

	.truncate {
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 105px;
	     
	    @include media-breakpoint-only(tablet) {
	     	max-width: 90px;
	    }
	}

	
	a#navbarDropdownMenuLink {
		font-weight: 400;
		text-align: right;
    	text-transform: lowercase;
	    margin-top: -47px;
	    background: transparent;
	    padding-right:20px!important;

	    @include media-breakpoint-down(tablet) {
	    	font-size: .7rem!important;
		}
		@include media-breakpoint-down(phone) {
	    	font-size: .75rem!important;
		}

	    &:hover,
		&:focus {
			color:$yellow!important;
			margin-top: -47px;
			background: transparent; 
		}
	}
	.dropdown-menu {
		min-width: unset;
		border: 0;
	}
	.dropdown-menu.loggedin {
		background-color: transparent!important;
	    margin-top:-110px;
	    background-clip: unset;
	    border-radius: 0;
	    padding-top:0px;
	    width: 100%;

	    a.dropdown-item {
		    font-size: .75rem;
		    color: $white;
		    font-weight: 400;
		    text-decoration: none;
		    text-transform: capitalize;
		    padding-left: 15px;
		    padding-right: 15px;
		    text-align: right;

		    /* IE10+ CSS styles go here */
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){ 
				margin-left:-70px;
			}

		    &:hover,
			&:focus {
				color:$yellow!important;
				background: transparent;
			}    
		}
	}
}

nav.navbar .row {
	@include media-breakpoint-down(phone) {
	    margin-right: 0px;
	}
}
a.login-btn {
	@include media-breakpoint-up(xl_desktop) {
        margin-right: calc((100% - 1500px) / 2);
        padding-right: 5px;
    }
}

a.login-btn:hover {
	background:transparent!important;
}


//--- TOOLBAR TRAY for ADMIN Login ---//

#toolbar-item-user-tray {
	ul.toolbar-menu a {
		&:hover,
		&:focus {
			color: #565656!important;
		}
	}
}



 //--- TOOLBAR MENU for Content Editors ---//

.toolbar-tab {
	@include media-breakpoint-down(landscape_phone) { 
		margin-left: -2px;
    	margin-right: -3px;
	}

	a:hover {
    	background: transparent!important;
    	color: $white!important;
	}
	.toolbar-menu-administration {
		a:hover, a:focus {
    	color: $black!important;
		}
	}
}

//--- Navtabs --//
nav.tabs {
	@include media-breakpoint-down(landscape_phone) {
		@include margin-L-R-auto;
	}
}
.nav-tabs {
	.nav-item {
 		padding-bottom: 0;
	}

	 a.nav-link {
    	font-size: 0.8rem;

    	&:hover,
    	&:focus{
    		background-color: transparentize( $black, 0.95);
    	}

    	@include media-breakpoint-down(landscape_phone) {
    		padding: .4rem 0.8rem;
		}
	}
}

/* BREADCRUMBS 
===================================================*/ 

.breadcrumb-item {
	font-size: .6rem;
	text-transform: uppercase;
	padding-bottom: 0;
}

.breadcrumb-item a {
	font-weight: 600;	
	color: $text_gray;
	text-decoration: none;

	&:hover, 
	&:focus {
		background-color: $white;
		color: $green;
		text-decoration: underline;
	}
}

.breadcrumb {
	padding: 2px 1rem 0 21px;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: .25rem;

    &::before {
    	padding-right: 3px;
    	display: inline-block;
    	content: "";
    	position: inherit;
    	width: 24px;
    	height: 25px;
    	top: 0;
    	right: 130px;
    	bottom: 6px;
    	margin: 3px 0px auto 0px;
    	background: url("/themes/custom/myusf/images/site/icons.png") no-repeat -56px -77px;
    	background: url("/themes/custom/myusf/images/site/icons.svg") no-repeat -56px -77px;

    }

	@include media-breakpoint-down(tablet) {
		display: none;
	}    
}




/* SUB NAVIGATION left column 
=================================================*/
#sidebar_first.sidebar .block {
    padding: 0!important;

    @include media-breakpoint-up(tablet) { 
        margin-bottom: 40px;
    }
}
#sidebar_first nav {
	margin-left: 0px;
	border: 0;
	border-top: 4px solid $yellow;
	border-bottom: 4px solid $yellow;
	width: 230px;

	@include media-breakpoint-down(desktop) { 
		width: 190px;
	}

	@include media-breakpoint-down(landscape_phone) { 
		width: 100%;
	}
}

#sidebar_first nav {

	ul.nav {
		padding-top:0;
		margin-left: 0;

		li {
			width: 230px;
			list-style-type: none;
			border-bottom: 1px solid $light_gray;
			padding-bottom: 0;
			
			@include media-breakpoint-down(desktop) { 
				width: 190px;
			}

			@include media-breakpoint-down(landscape_phone) { 
				width: 100%;
			}
			/*&:first-of-type {
				margin-top: -8px;
			}*/
			&:last-of-type {
				border: 0;
			}

			&.menu-item--expanded a {
				color: $green;
			}
			&.menu-item--active-trail {
				background:$light_beige;
			}

			a {
		    	font-size: 0.9rem;
		    	font-weight: 700;
		    	color: $black;
		    	line-height: 1.2rem;
		    	text-decoration: none;
		    	text-transform: uppercase; 
		    	padding: 1rem 10px;

		    	&:hover,
		    	&:focus {
		    		color: $green!important;
		    		background: $light_beige;
		    	}

		    	@include media-breakpoint-down(desktop) { 
					font-size: 0.8rem;
					line-height: 1.1rem;
				}

				@include media-breakpoint-down(landscape_phone) { 
					padding: 1rem 10px;
				}
			}

			//Second-level menu
			ul.menu  { 
				padding-top: 0;
				padding-left: 10px;

				
				li {
					border-bottom: 0;
					padding-left: 0;
					width:220px;

					@include media-breakpoint-down(desktop) { 
						width: 170px;
					}
					@include media-breakpoint-down(landscape_phone) { 
						width: 100%;
						/*padding-right: 10px;*/
					}

					&:first-of-type {
						margin-top:-10px;
					}
					&:last-of-type {
						padding-bottom: 0.75rem;
					}

					a {
						text-transform: initial; /*capitalize;*/
						font-weight:600;
						margin-left: 18px;
						padding: .5rem 10px .5rem 0;

						&:hover,
						&:focus {
							background: transparent;
							color:$black!important;
							text-decoration: underline;
						}

						&.active {

							padding-top: 0!important; /* was 0.25rem!important; */
							padding-bottom: 0.25rem;

							&::before {
								display: block;
								position: relative;
								content: "";
								width: 8px;
								height: 8px;
								top:13px;
								left: -18px;
								background: $yellow;
								-webkit-transform: rotate(45deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
						      	transform: rotate(45deg); /* IE 10, Fx 16+, Op 12.1+ */
					      	}
						}
					}
				}

				// Third-level	menu
				ul.menu {	

					li {
						margin: 0 0 -10px;
					    width: 210px;

					    @include media-breakpoint-down(desktop) { 
					    	width: 170px;
					    }
					    @include media-breakpoint-down(landscape_phone) { 
					    	width: 100%;
					    }

					    &:last-of-type {
					    	padding-bottom: 0;
					    }
					}

					a {
						font-weight:400;
						color:$black;
						padding: 5px 10px 5px 13px;
    					margin-top: 0.5rem!important;
    					margin-bottom: 1rem;
    					margin-left: 9px;
    					
					
						&.active:before {
							display: none;
				      	}

				      	&.active {
				      		background-color: transparentize( $green, 0.2);	
				      		color:$white;	

				      		&:hover,
				      		&:focus {
				      			color:$white!important;
				      		}		      		
				      	}				      	
					}
				}
			}
		}
	}
}

#sidebar_first .sidebar {
	h2 {
		@include media-breakpoint-down(landscape_phone) { 
	    	font-weight: 600;
	    	color: #6b6b6b!important;
	    	text-align: center;
	    	text-shadow: unset;
	    	margin-top: -45px;
			padding-bottom: 0px;
			border: 0;	
		}
	}
}

.navbar-toggler-icon:focus, button.navbar-toggler.navbar-toggler-right:focus {
    outline-color: $white;
}

button.navbar-toggler.navbar-toggler-right {


	    border: 1px solid $light_gray;
	    border-radius: 0;
	    width: 100%;
	    padding-right: 10px;

	    &::after {
			position: relative;
		    display: inline-block;
		    content: "";
		    width: 10px;
		    height: 8px;
		    top: 2px;
	    	right: -20px;
		    margin-left: 5px;
		    z-index: 0;
		    background: url(/themes/custom/myusf/images/site/icons.png) -260px -148px no-repeat;
		    background: url(/themes/custom/myusf/images/site/icons.svg) -260px -148px no-repeat;
		    opacity: .7;
		}
	
}
button.navbar-toggler.navbar-toggler-right.collapsed{
	&::after {
		position: relative;
	    display: inline-block;
	    content: "";
	    width: 10px;
	    height: 8px;
	    top: 2px;
    	right: -20px;
	    margin-left: 5px;
	    z-index: 0;
	    background: url(/themes/custom/myusf/images/site/icons.png) -239px -148px no-repeat;
		background: url(/themes/custom/myusf/images/site/icons.svg) -239px -148px no-repeat;
	}
}
.navbar-toggler-icon {
    padding-top: 10px;
    font-size: .9rem;
    height: 30px;
}


#submenuButton.hideButton {
  display:none;
}

.submenu {
	h2 {
		font-size: 0.8rem;
		font-weight: 300;
		line-height: 1.1rem;
		padding:10px;


	    @include media-breakpoint-down(desktop) { 
			font-size: 0.8rem;
			line-height: 1.1rem;
		}
	}

	@include media-breakpoint-down(landscape_phone) { 
    	/*margin-top: 30px;*/
	}
}

/* QUICK LINKS right column 
=================================================*/


.quick-links-container{
	border: 5px solid $green!important;
	padding: 15px!important;


	@include media-breakpoint-down(landscape_phone) {  
		width:100%;
	}	
	@include media-breakpoint-only(tablet) {        
        position: relative;
        width: 250px;
        left: 100%; /* was 30% */
        float: none;
    }

	h2 {
		font-size: 1.1rem;
		font-weight: 700;
		color: $green !important;
		text-transform: uppercase!important;
		border: 0;
		padding: 20px 15px 0 15px;
	}
	nav.quick-links-nav {
		padding-left: 15px;
    	padding-right: 25px;

		ul {
			margin: 0;
			padding-left: 0;
			list-style-type: none;
		}

		li {
			font-size: .85rem;
			font-weight: 600;
			color: $green !important;
			line-height: 1.1rem;
    		margin-bottom: 8px;

    		/*&:last-of-type {
    			padding-bottom: 0;
    		}*/
		
			a {
				text-decoration:none;
				font-weight:600;

				&::after {
				    position: absolute;
				    content: "»";
				    padding-left: 3px;
				}

				&:hover, 
				&:focus {
					text-decoration: underline;
					background:transparent;
				}
			}
		}
	}	
}

/* RECENT ANNOUNCEMENTS right column 
=================================================*/


.block-views-blockannouncements-most-recent-list-block-1 {
	border: 5px solid $gray!important;
	padding: 15px!important;


	@include media-breakpoint-down(landscape_phone) {  
		width:100%;
	}	
	@include media-breakpoint-only(tablet) {        
        position: relative;
        width: 250px;
        /*left: 100%;  was 30% */
        float: none;
    }

	h2 {
		font-size: 1.1rem;
		font-weight: 700;
		color: $text_gray !important;
		text-transform: uppercase!important;
		border: 0;
		/*padding-top: 5px;
		padding-bottom: 0;*/
		padding: 20px 15px 0 15px;
	}
	.item-list {
		padding-left: 15px!important;
    	padding-right: 25px!important;
		ul {
			margin: 0;
			padding-left: 0;
			list-style-type: none;
		}

		li {
			font-size: .85rem;
			font-weight: 600;
			color: $text_gray !important;
			line-height: 1.1rem;
    		margin: 0 5px 8px 15px;

    		&:last-of-type {
    			padding-bottom: 10px;
    		}
		
			a {
				color: $text_gray !important;
				text-decoration:none;
				font-weight:600;

				&:after {
				    /*position: absolute;*/
				    content: "»";
				    padding-left: 3px;
				}

				&:hover, 
				&:focus {
					text-decoration: underline;
					background:transparent;
				}
			}
		}
	}	
}


/* FOOTER
=================================================*/
.site-footer {
	background:$green;
	padding: 35px 0 30px!important;
	position: absolute;
	bottom: -140px;
	right: 0;	
	left: 0;
	
	@include media-breakpoint-down(landscape_phone) {		
		padding: 10px 0 0;
		bottom: -230px;
	}
	@include media-breakpoint-down(phone) {		
		bottom: -260px;
	}

	.block {
    	border: 0;
    	padding: 5px;
    	width:100vw;

    	@include media-breakpoint-up(large_desktop) {
    		/*margin-left: calc(( 100% - 924px) / 2 ); /*links+logo+padding*/
    		/*margin-right: calc(( 100% - 924px) / 2 );*/
    	}

    	@include media-breakpoint-down(tablet) {   		
    		margin: 10px auto;
    	}
	}
}

.footer-link {
	font-size:0.7rem;
	color:$white!important;
	text-decoration:none;
	display: block;
	padding: .15rem 1rem;

	&:hover,
	&:focus {
		color:$yellow!important;
		background: transparent;
	}

	@include media-breakpoint-down(desktop) {
		padding: .15rem 0!important;
	}	
}

.footer-nav {
	/*display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	display: inherit;
	padding-top: 25px;*/
	padding-left: 0;
	list-style: none;	
    margin: -5% 1% 5% -7%!important;
    column-count: 3;
    column-gap: 10px;
    text-align: center;
    
    li.footer-item {
    	@include media-breakpoint-down(landscape_phone) {
    		display: inline-block;
    		width: 100%;
    	}
    }
	@include media-breakpoint-up(tablet) {
		display: flex;    	
    	columns: unset;
    	padding-top: 0;
    	margin: 0 auto 0 15px!important;
	}

	@include media-breakpoint-only(tablet) {
		justify-content: center;
		margin: 0 auto!important;
	}

	@include media-breakpoint-up(large_desktop) {
		justify-content: flex-start;
	}

}

a.logo {
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 325px;
    /*margin: 10px auto;*/

    @include media-breakpoint-down(tablet) {
    	position: relative;
    	margin: 5px auto;
    }

    &:hover, 
    &:focus  {
    	background: transparent;
    	color: transparent!important;
    }

    &::before {
    	display: inline-block;
    	content: "";
		width: 330px;
    	height: 34px;
    	position: relative;
    	background: url(/themes/custom/myusf/images/site/icons.png) no-repeat;    
    	background: url(/themes/custom/myusf/images/site/icons.svg) no-repeat;    	    
    	background-size: 120%;	

    	@include media-breakpoint-up(large_desktop) {
    		position: absolute;
    		margin-left: -15px;   		
    		right: -2.5%;
		}
    }

    @include media-breakpoint-up(desktop) {
    	width: 330px;
    	height: 38px;
    	margin-top: 0px;/*was -38px*/ 
    	float: right;
    	right: 23px;
    }
}


.footer-expand-lg .footer-nav {
	@include media-breakpoint-up(tablet) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
	
	.footer-link {
		@include media-breakpoint-up(tablet) {
			padding-right: .5rem!important;
    		padding-left: .5rem!important;
    	}
	}
}
