h1, h2, h3, h4, h5, h6 {
	font-family: $base-font;
	color: $black !important;
}

body, p {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 400;
}


body, p, li {
	font-family: $base-font;
	color: $text-gray;
}

.navbar, .navbar a {
	font-family: $base-font;
	font-weight: 600;
	text-transform: uppercase;
}

h1, h1 a {
	font-weight: 700;
	font-size: 2.2rem;
	margin-bottom: .5rem;
	line-height: 2.5rem;
	color: inherit;
	text-transform: none !important;
}

h2, h2 a {
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: .8rem;
	padding-top: 1rem;
	line-height: 2rem;
	color: inherit;
	text-transform: none !important;
}

h3, h3 a {
	font-size: 1.2rem;
	font-weight: 700 !important;
	font-style: normal !important;
	margin-bottom: .5rem;
	padding-top: .6rem;
	line-height: 1.3rem;
	color: inherit;
	text-transform: uppercase;
}

h4, h4 a {
	font-size: 1rem;
	font-weight: 600;
	padding-top: .4rem;
	margin-bottom: .5rem;
	line-height: 1.3rem;
	color: inherit;
}

h5, h5 a {
	font-size: .9rem;
	font-weight: 600;
	margin-bottom: .5rem;
	line-height: 1.1rem;
	color: inherit;
	text-transform: uppercase;
}

h6, h6 a {
	font-size: 1rem;
	font-weight: 700;
	font-style: italic;
	margin-bottom: .5rem;
	line-height: 1.1rem;
	color: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:$green;
	text-decoration: none;
	padding-top:0;
	line-height: 2rem;

	&:hover,
	&:focus {
		font-weight: 700;
	}
}

h1.js-quickedit-page-title.page-title {
    padding-left: 13px;
    padding-bottom: 25px;
}
#block-myusf-page-title h1.title {
	@include media-breakpoint-up(tablet) {
    	margin-top: -5px;
	}
}

strong {
	font-weight: 700;
}

a {
	font-family: $base-font;
	color: $green;
	font-weight: 600;
	text-decoration: underline;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	h2, h3, h4, h5 {
		color:$green!important;
	}
}

a:hover, a:focus {
	font-weight: 600;
	color:$black!important;
	text-decoration: none;
	background-color: transparentize( $yellow, 0.8);
}

a, a:active, a:focus, a:hover, a:link, a:visited {
    transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s !important;
}


ul, ol {
	margin-bottom: 1.5rem;
	padding-top: .5rem;
}
ul {
	list-style-type: square;
}

li {
	font-size: 1rem;
	line-height: 1.5rem;
	padding-bottom: .6rem;
}


//Table

table, table p {
	font-size: .8rem!important;
}
table li {
	font-size: .8rem;
    line-height: 1.3rem;
}
table {
	/*display: block;*/
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-non-responsive {
	overflow-x: unset;
}

th {
	line-height:1.2rem;
	padding-top: 10px!important;
	padding-bottom: 10px!important;

	&[scope="col"] {
		text-transform: uppercase;
		height: 45px;
	    vertical-align: middle;
	    background: $green;
	}

	&[scope="row"] {
		font-weight:400;
		color: $black;
		background: transparentize( $light_gray, 0.5);
	}

	a {
		color:$green!important;
	}
}


tr {
	border-bottom: 0;

	&:nth-child(2n) {
		background: transparentize( $light_beige, 0.7);
		/*th[scope=row] {
			background: #ece9e4;
		}*/
	}
	&:nth-child(2n+1){
		background: transparentize( $beige, 0.5);
		/*th[scope=row] {
			background: #e5e2d6;
		}*/
	}
	td, th {
		padding: 9px;
		line-height: 1.2rem;
	}
}
/*.table-responsive {
	display: table;
	@include media-breakpoint-down(phone) {
		display: block;
	}
}*/
@include media-breakpoint-only(tablet) {
	.view-display-id-all_apps .table-responsive.col {
	    max-width: unset;
	    width: 140%;
	}
}

/*@include media-breakpoint-down(phone) {
	table.table-responsive:before, div.table-responsive:before {
		position: relative;
		content: "Scroll to see more";
		font-size:.8rem;
	    width: 110px;
	    height: 25px;
	    top: 0;
	    right: 0px;
	    float: left;
	}
}*/

.ui-datepicker-calendar {
	tr {
		background: rgba(0, 0, 0, 0.063);
	}
	th{
		padding-top: 3px!important;
		padding-bottom: 3px!important;

		&[scope=col] {
			height:unset;
		}
	}
}

/* Sidebar Second Ads
=================================================== */
.sidebar-ad {
	padding:15px!important;
	h2 {
		color: $white!important;
		font-size:1.2rem;
		line-height:1.3rem;
		text-shadow: none;
	    border: 0;
	}
	p {
		color: $white;
	}
	a  {
		color: $yellow;
		&:hover,
		&:focus {
			color: $yellow!important;
			background: transparent;
		}
	}
}

/* GOOGLE SEARCH RESULTS
=================================================== */
div#___gcse_0, div#___gcse_1 {
	table {
		tr {
			background: transparent;
		}
	}
}

table.gsc-completion-container tr, 
table.gsc-completion-container tr:nth-child(2n+1), 
table.gsc-completion-container tr:nth-child(2n) {
	background-color: $white;
}

/* Search box */

div#___gcse_0 {
	margin-top: 30px;
	margin-bottom: 30px;

	table.gsc-search-box {
		width: 60%!important;

		@include media-breakpoint-down(phone) {
			width:100%!important;
		}

		td {
	    	vertical-align: top!important;
	    	&.gsc-input {

	    		.gsc-input-box  {
					height:51px;
				}
				#gs_cb50 {
					color: $text-gray;
				}
		    	.gsib_b {
				    padding-top: 3px;
				}
			}

			&.gsc-search-button {
				button.gsc-search-button.gsc-search-button-v2 {
					width: 51px;
				    height: 51px;
				    margin-top: 0;
				    border-radius: 0;
				    background: #00543c;

				    &::before {
				 		display: inline-block;
				 		content: "";
				 		position: relative;
				    	width: 24px;
				    	height: 25px;
				    	top: 0;
				    	left: -11px;
				    	bottom: 0;
				    	margin: auto 10px auto auto;
				    	background: url(/themes/custom/myusf/images/site/icons.png) no-repeat -196px -96px;
				    }

				    svg {
				    	display: none;
				    }
				}
			}
		}
	}
}

/* Search Results */

div#___gcse_1 {
	@include media-breakpoint-down(phone) {
		margin-top: -10px;
	}

	.gsc-control-cse {
		padding: 0;
	}

	.gsc-above-wrapper-area, .gsc-wrapper {
		margin-top: -20px;

		@include media-breakpoint-down(phone) {
				margin-top: -10px!important;
		}
		.gsc-resultsbox-visible {
			@include media-breakpoint-down(phone) {
				margin-top: -10px;
			}
		}

		table.gsc-above-wrapper-area-container {
			margin-top: 0;
			margin-bottom: 0;
		}
	}


	.gsc-control-cse .gs-result .gs-title * {
		font-size: 1.2rem!important;
	}

	.gs-fileFormat {
	    line-height: .1rem;
	    padding-bottom: 1.7rem;
	    padding-top:10px;
	}

	.gsc-table-cell-thumbnail {
		display: none;
	}

	.gcsc-more-maybe-branding-root {
		display: none;
	}

	.gsc-results.gsc-webResult {
		.gsc-webResult.gsc-result {
			margin-top:20px;
			border-bottom: 1px solid $light_gray;
			&:hover,
			&:focus {
				border-bottom: 1px solid $light_gray!important;
			}
			@include media-breakpoint-down(phone) {
				margin-top:10px;
			}
		}

		.gsc-result {
			&:hover,
			&:focus {
				border-left: 0;
			}
			td.gsc-table-cell-thumbnail {
			    display: none;
			}
			td.gsc-table-cell-snippet-close {
			    padding-left: 6px;
			}

			.gs-title {
				height: 2rem!important;
				 @include media-breakpoint-down(phone) {
				 	height: 100%!important;
				 	margin-bottom: 20px;
				 }
			}
			.gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-long {
			    font-size: .8rem;
			    margin-top:-8px;

			    @include media-breakpoint-down(phone) {
			    	line-height: 1.2 rem;
			    }
			}
			.gsc-url-top {
				 @include media-breakpoint-down(phone) {
			    	line-height: 1rem!important;
			    	margin-bottom:10px;
				}
			}
			table.gsc-table-result {
				@include media-breakpoint-down(phone) {
    				margin-bottom: 0;
				}
			}
			.gs-bidi-start-align.gs-snippet {
			    font-size: 1rem;
			    color:$text-gray;
			    margin-top:-5px;

				@include media-breakpoint-down(phone) {
					font-size: .9rem;
				}
			}
			.gsc-thumbnail-inside .gs-title, .gsc-thumbnail-inside .gs-title b {
				font-size: 1.2rem!important;
			    color:$green;
			    &:hover,
				&:focus {
					text-decoration: none;
					color:$black;
				}

				@include media-breakpoint-down(phone) {
					font-size: 1rem!important;
				}
			}
			.gsc-thumbnail-inside .gs-title {
				font-weight:600;
			}
			.gsc-thumbnail-inside .gs-title b {
				font-weight:700;
			}
		}
		.gsc-cursor-box.gs-bidi-start-align {
			border-top: 0!important;

			.gsc-cursor-page {
				margin-right: 18px;
			}
		}
	}

}


/* NEWS
=================== */

.author {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 30px;

    @include media-breakpoint-down(tablet) {
    	margin-right: 0px;
    }
}
.post-date {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h1.display-title, h1.title {
    font-size: 1.8rem;
    line-height: 2rem;
    @include media-breakpoint-down(tablet) {
    	font-size: 1.6rem;
    	line-height: 1.8rem;
    }
}
h2.sub-title {
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding-top: .2rem;
}
