@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$base-font:	'Open Sans', sans-serif !important;

/* COLORS 
=================================================*/

$white:			  #ffffff;
$true_black:	#000000;
$black: 		  #2A2A2A;
$gray:			  #919194;
$gray_medium:	#B2B2B4;
$text_gray:		#6B6B6B;
$light_gray:  #DDDAD1;
$light_gray_cold: #D6D7D9;  
$light_beige: #F3F0E4;
$beige:			  #DED5B4;
$blue:			  #007EA5;
$green:			  #00543C;
$lime:			  #080;
$olive:			  #687e31;
$orange:		  #c25400;
$plum:			  #8e0f75;
$tan:			    #996E3B;
$terra_cotta:	#b30000;
$turquoise:		#008575;
$yellow:		  #FDBB30;



$facebook:    #3b5998;
$flickr:      #a8228e;
$googleplus:  #dd5044;
$instagram:   #eb821e;
$linkedin:    #007bb6;
$pinterest:   #bd081c;
$tumblr:      #35465c;
$twitter:     #1da1f2;
$vimeo:       #1ab7ea;
$youtube:     #bb0000;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

/*$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
 
) !default;
*/
$grid-breakpoints: (
  phone: 0,
  landscape_phone: 576px,
  tablet: 768px,
  desktop: 992px,
  large_desktop: 1200px,
  xl_desktop: 1700px

) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

/*$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
*/
$container-max-widths: (
  landscape_phone: 540px,
  tablet: 720px,
  desktop: 960px,
  large_desktop: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");
