/* WYSIWYG styles
===================================================*/ 

.text-intro, .text_intro {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.48;
	padding-bottom: .25rem;
}

.note {
	font-size: .85rem;
	line-height: 1.17;
	padding-top: .5rem;
}

.caps {
    text-transform: uppercase;
}

.inline_cite, cite, .cite {
	font-size: .8rem;
	font-weight:300;

	color: $text_gray;
	line-height: 1.2;
	text-transform: uppercase;
	font-style: normal;

	display:block;
	text-align:right!important;
	padding-right: 3.75rem;
	padding-left: 2.5rem;
	padding-top: 0.625rem;
	padding-bottom: 1.25rem;

	@include media-breakpoint-down(tablet) { 
		padding-right: 1.25rem!important;
		padding-left: 2.5rem;
	}
}

.paragraph__column ul,
.event-description ul,
.node--type-announcement .field--type-text-with-summary ul {
	-webkit-padding-start: 1.25rem;
	padding-left: 1.25rem;
	overflow: hidden;

	@include media-breakpoint-down(phone) {
		-webkit-padding-start: 0;
		padding-left: 0;
	}

	li {
		position: relative;  
		list-style-type: none;	  	
	  	margin-right: 3.125rem;
	  	padding-left: 1.25rem;

	  	
	  	@include media-breakpoint-down(phone) {
	  		margin-right: 0;
	  	}

		&:before {
			font-size: 1rem;
			color: $yellow; 	
			content: "\25A0"; 			 
			text-align: right;			
		  	position: absolute;
		  	left: -32px;
		  	top: 0; 
		  	width: 26px;
		  	padding-left: 1.875rem;
	    }
	}

	ul li {
		margin-right: 0;
	}
}


.paragraph__column ol,
.event-description ol, 
.node--type-announcement .field--type-text-with-summary ol {

	li {
		position: relative;
		display:block;
		list-style-type:lower-latin;
	  	/* margin-right: 50px;*/

		&:before {
			font-weight:800;
		  	color: $olive;
			backface-visibility:hidden;
			content:counter(li) ". ";
			counter-increment:li;
		  	left: -39px;
		  	position: absolute;
		  	text-align: right;
		  	width: 26px;
	    }
	}

	ul li {
		position: relative;  
		list-style-type: none;	  	
	  	margin-right: 0px;
	  	padding-left: 1.25rem;		
	  	

		&:before {
			font-size: 1.1rem;
			color: $yellow; 	
			content: "\25A0"; 			 
			text-align: right;			
		  	position: absolute;
		  	left: -32px;
		  	width: 26px;
		  	padding-left: 1.875rem;
	  		display:inline-block;
			backface-visibility:hidden;
		    counter-increment: none;
		}
	}
}

.paragraph__column ol,
.event-description ol,
.node--type-announcement .field--type-text-with-summary ol {
	counter-reset:li;

	@include media-breakpoint-down(phone) {
		padding-left: 1.75rem;
	}
	@include media-breakpoint-only(tablet) {
		padding-left: 3rem;
	}
}

.paragraph__column img {
	max-width:100%;
	margin-bottom: 0.625rem;
}
.paragraph__column ol.carousel-indicators {
	padding-left: 0;

	li {
		&:before {
			content: normal;
		}
	}
}

#block-myusf-content ol.carousel-indicators, ul.pagination{
	li {
		&:before {
			color: transparent!important;
			
		}
	}
}

blockquote, blockquote p {
	font-size: .9rem;
	font-style: italic;
	line-height: 1.8;
	margin: 0.875rem 0;
}
 blockquote p {
    display: contents;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){  //IE
	blockquote p {
	 	display: ruby-text;
	}
}
@supports (-ms-ime-align: auto){   //Edge
	blockquote p {
	 	display: ruby-text;
	}
}
blockquote {
	position: relative;
	margin: 0;
	padding-left: 2.5rem;
	padding-right: 3.125rem;	

	@include media-breakpoint-down(phone) {
		padding: 0.625rem 0.625rem	0.625rem 1.25rem; 
	}
	
		&::before {
			font-size: 3.125rem;	
			font-weight: 700;
			color: $yellow;
			position: relative;
			top: 20px;
			right: 10px; 	
			content: "\201C";
			line-height: .1;
			font-style: normal;	   
		}

	/*	&::after {
			font-size: 50px;
			font-weight:bold;
			color: $yellow;
			position: relative; //was absolute
			top: 23px; //was 18px
			right: -10px; //was 15px
			content: "\201D";
			line-height: 0.1;
			font-style: normal;	
	}*/
}

.indent, .in_content_indent {
	padding: 0 2.75rem  0 1.5rem;

	@include media-breakpoint-up(tablet)  {
		padding: 0 4rem 0 2.75rem;
	}
}

.callout {
	margin: 0.375rem 0 2rem 0; 
	display: inline-block; 
	padding: 0.9375rem 0.9375rem 0 0.9375rem; 
	border-style: solid;
	border-width: 8px;
	border-color: $orange;

	@include media-breakpoint-down(landscape_phone)  {
		width:100%;
	}

	&.green {
		border-color: $green;
	}

	&.gray {
		border-color: $gray;
	}

	&.plum {
		border-color: $plum;
	}

	&.turquoise {
		border-color: $turquoise;
	}

	&.blue {
		border-color: $blue;
	}

	&.terra_cotta {
		border-color: $terra_cotta;
	}

	&.tan {
		border-color: $tan;
	}

	&.olive {
		border-color: $olive;
	}

	&.narrow {
		width:275px;
		
		@include media-breakpoint-down(landscape_phone)  {
			width:100%;
		}

		&.block-left,
		&.block_left {
			margin: 0.375rem 1.25rem 1.75rem 0;
		}

		&.block-right,
		&.block_right {
			margin: 0.375rem 0 1.75rem 1.25rem;
		}

		&.thin {
			border-width:1px;
		}
	}

	&.thin {
		border-width:1px;
	}

}
.callout-tinted {
	margin: 0 0 2rem 0; 
	display: inline-block; 
	padding: 0.9375rem; 
	background-color: transparentize($light_gray, .5);	

	&.narrow {
		width:275px;
		
		@include media-breakpoint-down(landscape_phone)  {
			width:100%;
		}
		&.block-left,
		&.block_left {
			margin: 0.375rem 1.25rem 1.56rem 0;
		}

		&.block-right,
		&.block_right {
			margin: 0.375rem 0 1.56rem 1.25rem;
		}
	}
}

p.callout,
h2.callout {
    padding-bottom: 0.9375rem;
}

img {
    margin-top: 0.4375rem;

	&.align-right {
    	margin-left: 1.5625rem;	
    	margin-bottom: 1rem;
    	width: unset;
	}
	&.align-left  {
    	margin-right: 1.5625rem;	
    	margin-bottom: 1rem;
    	width: unset;
	}
	&.align-center {
		margin-bottom: 1rem;
		width: unset;
	}
}
p img {
	@include media-breakpoint-down(landscape_phone)  {
		width: 100%!important;
		height: 100%;
	}
}
.caption-img {
	&.align-right {
	    margin-left: 1.5625rem;	
	}
	&.align-left {
	    margin-right: 1.5625rem;	
	}
}

figcaption {
    font-size: .8rem;
    font-style: italic;
    line-height: 1.25;
    margin: 0.3125rem 0.3125rem 0;
}

p.buttonMarginFix {
    margin-bottom: 0rem;
}

/* ==================================================================
	 Helpers
================================================================== */

.clear {
	clear: both;
}

.clearfix{
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		line-height: 0;
		visibility: hidden;
	}
}

.left,
.block_left,
img.block_left {
	float: left;
}

.block_left,
img.block_left {
	margin: 0 1.25rem 1.25rem 0;
}

.left {
	margin-right: 1.25rem;	
}
.right {
	margin-left: 1.25rem;	
}

.right,
.block_right,
img.block_right {
	float: right!important;
}

.block_right,
img.block_right {
	margin: 0 0 1.25rem 1.25rem;
}

.block_float_none,
img.block_float_none {
	float: none;
}

.block_float_none,
img.block_float_none {
	margin: 0 0 1.25rem 1.25rem;
}

.no_bullet {

	& li {
		padding-left: 0;
			
		&::before {
				display:none!important;
		}
	}      
}

img.file-icon {
	position: relative;
    margin-right: 0.3125rem;
    bottom: 0.3125rem;   
}



// VIDEO EMBED //
div[data-oembed-url] { 
     position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}
div[data-oembed-url]  > iframe {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.media-element { 
	max-width: 100%;
    height: auto;
	float: right; 
	margin: 0 0 1.25rem 1.25rem;
}

img.media-element.block_left { 
	float: left; 
	margin: 0 1.25rem 1.25rem 0;
}

img.media-element.block_right { 
	float: right; 
}

img.media-element.file-inline-medium {
	 @include media-breakpoint-down(phone) {
		float: none;
		width: 100%;
		margin-left: 0;
    }
}

.add-space {
	height: 2.5rem;
	@include media-breakpoint-down(phone) {
		height: 1.5rem;
	}
}



