/* ACCORDIAN (card) 
================================================ */

.card-header .panel-title a {
	font-family: $base-font;
	font-size: 1.0rem;
	font-weight: 700;
	margin-bottom: .5rem;
	line-height: 1.1;
	color: inherit;
	text-transform: uppercase;
	text-decoration: none;
}
