@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$base-font:	'Open Sans', sans-serif !important;

/* COLORS 
=================================================*/

$white:			#ffffff;
$true_black:	#000000;
$black: 		#2A2A2A;
$gray:			#919194;
$gray_medium:	#B2B2B4;
$text_gray:		#6B6B6B;

$beige:			#DED5B4;
$blue:			#007EA5;
$green:			#00543C;
$lime:			#080;
$olive:			#687e31;
$orange:		#c25400;
$plum:			#8e0f75;
$tan:			#996E3B;
$terra_cotta:	#b30000;
$turquoise:		#008575;
$yellow:		#FDBB30;
