.sitewide-alert {
  padding: 5px;
  background-color: #f5f5f5;
}

.sitewide-alert .close {
  float: right;
}

.sitewide-alert__message,
.sitewide-alert .field--name-message {
  /* Prevent the message from pushing down the close icon. */
  display: inline-block;
}
