/**
 * CSS for the USFB Addresses
 */
.form-item-country label {
  display: block;
}

/**
 * Clean up the Phone Number field
 */
.form-item-phone-code {
  width: 20%;
  float: left;
  padding-right: 1em;
}

.form-item-phone {
  float: left;
  width: 80%;
}

/**
 * Remove the required flag
 */
#addressfield-wrapper .form-required {
  display: none;
}

/**
 * Add an (optional) after the Address 2 label.
 */
#addressfield-wrapper .form-item-address-premise label::after {
  content: "(optional)";
}

/**
 * Hide the Last Address Update form.
 *
 * @todo Move this to PHP rather then CSS.
 */
#edit-field-usfb-address-date {
  display: none;
}
