// Import dynamic variables first

@import 'partials/functions';
@import 'partials/variables';
@import 'partials/media_queries';

// Import static elements after///
@import 'partials/normalize';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/boxes';
@import 'partials/buttons';
@import 'partials/navigation';
@import 'partials/components';


html, body { //fixes mobile view sliding left and right issue
	width: auto!important; 
	overflow-x: hidden!important
}

.container {
	width:94%;
	padding-left:2%;
	padding-right:2%;
	@include margin-L-R-auto;

	@include media-breakpoint-up(large_desktop) { 
		/*max-width: 100%!important;*/
	}

}

 .sidebar {
 	@include media-breakpoint-down(phone) {	
    	padding-left: 30px;
    	padding-right: 30px;
	}
}


.col-md-3{
	@include media-breakpoint-only(tablet) {
	    max-width: 256px;
    	float: right!important;
    	position: relative;
    	right: 0!important;
    	margin-right: -30px;
	}

	@include media-breakpoint-up(large_desktop) {
		max-width: 280px;
	}
}

.col-md-9 {
	@include media-breakpoint-only(tablet) {
		position: relative;
    	margin-left: -25px;
    	flex: 0 0 70%;
    	max-width: 70%;
	}
}
