
// Import dynamic variables first

@import 'partials/functions';
@import 'partials/variables';
@import 'partials/media_queries';
@import 'partials/wysiwyg';

// Import static elements after///
@import 'partials/normalize';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/boxes';
@import 'partials/buttons';
@import 'partials/navigation';
@import 'partials/components';
@import 'partials/forms';
@import 'partials/dashboard';




html, body { //fixes mobile view sliding left and right issue
	/*width: auto!important; 
	overflow-x: hidden!important;*/
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	margin-bottom: 0;
}
.visually-hidden {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.skip-link.visually-hidden.focusable:focus {
	position: relative !important;
	color: #fff;
	border-radius: 0;
}

:focus {
	outline: none;	 
}

:focus-visible,
nav a:focus-visible,
footer a:focus-visible,
button:focus-visible,
a.box-link:focus-visible,
a.button:focus-visible,
a.card-rollover:focus-visible,
a.dashboard-button:focus-visible,
a.login-btn:focus-visible,
a.visually-hidden.focusable.skip-link:focus-visible {
	@include focus-styles;
}
a:focus-visible,
nav.quick-links-nav a:focus-visible {
	outline: solid 3px $color-focus-dark;
	background-color: $color-focus-light;
	box-shadow: none;
}
#main {
	margin-bottom: 1.875rem;
}
main#content {
    margin-bottom: 1.5rem;
}
#block-myusf-content {
    margin-top: .3125rem;
}
.row {
	@include media-breakpoint-down(phone) {
		margin-right: -0.9375rem;
    	margin-left: -0.625rem;
	}
}
.container{
	width:calc(100% - 30px);
	/*padding-left: 30px;
	padding-right: 30px;*/
	/*@include margin-L-R-auto;*/

	margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    
   /*	@include media-breakpoint-down(phone) {
    	width: 342px;
	}
	&.dons-connect {
		@include media-breakpoint-down(phone) {
			width:calc(100% - 30px);
		}
	}*/
	@include media-breakpoint-only(tablet)  { 
		width: 97%;
		padding-left: 1.5%;
		padding-right: 1.5%;
	}
	@include media-breakpoint-only(desktop) {
		/*max-width: 1060px;*/
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
	@include media-breakpoint-only(large_desktop) {
		/*max-width: 90%;*/
	}
	@include media-breakpoint-down(xl_desktop) {
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
}

.col {
	@include media-breakpoint-only(tablet) {
		max-width: 70%;
		flex-basis: auto;
	}
}
.community-col {
	@include media-breakpoint-only(tablet) {
		max-width: 100%;

	}
}
.col.dashboard {
	@include media-breakpoint-only(tablet) {
		max-width: 100%;
	}
}
.col-auto {
	padding-left: 0;
	padding-right: 0;
}
.page-node-139634, .page-node-140134 {
	.display-title {
		font-size:0;
		position: absolute;
	}
	.col { //Only for Home page
		@include media-breakpoint-down(tablet) {
	    	max-width: 100%!important;
		}
	}
}
.col-lg-3 {
	@include media-breakpoint-up(desktop) {
		/*max-width: unset;*/
		max-width: 220px;
		&.order-last {
			max-width: 270px;
		}
	}
	@include media-breakpoint-up(large_desktop) {
		max-width: 270px;
	}
	@include media-breakpoint-down(tablet) {
		&#sidebar_first {
		    margin-bottom: 1.875rem;	
		}
	}
}
.col-md-3 { /*.col-lg-3*/
	
	@include media-breakpoint-up(desktop) {
		/*max-width: unset;*/
		max-width: 220px;
		&.order-last {
			max-width: 270px;
		}
	}
	@include media-breakpoint-up(large_desktop) {
		max-width: 270px;
	}
	@include media-breakpoint-only(tablet) {
	    max-width: 256px;
    	float: right!important;
    	position: relative;
    	right: 0!important;

    	&.order-last {
    		flex: 0 0 100%;
    		/*max-width: 100%!important;*/
    		width:250px;
    			margin-top: 1.875rem!important;
    			margin-bottom: 0!important;   		
    	}
	}
	@include media-breakpoint-only(landscape_phone) {
		&.order-last {
			margin-top: 1.875rem;
    		margin-bottom: 1.875rem;
			img {
				width:250px;
			}
		}
	}
	@include media-breakpoint-down(phone) {
		&.order-last {
			margin-top: 1.875rem!important;
		}
	}
}

.col-md-9 {
	@include media-breakpoint-only(tablet) {
		position: relative;
    	margin-left: -1.5625rem;
    	flex: 0 0 70%;
    	max-width: 70%;
    	
    	#main-wrapper {
			margin-bottom: 100px;
		}
	}
	@include media-breakpoint-down(landscape_phone) {
		#main-wrapper {
			margin-bottom: 13.4375rem;
		}
	}	
	@include media-breakpoint-down(phone) {
		#main-wrapper {
			margin-bottom: 12.8125rem;
		}
	}	
}

.col-sm {
	@include media-breakpoint-down(phone) {
		    width: 99.8%;
	}
}

.node__content {
	@include media-breakpoint-up(landscape_phone) {
		margin-top: -0.3125rem;
	}
	@include media-breakpoint-down(phone) {
		margin-top:0;
	}
}

.paragraph>.paragraph__column {
    padding: 0;
}
.paragraph>.paragraph__column:first-of-type {
	padding-top: 0;
}

.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col {
	padding-left: 0 !important;
}
.paragraph--type--bp-columns__2col {
	padding-right: 0!important;

	&:nth-child(even) {
		@include media-breakpoint-down(landscape_phone) {
			margin-left: 0px;
		}

		@include media-breakpoint-up(desktop) {
			margin-left: 0.625rem;
		}
		@include media-breakpoint-up(phone) {
			margin-left: 0.4375rem;
		}
	}
	&:nth-child(odd) {
		@include media-breakpoint-down(landscape_phone) {
			margin-right: 0px;
		}
		@include media-breakpoint-up(desktop) {
			margin-right: 0.625rem;
		}
		@include media-breakpoint-up(phone) {
			margin-right: 0.4375rem;
		}
	}
}

/* HOME PAGE */
.view-usf-news-tiles .view-content.row,
.view-twitter-tiles .view-content.row,
.view-instagram-tiles .view-content.row {
    margin-left: 0;
    margin-right: 0;

    @include media-breakpoint-down(phone) {
    	width: 300px;
    	margin-left: auto;
    	margin-right: auto;
    }
}
.sidebar.order-last {
	#block-homepagerightcolumnadsetc {
		.field--type-text-with-summary {
			max-width: 100%;
		}
	}
	.block {
		padding: 0!important;
	}
}

iframe {
	max-width: 100%;
}

.acc-visuallyhidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.acc-visuallyhiddenDashboardH1 {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
}