
// Import dynamic variables first

@import 'partials/functions';
@import 'partials/variables';
@import 'partials/media_queries';
@import 'partials/wysiwyg';

// Import static elements after///
@import 'partials/normalize';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/boxes';
@import 'partials/buttons';
@import 'partials/navigation';
@import 'partials/components';
@import 'partials/forms';
@import 'partials/dashboard';




html, body { //fixes mobile view sliding left and right issue
	/*width: auto!important; 
	overflow-x: hidden!important;*/
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	margin-bottom: 0;
}
#main-wrapper {
	margin-bottom: 80px;
}

.container{
	/*width: 96%;*/
	width:calc(100% - 30px);
	/*padding-left: 30px;
	padding-right: 30px;*/
	@include margin-L-R-auto;

	@include media-breakpoint-only(tablet)  { 
		width: 97%;
		padding-left: 1.5%;
		padding-right: 1.5%;
	}
	@include media-breakpoint-only(desktop) {
		/*max-width: 1060px;*/
		padding-left: 15px;
		padding-right: 15px;
	}
	@include media-breakpoint-only(large_desktop) {
		/*max-width: 90%;*/
	}
	@include media-breakpoint-down(xl_desktop) {
		max-width: 1500px		
	}
}

.col {
	@include media-breakpoint-only(tablet) {
		max-width: 70%;
		flex-basis: auto;
	}
}
.col.dashboard {
	@include media-breakpoint-only(tablet) {
		max-width: 100%;
	}
}
.col-auto {
	padding-left: 0;
	padding-right: 0;
}
.page-node-139634, .page-node-140134 {
	.display-title {
		font-size:0;
		position: absolute;
	}
	.col { //Only for Home page
		@include media-breakpoint-only(tablet) {
	    	max-width: 100%!important;
		}
	}
}

.col-md-3{
	@include media-breakpoint-only(tablet) {
	    max-width: 256px;
    	float: right!important;
    	position: relative;
    	right: 0!important;

    	&.order-last {
    		flex: 0 0 100%;
    		/*max-width: 100%!important;*/
    		width:250px;
    		margin-bottom: 50px!important;
    	}
	}
	@include media-breakpoint-only(landscape_phone) {
		&.order-last {
			width:250px;
		}

	}
	@include media-breakpoint-up(desktop) {
		/*max-width: unset;*/
		max-width: 220px;
	}
	@include media-breakpoint-up(large_desktop) {
		max-width: 270px;
	}
}

.col-md-9 {
	@include media-breakpoint-only(tablet) {
		position: relative;
    	margin-left: -25px;
    	flex: 0 0 70%;
    	max-width: 70%;
    	
    	#main-wrapper {
			margin-bottom: 100px;
		}
	}
	@include media-breakpoint-down(landscape_phone) {
		#main-wrapper {
			margin-bottom: 215px;
		}
	}	
	@include media-breakpoint-down(phone) {
		#main-wrapper {
			margin-bottom: 205px;
		}
	}	
}

.col-sm {
	@include media-breakpoint-down(phone) {
		    width: 99.8%;
	}
}

.node__content {
	@include media-breakpoint-up(landscape_phone) {
		margin-top: -10px;
	}
}

.paragraph>.paragraph__column {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top:1.5rem;
}

.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col {
	padding-left: 0 !important;
}


/* HOME PAGE */
.view-usf-news-tiles .view-content.row,
.view-twitter-tiles .view-content.row,
.view-instagram-tiles .view-content.row {
    margin-left: 0;
    margin-right: 0;

    @include media-breakpoint-down(phone) {
    	width: 300px;
    	margin-left: auto;
    	margin-right: auto;
    }
}
