
<div id="main-wrapper" class="layout-main-wrapper clearfix">
    <div id="main" class="container">
        <div class="row clearfix">

            <main class="main-content col" id="content" role="main">
                <section class="section">
                    <div id="block-myusf-content" class="block block-system block-system-main-block">
                        <div class="content">
                                    <h1 class="display-title">404 Error</h1>
                            <p>The requested page could not be found.</p>
                                    <div>
                                            <div class="paragraph__column">


                                                <!-- For the myUSF only results: -->

                                                <script>
                                                    // For results depending on cx string
                                                    (function() {
                                                        var cx = '005959802884155210049:zgpaemt7_ow';
                                                        var gcse = document.createElement('script');
                                                        gcse.type = 'text/javascript';
                                                        gcse.async = true;
                                                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                                        var s = document.getElementsByTagName('script')[0];
                                                        s.parentNode.insertBefore(gcse, s);
                                                    })();
                                                </script>

                                                <div>
                                                    <style>.gsc-adBlock {display:none !important;}.gsc-above-wrapper-area {border: none !important;}</style>
                                                    <gcse:searchbox-only></gcse:searchbox-only>
                                                    <hr>
                                                    <gcse:searchresults-only></gcse:searchresults-only></div>
                                            </div>

                                            </div>
                                        </div>

                        </div>
                    </div>
                </section>
        </main>
    </div>
</div>

