
    <ul class="footer-nav">
      <li class="footer-item"> <a class="footer-link" href="#">USFCA</a> </li>    
      <li class="footer-item"> <a class="footer-link" href="#">Mobile</a> </li>   
      <li class="footer-item"> <a class="footer-link" href="#">Library</a> </li>
      <li class="footer-item"> <a class="footer-link" href="#">Directions</a> </li>
      <li class="footer-item"> <a class="footer-link" href="#">Contact</a> </li>
      <li class="footer-item"> <a class="footer-link" href="#">Feedback</a> </li>   
      <li class="footer-item"> <a class="footer-link" href="#">Policies</a> </li>     
      <li class="footer-item"> <a class="footer-link" href="#">Title IX</a> </li>
      <li class="footer-item"> <a class="footer-link" href="#">Web Accessibility</a> </li>
    </ul>

  <a class="logo" href="http://myusf.usfca.edu"></a>    


