/* Rate widget numberupdown CSS */

.numberupdown-rating-wrapper {
  display: inline;
  padding: 0px;
}

div.numberupdown > form > table > tbody > tr.rating-table-tr {
  border: none;
}

div.numberupdown > form > table > tbody > tr > td.rating-table-td {
  border: none;
  padding: 0px;
}

div.numberupdown-rating-wrapper > div.form-type-radio {
  display: inline;
  padding: 0px;
}

/* Deafault button styles, override in widget settings */
div.numberupdown-rating-wrapper > div > label.numberupdown-rating-label {
  display: inline-block;
  padding: 0px;
}

div.numberupdown-rating-wrapper > div > label.numberupdown-rating-label-up:before {
  display: inline;
  font-size: 1.2em;
  font-family: FontAwesome;
  content: "\f067";
}

div.numberupdown-rating-wrapper > div > label.numberupdown-rating-label-down:before {
  display: inline;
  font-size: 1.2em;
  font-family: FontAwesome;
  content: "\f068";
}

div.numberupdown-rating-wrapper > div > label.numberupdown-rating-label:hover,
div.numberupdown-rating-wrapper > div > label.numberupdown-rating-label:active,
div.numberupdown-rating-wrapper > div > label.numberupdown-rating-label:focus {
  color: #666;
  cursor: pointer;
}

div.numberupdown-rating-wrapper > div > div.rating-option-result {
  display: inline;
  text-align: center;
  padding: 5px;
}

input.numberupdown-rating-input {
  display: none;
}

button.numberupdown-rating-submit {
  display: none;
}

input.numberupdown-rating-submit {
  display: none;
}
