/* Rate widget thumbsup CSS */

.thumbsup-rating-wrapper {
  display: inline;
  padding: 0px;
}

div.thumbsup > form > table > tbody > tr.rating-table-tr {
  border: none;
}

div.thumbsup > form > table > tbody > tr > td.rating-table-td {
  border: none;
  padding: 0px;
}

div.thumbsup-rating-wrapper > div.form-type-radio {
  display: inline;
  padding: 0px;
}

/* Deafault button styles, override in widget settings */
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label {
  display: inline-block;
  padding: 0px;
}

div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label-up:before {
  display: inline;
  font-size: 1.8em;
  font-family: FontAwesome;
  content: "\f087";
}

div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:hover,
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:active,
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:focus {
  color: #666;
  cursor: pointer;
}

div.thumbsup-rating-wrapper > div > div.rating-option-result {
  display: inline;
  text-align: center;
  padding: 5px;
}

input.thumbsup-rating-input {
  display: none;
}

button.thumbsup-rating-submit {
  display: none;
}

input.thumbsup-rating-submit {
  display: none;
}
