{% for links in content.field_social_media_links %}
    {% for link in links['#paragraph'].field_social_media_network %}
        <p><a class="{{ link.value|lower }}" href="{{ links['#paragraph'].field_social_media_url.uri }}">{{ link.value }}</a></p>
    {% endfor %}
{% endfor %}

{#{{ dump(content.field_social_media_links.0['#paragraph'].field_social_media_network) }}#}
